main.page-main
  h3.mb-2
    | 交通のご案内

  .ml-3
    h4
      | 電車の場合
    p.mb-3
      | JR東海道線 岐阜駅北口を出てタクシー約１５分。
      br
      |  (※川原町を目指して来ていただければ途中にあります。)

    h4
      | 自動車の場合
    p.mb-3
      | 関インターチェンジから10km
      br
      |  (※岐阜公園・川原町方面へ向かってください。)

  h3
    | 周辺地図
  iframe[src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3250.806930036562!2d136.76709721527132!3d35.434812451054185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x6003a96031533e6d%3A0xa7bf343ee8758aa0!2z44CSNTAwLTgwMjkg5bKQ6Zic55yM5bKQ6Zic5biC5p2x5p2Q5pyo55S677yT77yX!3m2!1d35.4348081!2d136.7692859!5e0!3m2!1sja!2sjp!4v1471959695817" width="600" height="400" frameborder="0" style="border-width : 1px;border-style : solid;" allowfullscreen]
