address
  dl
    dt 会社名
    dd 株式会社ホームメイド
    dt 郵便番号
    dd 〒500-8029
    dt 所在地
    dd 岐阜市東材木町37-2
    dt 代表
    dd 臼井常雄
    dt 電話
    dd
      a href="tel:058-262-5694"
        | 058-262-5694
    dt FAX
    dd 058-262-5689
    dt 携帯
    dd
      a href="tel:090-8451-0238"
        | 090-8451-0238
    dt メール
    dd
      a href="mailto:usui_@kaeru.gr.jp?subject=%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b" usui_@kaeru.gr.jp
