address
  dl
    dt 株式会社ホームメイド
    dt 〒500-8029
    dt 岐阜市東材木町37-2
    dt 代表者 臼井常雄
    dt
      | 電話&nbsp;
      a href="tel:058-262-5694"
        | 058-262-5694
    dt FAX 058-262-5689
    dt
      | 携帯&nbsp;
      a href="tel:090-8451-0238"
        | 090-8451-0238
    dt
      | メール&nbsp;
      a href="mailto:contact@homemade-reform.com?subject=%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b" contact@homemade-reform.com
