main.page-main
  input.datepicker
  input.datepicker

  h3.s-title
    | Calendars
  /   a.anchor aria-hidden="true" href="#calendars"  #
  / .docs-ad.docs-ad-sidebar.text-center
  /   script#_carbonads_js async="" src="https://cdn.carbonads.com/carbon.js?serve=CK7DTKQW&amp;placement=picturepan2githubio" type="text/javascript"
  p Calendars are designed for date or date range picker and events display. It is made with flex layout.
  .calendar.col-4
    .calendar-nav.navbar
      button.btn.btn-action.btn-link.btn-lg
        i.icon.icon-arrow-left
      .navbar-primary 平成30年 9月
      button.btn.btn-action.btn-link.btn-lg
        i.icon.icon-arrow-right

    .calendar-nav.navbar
      button.btn.btn-action.btn-link.btn-lg
        i.icon.icon-arrow-left
      .navbar-primary March 2018
      button.btn.btn-action.btn-link.btn-lg
        i.icon.icon-arrow-right

    / createCalendar
    .calendar-container
      .calendar-header
        .calendar-date Sun
        .calendar-date Mon
        .calendar-date Tue
        .calendar-date Wed
        .calendar-date Thu
        .calendar-date Fri
        .calendar-date Sat
      .calendar-body
        .calendar-date.prev-month
          button.date-item 26
        .calendar-date.prev-month
          button.date-item 27
        .calendar-date.prev-month
          button.date-item 28
        .calendar-date
          button.date-item 99
        .calendar-date
          button.date-item 2
        .calendar-date
          button.date-item 3
        .calendar-date.tooltip data-tooltip="Today"
          button.date-item.date-today 4
        .calendar-date.tooltip data-tooltip=("Not available")
          button.date-item disabled=""  5
        .calendar-date
          button.date-item 6
        .calendar-date
          button.date-item 7
        .calendar-date.tooltip data-tooltip=("You have appointments")
          button.date-item.badge 8
        .calendar-date
          button.date-item 9
        .calendar-date
          button.date-item 10
        .calendar-date
          button.date-item 11
        .calendar-date
          button.date-item 12
        .calendar-date
          button.date-item 13
        .calendar-date
          button.date-item 14
        .calendar-date
          button.date-item 15
        .calendar-date.calendar-range.range-start
          button.date-item 16
        .calendar-date.calendar-range
          button.date-item 17
        .calendar-date.calendar-range
          button.date-item 18
        .calendar-date.calendar-range
          button.date-item 19
        .calendar-date.calendar-range.range-end
          button.date-item 20
        .calendar-date
          button.date-item 21
        .calendar-date
          button.date-item 22
        .calendar-date
          button.date-item 23
        .calendar-date
          button.date-item 24
        .calendar-date
          button.date-item 25
        .calendar-date
          button.date-item 26
        .calendar-date
          button.date-item 27
        .calendar-date
          button.date-item 28
        .calendar-date
          button.date-item 29
        .calendar-date
          button.date-item 30
        .calendar-date
          button.date-item 31
        .calendar-date.next-month
          button.date-item 1
