  h1.mb-2 会社方針
  h2
    | 経営理念
  p.mb-3
    | 「 住む人の愛が溢れる、生命（いのち）が活きる、歓びの住まいづくりに貢献する。」
  h3
    | コンセプト
  p
    | 「ホームメイド」の考えるリフォーム
    ol
      li
        | 未来の家族のために世代を超えて、安心して住める家
      li
        | 使い慣れた家の思い出はそのままに、使い勝手のいい家
      li
        | 家族の絆を深めることができる、愛情の溢れる家
      li
        | 大切な家族を守り、お客様と一緒に作り上げる家
      li
        | 夢を叶える、幸せの法則が生かされている家
  p.mb-3
    | そんな素敵なリフォームだから・・・
    br
    | ○ 「嬉しいリフォーム」
    br
    |  ○ 「楽しいリフォーム」
    br
    |  ○ 「ありがたいリフォーム」 を合言葉にしています。

  h3
    | 「ホームメイド」に込めた意味
  p.mb-3
    | 「ホームメイド(Homemade)」を翻訳すると「手製の、自家製の、国産の」という意味です。また、お手製(手作り)という意味で、ホーム(Home)は「家」、まで(Made)には、総合的なという意味を込めました。ホーム(Home)は家族を表し、家族を育む良い環境、空間を作り上げるという願いを込めています。色合いは家の畳の色を基調に、安らぎや団欒、温かみを込めています。

  h3
    | 会社方針
  p
    | 「ホームメイド」は 今まで手掛けられなかったリフォームの新しいご提案を掲げています。わたくしどもは最初は材木屋から始まり、外壁のリフォーム、店舗の改修工事、一戸建て新築工事、畳の入れ替えから建具・襖の張り替えまで、様々な建築工事に携わってまいりました。
    br
    |  そんな時に、ふと考えた事がありました。
    br
    |  「木部のメンテナンスや塗装、木をデザインした癒し空間などの木に関するアフターやメンテナンス、木を生かしたリフォームやサポート業務が後回しになっている!!」ことに気付きました。
    br
    |  木の文化は1000年も続いている。木材の歴史と伝統を新しいかたちで、今の時代に甦らせて行けないだろうか? そんなリフォームができないだろうかと考えるようになりました。
    br
    |  そこで木材のことなら、一番理解している材木屋の仲間と、リフォームを知り尽くした建築の仲間がひとつになって、このリフォーム事業を立ち上げることになりました。

  h3.mt-3
    | リフォームへの想い
  p
    | リフォームの仕事をするようになっていつも思うことがあります。工事が完了して、お客様のお家が綺麗になって、使いやすくなって良かったなぁ…。と思っていただける、その瞬間の笑顔を見たときです。この仕事をさせて頂いて本当に良かったと思える、一番幸せを感じられる一瞬です。そんな嬉しいことに巡り会えるのがリフォームの仕事だと思います。

  h3.mt-3
    | 代表からのメッセージ
  .president_message
    .card-image
      img.img-responsive src="assets/images/member0.jpg"
    .card-body
      p
        | ホームメイドは、新しいリフォームのかたち、「嬉しいリフォーム」「楽しいリフォーム」「ありがたいリフォーム」をコンセプトに立ち上がりました。
        br
        |  畳・ふすまの入れ替えから、クロスの張り替え、内装工事、水回りの改修工事、外壁の塗装、外壁木部の塗装、雨漏り、外構工事などもお任せ下さい。
        br
        |  お家の中でお困りがありましたらお気軽にご連絡ください。リフォームのプロが、お客様のご要望にお応えしてすぐにお伺いします。
      p.text-right
        |  二級建築施工管理技士　臼井常雄
