h1
  | 採用情報
p
  | ホームメイドでは、以下の人材を募集しています。
dl
  dt
    | 募集職種
  dd
    | 訪問営業
  dt
    | 募集対象
  dd
    | やる気のある方
  dt
    | 勤務地
  dd
    | 岐阜市近郊
  dt
    | 給与
  dd
    | 完全歩合制
  dt
    | 諸手当
  dd
    | フルコミッション
  dt
    | 勤務時間
  dd
    | 9:00〜18:00
  dt
    | 休日休暇
  dd
    | フレックス
  dt
    | 応募方法
  dd
    | 履歴書と職務経歴書をメールまたは郵送でお送りください。
  dt
    | 送付先
  dd
    | 〒500-8029
  dd
    |  岐阜市東材木町37-2
  dd
    |  TEL. 090-8451-0238
  dd
    |  FAX. 058-262-5689
  dd
    |  E-mail.
    a[href="mailto:contact@homemade-reform.com"]
      | contact@homemade-reform.com
  dd
    |  担当者 臼井
