footer.page-foot
  nav
    ul
      li
        a href="privacy.html"  個人情報保護方針
      / li
      /   a href="law.html"      特定商取引法に関する記述
  p
    a href="index.html" Copyright&copy; 株式会社ホームメイド. All Rights Reserved.
