header.page-head
  h1.header-catch-copy
    | 株式会社 ホームメイドは 木部や一般外壁の防水塗装・木部補修工事・水回り・内装クロス・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。

  .header-info
    .frame
      .border
        a#logo href="../index.html"
          h1
            | 株式会社
            span
              | ホームメイド
    address.address
      span.phone
        a href="tel:058-262-5694"
          span.fas.fa-phone.fa-fw.fa-rotate-180
          | 058-262-5694
      br
      span.location
        | 〒500-8029 岐阜市東材木町37-2
