main.page-main
  .card
    .card-header
      .card-title.h3
        | ホームメイド
      .card-subtitle.text-gray
        | 「嬉しいリフォーム、楽しいリフォーム、ありがたいリフォーム」をあなたに。
    .card-body
      p
        | 　ホームメイドは、建築リフォームを専門とする会社です。伝統的木造住宅の外壁塗装、漆喰の塗替え、床の張替えから水回りまで、どんなご要望にもお応えするリフォームのスペシャリストです。

  // サムネイル
  / h3.mt-2.pt-2 施工実績
  / .results
  include _results

  / include _portfolio

  / h3.mt-2.pt-2 施工情報
  / include _thumbnails
  / include _new_work_information

  / h3 新着情報
  / include _new_arrival_information

  article
    .card.mt-2
      .card-header
        .card-title.h3
          | ホームメイド
        .card-subtitle.text-success
          | お客様のご要望をオリジナルプランに変えて
      .card-body

        p.message
         |　「ホームメイド」は、お客様のご要望をオリジナルプランに変えて、楽しいリフォームを実現して行く会社です。伝統的な技術をもとに、自由な発想で新しいリフォームに挑戦します。
         br
         | 　畳・ふすまのリニューアルから玄関ドアの入れ替え、ユニットバスやシステムキッチンなどの水回りの改修工事。外壁・外構、木部の塗装から補修まであらゆる角度から、「やって良かった嬉しいリフォーム」の心をお客様にご提案します。
         br
         | 　そんな家づくりのホームパートナー・ホームメイドを今後ともよろしくお願い致します。
