main.page-main
  h1.mb-3 特定商取引法に関する記述

  .law
    dl
      dt
        | 会社名
      dd 株式会社 ホームメイド
      dt
        | 代表取締役
      dd 臼井 常雄
      dt
        | 所在地
      dd
        | 〒500-8029
        br
        | 岐阜市東材木町37-2
      dt
        | 連絡先
      dd
        | TEL. 090-8451-0238　FAX. 058-262-5689
        br
        | E-mail.
        a href="mailto:contact@homemade-reform.com" contact@homemade-reform.com
      dt
        | 販売価格
      dd
        | 商品毎に表示しています
      dt
        | 送料
      dd 商品の大きさにより異なります。
      dt
        | 注文方法
      dd 電話、FAX、メール
      dt
        | 支払方法
      dd
        | [銀行振込]
        br/
        | お支払いは先払いでお願い致します。
        br/
        | 銀行振込手数料はお客様にてご負担願います。
      dt
        | 商品配送
      dd
        | 日本国内に限ります。ただし離島等一部地域へはお届けできない場合があります。
        br/
        | また、通常は注文後7日以内にお届けいたします。
      dt
        | 返品について
      dd
        | 万が一運送時の商品の破損または注文と違う商品が到着の場合は、責任を持ってお取り替えさせていただきます。商品到着後７日以内に、宅配便にて送料弊社着払いでご返送下さい。
        br/
        | 上記の場合以外のお取り替え・返品はお受けいたしかねますが、商品到着時にご不明点等ございましたら、E-mailまたはお電話でお知らせ下さい。
