dl
  dt
    | 2017年12月18日
  dd
    | ホームメイドを法人化。
    b
      | 株式会社 ホームメイド
    | になりました。
  dt
    | 2017年 8月20日
  dd
    | M邸の外塀防水塗装工事は
    a href="mokubut/mokubut8_20.html"
      | 完工
    | しました。
  dt
    | 2017年 4月3日
  dd
    | H邸の外塀防水塗装は
    a href="seko4_3.html"
      | 完工
    | しました。
  dt
    | 2017年 3月28日
  dd
    | H邸の木製玄関手摺は
    a href="mokubut/mokubut328.html"
      | 完工
    | しました。
  dt
    | 2016年11月18日
  dd
    | N邸の外塀防水塗装は
    a href="mokubut/mokubut5.html"
      | 完工
    | しました。
  dt
    | 2016年10月24日
  dd
    | K邸の木部塗装は
    a href="mokubut/mokubut3.html"
      | 完工
    | しました。
  dt
    | 2016年10月7日
  dd
    | K邸の
    a href="mokubut/mokubut.html"
      | 木部塗装
    | が始まりました。
  dt
    | 2016年10月1日
  dd
    | ホームメイドの
    a href="sekoo3.html"
      | ビフォー⇒アフター
    | をアップしました。
  dt
    | 2016年9月28日
  dd
    | ホームメイドの
    a href="sekoo1.html"
      | 施工事例詳細
    | をアップしました。
  dt
    | 2016年9月1日
  dd
    | ホームメイドの
    a href="index.html"
      | 新しいホームページ
    | を開設しました。
  dt
    | 2016年8月31日
  dd
    | 岐阜の城下町に「リフォーム相談の窓口」をオープンしました。
  dt
    | 2016年8月20日
  dd
    | 城下町、木の家の補修塗装の相談コーナーを設置しました。
