section#portfolio.section-bg
  .container
    header.section-header
      h3.section-title 施工実績
    .row
      .col-12
        ul#portfolio-flters
          li.filter-active data-filter="*"     全　　て
          li data-filter=".filter-renovation"  大 規 模
          li data-filter=".filter-easily"      簡　　易
          li data-filter=".filter-restore"     台風直し
          li data-filter=".filter-tile"        瓦・屋根
          li data-filter=".filter-wall"        外　　壁
          li data-filter=".filter-other"       そ の 他
          
  .portfolio-container.thumbnails
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-05-07.html"
            img.img-responsive src="reform/R01-05-07/fk8.jpg"
        .card-header
          .card-title.h5
            | F邸 外壁塗装 木部取替補修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="R01-05-06.html"
            img.img-responsive src="reform/R01-05-06/15621.jpg"
        .card-header
          .card-title.h5
            | T邸 外壁塗装 コーキング取換工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-03-14.html"
            img.img-responsive src="reform/H31-03-14/n015.jpg"
        .card-header
          .card-title.h5
            | N邸洗面所の床張替
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-03-04.html"
            img.img-responsive src="reform/H31-03-04/rt5.jpg"
        .card-header
          .card-title.h5
            | H邸 外壁サイディング張替工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-02-25.html"
            img.img-responsive src="reform/H31-02-25/u004.jpg"
        .card-header
          .card-title.h5
            | S邸の土台・壁補修
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-02-16.html"
            img.img-responsive src="reform/H31-02-16/d8.jpg"
        .card-header
          .card-title.h5
            | H邸ドローンでの屋根検査
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-02-15.html"
            img.img-responsive src="reform/H31-02-15/n5.jpg"
        .card-header
          .card-title.h5
            | 猫脱走防止扉取付工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-01-25.html"
            img.img-responsive src="reform/H31-01-25/2024.jpg"
        .card-header
          .card-title.h5
            | Y邸水回り・内装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H31-01-01.html"
            img.img-responsive src="reform/H31-01-01/y227.jpg"
        .card-header
          .card-title.h5
            | Y邸デッキ・通し柱補修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-11-09.html"
            img.img-responsive src="reform/H30-11-09/s1_9.jpg"
        .card-header
          .card-title.h5
            | K邸台所・風呂・洗面所・外壁改修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-11-07.html"
            img.img-responsive src="reform/H30-11-07/k23.jpg"
        .card-header
          .card-title.h5
            | K邸幕板板金補修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-11-06.html"
            img.img-responsive src="reform/H30-11-06/h38.jpg"
        .card-header
          .card-title.h5
            | H邸 外壁・屋根防水塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-09-29.html"
            img.img-responsive src="reform/H30-09-29/sz9.jpg"
        .card-header
          .card-title.h5
            | S邸 塀板金改修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-09-27.html"
            img.img-responsive src="reform/H30-09-27/ume9.jpg"
        .card-header
          .card-title.h5
            | U邸 屋根板金工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-09-24.html"
            img.img-responsive src="reform/H30-09-24/yd7.jpg"
        .card-header
          .card-title.h5
            | Y邸 デッキ補修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-08-08.html"
            img.img-responsive src="reform/H30-08-08/ys011.jpg"
        .card-header
          .card-title.h5
            | Y邸 板塀設置工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-07-23.html"
            img.img-responsive src="reform/H30-07-23/ski0722_07.jpg"
        .card-header
          .card-title.h5
            | S邸 軒天張替工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-22.html"
            img.img-responsive src="reform/H30-05-22/ak00015.jpg"
        .card-header
          .card-title.h5
            | A邸 屋根板金・漆喰補修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-21.html"
            img.img-responsive src="reform/H30-05-21/yak00016.jpg"
        .card-header
          .card-title.h5
            | YAK邸 クロス貼り替え工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-20.html"
            img.img-responsive src="reform/H30-05-20/ot26.jpg"
        .card-header
          .card-title.h5
            | O邸 駐車場の屋根塗装・板金工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-19.html"
            img.img-responsive src="reform/H30-05-19/kat26.jpg"
        .card-header
          .card-title.h5
            | K邸 瓦補修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-15.html"
            img.img-responsive src="reform/H30-05-15/ot27.jpg"
        .card-header
          .card-title.h5
            | O邸 駐車場の屋根塗装・板金工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-05-12.html"
            img.img-responsive src="reform/H30-05-12/yyk30.jpg"
        .card-header
          .card-title.h5
            | Y邸 瓦補修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-08.html"
            img.img-responsive src="reform/H30-04-08/hy555_9.jpg"
        .card-header
          .card-title.h5
            | H邸 外壁・屋根防水塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-H.html"
            img.img-responsive src="reform/H30-04-02-H/kp06.jpg"
        .card-header
          .card-title.h5
            | Y邸 カーポートグラスシート張り付け工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-G.html"
            img.img-responsive src="reform/H30-04-02-G/kt15_2.jpg"
        .card-header
          .card-title.h5
            | Y邸 台所改修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-F.html"
            img.img-responsive src="reform/H30-04-02-F/kp06.jpg"
        .card-header
          .card-title.h5
            | Y邸 カーポートグラスシート張り付け工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-E.html"
            img.img-responsive src="reform/H30-04-02-E/rk003.jpg"
        .card-header
          .card-title.h5
            | Y邸 廊下改修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-D.html"
            img.img-responsive src="reform/H30-04-02-D/tl004.jpg"
        .card-header
          .card-title.h5
            | Y邸 トイレ改修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-C.html"
            img.img-responsive src="reform/H30-04-02-C/rk004.jpg"
        .card-header
          .card-title.h5
            | 廊下改修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-B.html"
            img.img-responsive src="reform/H30-04-02-B/tl005.jpg"
        .card-header
          .card-title.h5
            | トイレ改修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-04-02-A.html"
            img.img-responsive src="reform/H30-04-02-A/kt15_2.jpg"
        .card-header
          .card-title.h5
            | 台所改修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H30-01-21.html"
            img.img-responsive src="reform/H30-01-21/ni00028.jpg"
        .card-header
          .card-title.h5
            | Ni邸 外塀防水塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-12-22.html"
            img.img-responsive src="reform/H29-12-22/110n9.jpg"
        .card-header
          .card-title.h5
            | 屋内塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-11-11.html"
            img.img-responsive src="reform/H29-11-11/hss1.jpg"
        .card-header
          .card-title.h5
            | H邸 外壁防水塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-11-06.html"
            img.img-responsive src="reform/H29-11-06/an9.jpg"
        .card-header
          .card-title.h5
            | N邸 木塀改修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-09-11.html"
            img.img-responsive src="reform/H29-09-11/yt59.jpg"
        .card-header
          .card-title.h5
            | Y邸 外壁の防水塗装・構造材補強工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-09-01.html"
            img.img-responsive src="reform/H29-09-01/yd8.jpg"
        .card-header
          .card-title.h5
            | MD邸 外壁防水塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-08-26.html"
            img.img-responsive src="reform/H29-08-26/i9i.jpg"
        .card-header
          .card-title.h5
            | I邸 瓦吹き替え工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-05-28.html"
            img.img-responsive src="reform/H29-05-28/nokit31.jpg"
        .card-header
          .card-title.h5
            | M邸外壁・屋根防水他リフォーム工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-05-20.html"
            img.img-responsive src="reform/H29-05-20/ski0722_07.jpg"
        .card-header
          .card-title.h5
            | M邸 玄関軒天・駐車場防水塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-04-20.html"
            img.img-responsive src="reform/H29-04-20/yj3.jpg"
        .card-header
          .card-title.h5
            | MM邸外壁・屋根防水塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H29-02-26.html"
            img.img-responsive src="reform/H29-02-26/i134.jpg"
        .card-header
          .card-title.h5
            | H邸 木部塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H28-10-31.html"
            img.img-responsive src="reform/H28-10-31/ni38.jpg"
        .card-header
          .card-title.h5
            | N邸 外壁防水塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H28-10-08.html"
            img.img-responsive src="reform/H28-10-08/ssa12.jpg"
        .card-header
          .card-title.h5
            | K邸 木部外壁塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H28-09-22.html"
            img.img-responsive src="reform/H28-09-22/ab5.jpg"
        .card-header
          .card-title.h5
            | S邸 外壁防水塗装工事
          p.lineclamp
            |
      .card.portfolio-item.filter-others.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H28-09-19.html"
            img.img-responsive src="reform/H28-09-19/y9.jpg"
        .card-header
          .card-title.h5
            | M邸 改修工事
          p.lineclamp
            |
      .card.portfolio-item.filter-wall.filter-easily.wow.fadeInUp data-wow-delay="0.1s"
        .card-image
          a href="H28-08-31.html"
            img.img-responsive src="reform/H28-08-31/i5.jpg"
        .card-header
          .card-title.h5
            | 木部外壁塗装工事
          p.lineclamp
            | 木部の外壁塗装の施工手順です。現場調査を行い、足場を組みます。高圧洗浄（水洗い）後に、専用洗浄液による色抜きを行います。風雨に晒され、傷んでいた外壁でしたが、元の美しい木肌を取り戻し、輝いています。
