aside.page-aside
  ul.list-unstyled
    / li
    /   a href="#" style="background-image: url('assets/images/signboard_big_reform.png'); width: 20vw; height: 10vw; background-size: cover; display: inline-block;"
    / li
    /   a href="#" style="background-image: url('assets/images/signboard_small_reform.png'); width: 20vw; height: 10vw; background-size: contain; display: inline-block;"

      / a href="#" style="background-image: url('assets/images/signboard.jpg'); width: 20vw; height: 10vw; background-size: contain; display: inline-block; font-size: 36px; padding-top: calc(10vw-18px); color: black;"
      /   | 大規模改修
    / li
    /   a href="#"
    /     img.img-responsive src="assets/images/side_exterior_wall_coating.png" alt="木部外壁塗装の手順" style="max-width: 30vw;"
    /     / img.img-responsive src="assets/images/signboard.jpg"
    / li
    /   a href="#"
    /     / img.img-responsive src="assets/images/side_before_after.png" alt="ビフォーアフター"
    /     img.img-responsive src="assets/images/signboard.jpg"
    / li
    /   a href="#"
    /     img.img-responsive src="assets/images/signboard3.png"

  .card
    .card-header
      .card-title.show-desktop
        h5.text-left
          | ホームメイドで
        h5.text-right
          | 嬉しいリフォーム
      .card-title.show-mobile
        h5
          | ホームメイドで 嬉しいリフォーム
    .card-body
      include _address_compact
