/ 施工事例 サムネイル リンクを各施工過程へのファイルへ
.thumbnails
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak01.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak02.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak03.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak04.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak05.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak06.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak07.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak08.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak09.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak10.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak11.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak12.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak13.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak14.jpg"
  a.thumbnail href="#"
    img src="assets/images/y/thumbnail/ak15.jpg"
