.card
  .card-image
    a.colorbox href="assets/images/works/work01.jpg" title="外壁ガルバ張替え"
      img.img-responsive src="assets/images/works/work01.jpg" alt="外壁ガルバ張替え"
  .card-header
    .card-title.h5
      | 外壁ガルバ張替え
  .card-body
    p
      | 構造材から、下地までしっかりと施行しました。

.card
  .card-image
    a.colorbox href="assets/images/works/work02.jpg" title="木の外壁も美しく蘇る"
      img.img-responsive src="assets/images/works/work02.jpg" alt="木の外壁も美しく蘇る"
  .card-header
    .card-title.h5
      | 木の外壁も美しく蘇る
  .card-body
    p
      | 伝統的な継手の構造を更に美しく仕上げています。

.card
  .card-image
    a.colorbox href="assets/images/works/work03.jpg" title="木部の美しさをパワーアップ"
      img.img-responsive src="assets/images/works/work03.jpg" alt="木部の美しさをパワーアップ"
  .card-header
    .card-title.h5
      | 木部の美しさをパワーアップ
  .card-body
    p
      | 自然素材をしっかりと守ります

.card
  .card-image
    a.colorbox href="assets/images/works/work04.jpg" title="軒天の張替え"
      img.img-responsive src="assets/images/works/work04.jpg" alt="軒天の張替え"
  .card-header
    .card-title.h5
      | 軒天の張替え
  .card-body
    p
      | 庇垂木の塗装と化粧軒天に張替え

.card
  .card-image
    a.colorbox href="assets/images/works/work05.jpg" title="新築当時に勝る美しさを再現"
      img.img-responsive src="assets/images/works/work05.jpg" alt="新築当時に勝る美しさを再現"
  .card-header
    .card-title.h5
      | 新築当時に勝る美しさを再現
  .card-body
    p
      | 駐車場から、化粧垂木、化粧軒天まで美しく仕上げます。

.card
  .card-image
    a.colorbox href="assets/images/works/work06.jpg" title="人気カラーでバッチリ仕上げ"
      img.img-responsive src="assets/images/works/work06.jpg" alt="人気カラーでバッチリ仕上げ"
  .card-header
    .card-title.h5
      | 人気カラーでバッチリ仕上げ
  .card-body
    p
      | 新築の美しさをもう一度、そんなご希望にお応えします。

.card
  .card-image
    a.colorbox href="assets/images/works/work07.jpg" title="淡いピンクの壁面仕上げ"
      img.img-responsive src="assets/images/works/work07.jpg" alt="淡いピンクの壁面仕上げ"
  .card-header
    .card-title.h5
      | 淡いピンクの壁面仕上げ
  .card-body
    p
      | オシャレな桜色の外壁に変身

.card
  .card-image
    a.colorbox href="assets/images/works/work08.jpg" title="ガルバ仕様で雨風をガード"
      img.img-responsive src="assets/images/works/work08.jpg" alt="ガルバ仕様で雨風をガード"
  .card-header
    .card-title.h5
      | ガルバ仕様で雨風をガード
  .card-body
    p
      | 雨漏りや風にも安心して居住できる仕様です。

.card
  .card-image
    a.colorbox href="assets/images/works/work09.jpg" title="板塀の木質感に心も和む"
      img.img-responsive src="assets/images/works/work09.jpg" alt="板塀の木質感に心も和む"
  .card-header
    .card-title.h5
      | 板塀の木質感に心も和む
  .card-body
    p
      | 雨仕舞いは、笠木とパッキングで土台を守ります

.card
  .card-image
    a.colorbox href="assets/images/works/work10.jpg" title="ブロック塀も美しく蘇る"
      img.img-responsive src="assets/images/works/work10.jpg" alt="ブロック塀も美しく蘇る"
  .card-header
    .card-title.h5
      | ブロック塀も美しく蘇る
  .card-body
    p
      | 青空にピッタリのホワイトとブルーで仕上げました。

.card
  .card-image
    a.colorbox href="assets/images/works/work11.jpg" title="内装木部の塗装"
      img.img-responsive src="assets/images/works/work11.jpg" alt="内装木部の塗装"
  .card-header
    .card-title.h5
      | 内装木部の塗装
  .card-body
    p
      | 室内木部の階段、額縁、窓枠も新築当時の光沢に

.card
  .card-image
    a.colorbox href="assets/images/works/work12.jpg" title="カーポートのシートの取付"
      img.img-responsive src="assets/images/works/work12.jpg" alt="カーポートのシートの取付"
  .card-header
    .card-title.h5
      | カーポートのシートの取付
  .card-body
    p
      | 既存のカーポートにグラスシートの取付け
