/* colors */
:root {
  --amairo:    #2ca9e1; /* header    */
  --usuzakura: #fdeff2; /* nav       */
  --kurenai:   #d7003a; /* nav hover */
  --kogane:    #e6b422; /* main      */
  --wakaba:    #b9d08b; /* side      */
  --sorairo:   #a0d8ef; /* footer    */

  /* color: rgba(44, 169, 225, 0.3);
  color: rgba(253, 239, 242, 0.3);
  color: rgba(215, 0, 58, 0.3);
  color: rgba(230, 180, 34, 0.3);
  color: rgba(185, 208, 139, 0.3);
  color: rgba(160, 216, 239, 0.3); */

  --header-color:    rgba(44, 169, 224, 0.2);
  --nav-color:       rgba(253, 239, 242, 0.2);
  --nav-hover-color: rgba(215, 0, 58, 0.2);
  --main-color:      rgba(230, 180, 34, 0.2);
  --side-color:      rgba(185, 208, 139, 0.2);
  --footer-color:    rgba(160, 216, 239, 0.2);

/* bootstrap 4 */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

}

$hiwamoegi: #82ae46;
$header-catch-copy: $hiwamoegi; // 鶸萌黄(ひわもえぎ)

$amairo: #2ca9e1;
$hisui:  #38B48B; // 翡翠色
$kompeki: #007BBB;

$tokiwa-midori: #028760; // 常盤緑
$fuka-midori:   #00552E; // 深緑
