.show-mobile  { display: block !important;  }
.hide-mobile  { display: none !important; }

.hide-desktop { display: block !important;  }
.show-desktop { display: none !important; }

/* ##### 画面の横幅568ピクセル以上 ##### */
@media (min-width: 568px) {
  .show-mobile  { display: none !important;  }
  .hide-mobile  { display: block !important; }

  .hide-desktop { display: none !important;  }
  .show-desktop { display: block !important; }
}

dd {
  text-indent: 1rem;
}

// https://qiita.com/yama-t/items/9cddf3f8240b3f6138a1
.bright {
  position: relative;
  display : inline-block;
  overflow: hidden;
  &:before {
    content         : "";
    background-color: rgba(255, 255, 255, 0.4);
    height          : 100%;
    width           : 100%;
    display         : block;
    position        : absolute;
    top             : 0;
    left            : -160%;
    transform       : skewX(-45deg) translateX(0);
  }
  &:hover:before {
    transform : skewX(-45deg) translateX(320%);
    transition: all 0.4s ease-in-out;
  }
}

/* 写真の額縁
   ======================================================================= */
/* 【CSS3】で写真に色々装飾を加えてみた http://taneppa.net/css3_01/ */
.photo-frame {
  // padding: 7px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 1px 1px 5px rgba(20,20,20,0.2); /* 影 横位置 縦位置 ぼかし幅 色 */
  // filter: sepia(100%);
  // transform:rotate(-3deg);
}

.carousel .img-responsive {
  width: 100vw;
}

label.required:after {
  content: "*";
  color: #e85600;
}

.list-unstyled {
  list-style: none;
}

.pagination {
  justify-content: flex-end;
}

.pagination .page-item a:focus,
.pagination .page-item a:hover {
  color: #028760;
}

.pagination .page-item.active a {
  background: #028760;
}

.tab .tab-item a:focus,
.tab .tab-item a:hover {
  color: #028760;
}

.tab .tab-item.active a,
.tab .tab-item a.active {
  border-bottom-color: #028760;
  color: #028760;
}

// colorbox
a.colorbox {
  text-decoration: none;
}

.president_message {
  background: #fff;
  border: .05rem solid #e7e9ed;
  border-radius: .1rem;
  display: grid;
  flex-direction: none;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.75rem;
  padding: 0.75rem;

  .card-image {
    grid-columns: 1;
  }
  .card-body {
    grid-columns: 2;
    flex: none;
  }
}

.message {
  columns: 2 360px;
  column-gap: 2rem;
  padding: 0.5rem 1rem;
}

article {
  // position: absolute;
  .card {
    // position: relative;
    /* margin-top: auto; */
  }
}
