doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.13.0 for Windows"]
    title
      | 木部塗装の工程 - ホームメイド
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 木製玄関手摺り・木部外壁防水塗装工事の工程
              span.en
                | WOOD PAINT
          #hpb-main
            #recruit
              p.large
                | 木部塗装完工写真集　H邸　
              dl
                dt
                  | 完工（After）↓ 3/28　
                dd
                  | 南側全景
                  img[src="1nk1.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 北側全景
                  img[src="1nk2.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 東側全景
                  img[src="1nk3.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28 
                dd
                  | 西側全景
                  img[src="1nk4.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 車庫全景
                  img[src="1nk5.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 車庫全景
                  img[src="1nk6.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 玄関木製手摺り
                  img[src="1nk7.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 玄関木製手摺り
                  img[src="1nk8.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 玄関木製手摺り
                  img[src="1nk10.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 玄関木製手摺り
                  img[src="1nk9.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 木製玄関扉
                  img[src="1nk11.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 玄関木製手摺り
                  img[src="1nk12.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 軒天・庇
                  img[src="1nk14.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 軒天・庇
                  img[src="1nk15.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 軒天・庇
                  img[src="1nk16.jpg" width="400" height="266" border="0"]
                dt
                  | 完工 ↓3/28
                dd
                  | 軒天・庇
                  img[src="1nk17.jpg" width="400" height="266" border="0"]
              |  　
              img[src="1nk20.jpg" width="616" height="4" border="0"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url('top_banner_1Ad_04.png');"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
