doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.13.0 for Windows"]
    title
      | 施工事例 - ホームメイド
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | ビフォー ⇒ アフター
              span.en
                | BEFORE⇒AFTER
          #hpb-main
            #service
              h3
                | H邸の木部防水塗装　施工前 ⇒ 施工後
              b
                font[size="3"]
                  | ◆ 現調（Before) ⇒ 完成（After）
              br
              br
              p
                img.left[src="11a1.jpg" width="202" height="151" alt="現調写真撮り" align="left" style="padding-top : 0px;"]
                img.left[src="8.jpg" width="40" height="28" alt="外壁"]
                img.left[src="11a2.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 外木製玄関手摺り 
                | かなり傷みがひどく、腐食も進んでいましたので、取り替えて、笠木をつけ水切りを良くしました。
              hr
              p
                img.left[src="11a4.jpg" width="202" height="151" alt=""]
                img.left[src="8.jpg" width="40" height="28" alt="外壁"]
                img.left[src="11a5.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 外部にある物置 
                | 汚れをペーパで落としながら念入りに刷毛で仕上げていきます。
              hr
              p
                img.left[src="11a3.jpg" width="202" height="151" alt="現調写真撮り" align="left" style="padding-top : 0px;"]
                img.left[src="8.jpg" width="40" height="28" alt="木製デッキ"]
                img.left[src="11a3_.jpg" alt="木製の空気抜け" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 外壁建具の塗装 
                | 網戸も変えて建具を丁寧に刷毛で仕上げます。色村が内容に何回も重ね塗りを行います。
              hr
              p
                img.left[src="11a6.jpg" width="202" height="151" alt=""]
                img.left[src="8.jpg" width="40" height="28" alt="木製デッキ"]
                img.left[src="11a7.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 木製デッキ
                | の場合は3年〜5年を目安に小まめに塗装をして木部が腐食する前に塗らないと、デッキの面影もなく朽ちてしまいます。塗料としてはキシラデコールがよく使われています。
              hr
              p
                img.left[src="11a12.jpg" width="202" height="151" alt=""]
                img.left[src="8.jpg" width="40" height="28" alt="木製デッキ"]
                img.left[src="11a13.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 桁、木、母屋
                | 桁・母屋・垂木などの構造材は刷毛塗り仕上げます。色を合わせるために何回も重ねて塗って行きます。　
              hr
              p
                img.left[src="11a14.jpg" width="202" height="151" alt=""]
                img.left[src="8.jpg" width="40" height="28" alt="木製デッキ"]
                img.left[src="11a15.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 木製の外壁は
                | 汚れが重なってくると黒くなってしまいます。色抜きをして、再度塗る場合と前の色より濃い色を使って痛みを目立たないように仕上げます。木部専用のキシラデコールが使われます。
              |  　
              hr
              p
                img.left[src="11a16.jpg" width="202" height="151" alt=""]
                img.left[src="8.jpg" width="40" height="28" alt="木製デッキ"]
                img.left[src="11a17.jpg" alt="南面外壁" width="202" height="151"]
                |  ○ 
                font[color="#ff0000"]
                  | 木製の建具
                | 　北面の建具もシッカリ塗装、細かな塗りは刷毛を使って手塗りで何回も塗り重ねていきます。
              h3
                b
                  br
                  br
                  br
                  br
              p
                b
                  | H邸木部外壁防水塗装工事詳細は
                  a[href="mokubut226.html"]
                    | こちら
              hr
              #pagetop
                a[href="#hpb-container" title="このページの先頭へ"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url('top_banner_1Ad_04.png');"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
