doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 株式会社 ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
    script[type="text/javascript" src="jquery.min.js"]

    script[type="text/javascript" language="JavaScript"]

  body#hpb-template-01-01d-01.hpb-layoutset-01
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | 株式会社 ホームメイドは 木部防水塗装・木部補修工事・一般外壁防水塗装・水回り・内装クロス・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title.hpb-top-image
            h2
              | リフォームの楽しさと喜びをかたちにする。新しい発想のライフスタイルと嬉しさをご提案します
          #hpb-main
            #toppage
              p
                | ※ ホームメイドは、建築リフォームを専門とする会社です。伝統的木造住宅の木部の外壁塗装、漆喰の塗替え、床の張替えから水回りまで、どんなご要望にもお応えするリフォームのスペシャリストです。(Iphone用ページは
                a[href="http://www.kaeru.gr.jp/hm/sp1"]
                  | こちら
                | )
              #toppage-topics
                h3
                  | TOPICS 2019
                |  　 
                font[color="#990000"]
                  b
                    | ※ ビフォーアフターでこんなに変わる！
                  | （写真クリックでビフォーへ）
                b
                  font[color="#ff0000"]
                    | 2019/8/15更新
                    br
                table[cellpadding="0" style="margin-top : 0px;margin-right : 0px;margin-bottom : 0px;border-width : 0px;border-style : none;border-color : white;"]
                  tbody
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;" colspan="4" bgcolor="#e8e8e8"]
                        font[color="#000099"]
                          |   大規模リフォーム
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="11_9_1.html"]
                          img[src="12_25/k_000.jpg" width="121" height="86" border="0"]
                      td[valign="top" style="text-align : center;" align="center"]
                        |  
                        a[href="ref9_11.html"]
                          img[src="y/ya0111.jpg" width="120" height="83" border="0"]
                      td[style="text-align : center;" align="center" valign="top"]
                        a[href="mokubut528.html"]
                          img[src="y/2a16.jpg" width="120" height="83" border="0"]
                      td[valign="top" style="border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;
	text-align : center;
"]
                        |  
                        a[href="2019_1_1.html"]
                          img[src="2019_1_1/y100.jpg" width="121" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;" colspan="4" bgcolor="#e8e8e8"]
                        font[color="#000099"]
                          | 簡易リフォーム
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="01_5_6.html"]
                          img[src="01_5_1/rfs1.jpg" width="121" height="86" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                      td[valign="middle" style="text-align : center;" align="center"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref12_22.html"]
                          img[src="y/2a19.jpg" width="120" height="83" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        |  
                        a[href="ref4_3_kt.html"]
                          img[src="y/kt016.jpg" width="124" height="83" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        |  
                        a[href="ref4_3.html#%23111"]
                          img[src="y/rk004.jpg" width="124" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref5_23.html"]
                          img[src="ap/yak01.jpg" width="120" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="refwaka9_23.html"]
                          img[src="w/y5y.jpg" width="120" height="86" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        |  
                        a[href="ref11_11.html"]
                          img[src="y/2a18.jpg" width="120" height="83" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        |  
                        a[href="refysw7_15.html"]
                          img[src="w/y1y1.jpg" width="120" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="ref4_3.html"]
                          img[src="y/tl005.jpg" width="124" height="83" border="0"]
                        |  
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="ref4_3_kp.html"]
                          img[src="y/kp01.jpg" width="126" height="83" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        |  
                        a[href="ref5_15.html"]
                          img[src="y/ot1.jpg" width="120" height="86" border="0"]
                      td[valign="middle" style="text-align : center;" align="center"]
                        |  
                        a[href="2019_1_25.html"]
                          img[src="1_25/2013.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="2019_3_14.html"]
                          img[src="u3_14/n000.jpg" width="121" height="86" border="0"]
                    tr
                      td[valign="middle" style="text-align : center;" align="center" colspan="4" bgcolor="#e8e8e8"]
                        font[color="#000099"]
                          |  台風による直し
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="refys10_20.html"]
                          img[src="w/kn00.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="11_7_1.html"]
                          img[src="11_7/k000.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="refwaka9_27.html"]
                          img[src="w/ume00.jpg" width="120" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="refwaka9_29.html"]
                          img[src="w/sz10.jpg" width="120" height="86" border="0"]
                        |  
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;" colspan="4" bgcolor="#e8e8e8"]
                        font[color="#000099"]
                          | 瓦・屋根工事   
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="refkwi8_26.html"]
                          img[src="w/i000i.jpg" width="120" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="ref6_24.html"]
                          img[src="imgs/kat1.jpg" width="120" height="86" border="0"]
                        |  
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="refys7_4.html"]
                          img[src="imgs/yyk01.jpg" width="120" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-bottom-width : 0px;border-right-style : none;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref5_22.html"]
                          img[src="y/ak0011.jpg" width="120" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;" colspan="4" bgcolor="#e8e8e8"]
                        font[color="#000099"]
                          |    外壁・壁防水塗装・外壁板金・コーキング工事
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="2019_3_5.html"]
                          img[src="2019_3_4/h000.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="01_5_4.html"]
                          img[src="5_30/ht00.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="01_7_22.html"]
                          img[src="r1_7_22/1000.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-bottom-width : 0px;border-right-style : none;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="01_8_13.html"]
                          img[src="8_13/t0001.jpg" width="121" height="86" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="mokubut226.html"]
                          img[src="y/2a15.jpg" width="120" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="11_6.html"]
                          img[src="11_5/h00.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        img[src="y/2a14.jpg" width="120" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-bottom-width : 0px;border-right-style : none;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="sekoo2.html"]
                          img[src="imgs/ys000.jpg" width="120" height="86" border="0"]
                        |  
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="2019_2_24.html"]
                          img[src="u_225/si0.jpg" width="121" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="refski7_22.html"]
                          img[src="imu/ski00.jpg" width="120" height="86" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref01_21.html"]
                          img[src="y/2qa21.jpg" width="120" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-bottom-width : 0px;border-right-style : none;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="ref12_02h.html"]
                          img[src="y/2a22.jpg" width="120" height="83" border="0"]
                    tr
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        a[href="mokubut5.html"]
                          img[src="y/2a17.jpg" width="120" height="83" border="0"]
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="ref9_30.html"]
                          img[src="y/2a12.jpg" width="120" height="83" border="0"]
                        |  
                      td[valign="middle" align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="mokubut424.html"]
                          img[src="y/2a11.jpg" width="120" height="86" border="0"]
                        |  
                      td[valign="middle" align="center" style="text-align : center;border-right-width : 0px;border-bottom-width : 0px;border-right-style : none;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a[href="refh_3_31.html"]
                          img[src="y/hss1.jpg" width="120" height="83" border="0"]
                        |  
                |  　　 　　　 　　　 　　　 　　　 　　　 　　　 　　　 
                ul
                  li
                    font[color="#ff0000"]
                      b
                        | ↑
                      | 完成写真をクリックで工程写真へ
                    |  　　　 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
    p
      a[href="sp1/index.html"]
        | スマートフォン版
