doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 会社方針-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 会社方針
              span.en
                | CONCEPT
          #hpb-main
            #concept
              h3
                font[size="3"]
                  | 経営理念
              font[size="3"]

              p
                font[size="3"]
                  br
                  font[size="3"]
                    | 「 住む人の愛が溢れる、生命（いのち）が活きる、歓びの住まいづくりに貢献する。」
                    br
                    br
              h3
                font[size="3"]
                  font[size="3"]
                    | コンセプト
              p
                font[size="3"]
                  font[size="3"]

              p
                font[size="3"]
                  font[size="3"]
                    br
                    font[size="3"]
                      | 「ホームメイド」の考えるリフォーム
                      br
                      br
                      |  １、未来の家族のために世代を超えて、安心して住める家。
                      br
                      |  ２、使い慣れた家の思い出はそのままに、使い勝手のいい家。
                      br
                      |  ３、家族の絆を深めることができる、愛情の溢れる家。
                      br
                      |  ４、大切な家族を守り、お客様と一緒に作り上げる家。
                      br
                      |  ５、夢を叶える、幸せの法則が生かされている家。
                      br
                      br
                    font[color="#660000" size="3"]
                      | そんな素敵なリフォームだから・・・
                      br
                    font[size="3"]
                      | ○ 「嬉しいリフォーム」
                      br
                      |  ○ 「楽しいリフォーム」
                      br
                      |  ○ 「ありがたいリフォーム」 を合言葉にしています。
                      br
              hr
              h3
                font[size="3"]
                  font[size="3"]
                    | Home made 【意味】
              p
                font[size="3"]
                  font[size="3"]

              p
                font[size="3"]
                  font[size="3"]
                    br
                    font[size="3"]
                      | 【Homemade】の翻訳は手製の，自家製の;国産の
                      br
                      br
                      |  という意味です。また、お手製（手作り）という意味でHome（家）・made(まで）総合的な、という意味。Homeは家族を表し、家族を育てる良い環境、空間をを作り上げるという意味を持つ。カラーは家の畳の色をベースに、安らぎや団らん温かみを込めました。 
                      br
              hr
              h3
                font[size="3"]
                  font[size="3"]
                    font[size="3"]
                      | 会社方針
              p
                font[size="3"]
                  font[size="3"]

              p
                font[size="3"]
                  font[size="3"]
                    font[size="2"]
                      br
                      |  「ホームメイド」は 今まで手掛けてこれなかったリフォームの新しいご提案を掲げています。私ども最初は材木屋から始まり、外壁のリフォーム、店舗の改修工事、一戸建て新築工事、畳の入れ替えから建具・襖の張り替えまで、様々な建築工事に携わってまいりました。
                      br
                      br
                      |  そんな時に、ふと考えた事がありました。
                      br
                      |  「木部のメンテナンスや塗装、木をデザインした癒し空間などの木に関するアフターやメンテナンス、木を生かしたリフォームやサポート業務が後回しになっている!!」ことに気付きました。
                      br
                      br
                      |  木の文化は1000年も続いている。木材の歴史と伝統を新しいかたちで、今の時代に甦らせて行けないだろうか? そんなリフォームができないだろうかと考えるようになりました。
                      br
                      |  そこで木材のことなら、一番理解している材木屋の仲間と、リフォームを知り尽くした建築の仲間がひとつになって、このリフォーム事業を立ち上げることになりました。
              p
                font[size="3"]
                  font[size="3"]

              hr
              h3
                font[size="3"]
                  font[size="3"]
                    | CEOメッセージ
              p
                font[size="3"]
                  font[size="3"]
                    br
                    img.left[src="concept-CEO.jpg" alt="CEO" width="200" height="211"]
              p
                font[size="3"]
                  font[size="3"]
                    font[size="2"]
                      | ホームメイドは、新しいリフォームのかたち、「嬉しいリフォーム」「楽しいリフォーム」「ありがたいリフォーム」をコンセプトに立ち上がりました。
                      br
                      br
                      |  畳・ふすまの入れ替えから、クロスの張り替え、内装工事、水回りの改修工事、外壁の塗装、外壁木部の塗装、雨漏り、外構工事などもお任せ下さい。
                      br
                      br
                      |  お家の中でお困りがありましたらお気軽にご連絡ください。リフォームのプロが、お客様のご要望にお応えしてすぐにお伺いします。
                      br
                      br
                      |  二級建築施工管理技士　臼井常雄
              p
                font[size="3"]
                  font[size="3"]

              hr
              h3
                font[size="3"]
                  font[size="3"]
                    | 会社沿革
              |  　　 
              dl
                dt
                  font[size="3"]
                    font[size="3"]
                      | 2017年 
                dd
                  font[size="3"]
                    font[size="3"]
                      | 12月18日 株式会社 ホームメイドを設立。法人化しました。 
                dt
                  font[size="3"]
                    font[size="3"]
                      | 2016年 
                dd
                  font[size="3"]
                    font[size="3"]
                      | ９月「嬉しいリフォーム」のご提案ができる会社ホームメイドを設立。 
                dt
                  font[size="3"]
                    font[size="3"]
                      | 2016年 
                dd
                  font[size="3"]
                    font[size="3"]
                      | 8月 ホームメイドのホームページ開設。 
                dt
                  font[size="3"]
                    font[size="3"]
                      | 2015年 
                dd
                  font[size="3"]
                    font[size="3"]
                      | 外壁・外構・水回り・内装工事等の改修工事やメンテナンスの仕事を学ぶ 
                dt
                  font[size="3"]
                    font[size="3"]
                      | 2013年 
                dd
                  font[size="3"]
                    font[size="3"]
                      | リフォームに、外壁塗装・木部塗装・改修工事メンテナンスの仕事を加える。 
                dt
                  font[size="3"]
                    font[size="3"]
                      | 2010年 
                dd
                  font[size="3"]
                    font[size="3"]
                      | リフォームの施工経験を積むため、工務店などの仕事を熟す。 
                dt
                  font[size="3"]
                    font[size="3"]
                      | 2008年 
                dd
                  font[size="3"]
                    font[size="3"]
                      | 間伐材活用を目的としたヒノキの間伐材パネル
                      a[href="http://s-wood.jp/"]
                        | 「エスウッド」
                      | の販売。 
                dt
                  font[size="3"]
                    font[size="3"]
                      | 2005年 
                dd
                  font[size="3"]
                    font[size="3"]
                      | 愛知万博の森のイベントに合唱曲でのPR「森からのおくりもの」
                dt
                  font[size="3"]
                    font[size="3"]
                      | 1999年 
                dd
                  font[size="3"]
                    font[size="3"]
                      | 日本木材青壮年会全国大会（名古屋）のオープニングで鶯谷高校音楽科生徒さん達による合唱「森からのおくりもの」
                dt
                  font[size="3"]
                    font[size="3"]
                      | 1998年 
                dd
                  font[size="3"]
                    font[size="3"]
                      font[size="3"]
                        font[size="3"]
                          | 木材業界の活性化と木造住宅PRのための唄 作詞・作曲
                          a[href="http://www.kaeru.gr.jp/uta2.htm"]
                            | 「森からのおくりもの」MIDI音源で曲が流れます）
                    font[size="3" color="#224d2d"]
                      font[size="3" color="#224d2d"]
                        font[size="3" color="#224d2d"]
                      |  NECムジカノーヴァ音楽祭 作曲賞受賞
              #pagetop
                font[size="3"]
                  font[size="3"]
                    a[href="#hpb-container"]
                      | このページの先頭へ
              p
                font[size="3"]
                  font[size="3"]

        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
