@charset "Shift_JIS";

/* 要素リセット */
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 75%;
    font-family: 'メイリオ' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    color: #666666; /* 標準文字色 */
    min-width: 900px;
}
/* Safari用ハック 文字サイズ調整 */
/*\*/
html:first-child body{
    font-size: 70%;
}
/* end */

img{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

/*--------------------------------------------------------
  レイアウト設定
--------------------------------------------------------*/
#hpb-container{
    background-image : url(fbg_1Ad.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    position: relative;
}

#hpb-header{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 94px;
}

#hpb-inner{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    clear: both;
}

.hpb-layoutset-02 #hpb-wrapper{
    width: 650px;
    padding-top: 53px;
    float: left;
}

.hpb-layoutset-01 #hpb-title{
    height: 260px;
    margin: 0px;
    padding: 0;
}

.hpb-layoutset-02 #hpb-title
{
}

#hpb-main{
    width: 650px;
    float: left;
    text-align: left;
}

.hpb-layoutset-01 #hpb-main{
    padding-top: 20px;
}

#hpb-aside{
    width: 220px;
    float: right;
    padding-bottom: 50px;
}

.hpb-layoutset-02 #hpb-aside{
    margin-top: 39px;
}

#hpb-footer{
    width: 900px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-top: 50px;
}

.hpb-layoutset-01 #hpb-nav{
    width: 900px;
    height: 38px;
    overflow: hidden;
    position: absolute;
    top: 220px;
    left: 0px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
}

.hpb-layoutset-02 #hpb-nav{
    width: 900px;
    height: 38px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
}


/*--------------------------------------------------------
  デザイン設定
--------------------------------------------------------*/
/* 背景設定 */
.hpb-layoutset-01{
    background-image : url(bg_1Ad_01_01.png);
    background-position: top left;
    background-repeat: repeat-x;
}

.hpb-layoutset-02{
    background-image : url(bg_1Ad_01_02.png);
    background-position: top left;
    background-repeat: repeat-x;
}


/* コンテンツ配置領域 */

/* ナビゲーション */
#hpb-nav ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    list-style-type: none;
    text-align: left;
}

#hpb-nav ul::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#hpb-nav li{
    float: left;
    display: inline;
    font-size: 13px;
    line-height: 38px;
    height: 38px;
    overflow: hidden;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCCCCC;
}

* html #hpb-nav li{
    /* ie6用ハック */
    width: 127px;
}

#hpb-nav li a{
    display: block;
    height: 37px;
    overflow: hidden;
    padding-left: 27px;
    padding-right: 20px;
}

* html #hpb-nav li a{
    /* ie6用ハック */
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}


#hpb-nav li span.en{
    display: none;
}


#hpb-nav a:link{
    background-image : url(mainmenu_1Ad_01.png);
    background-position: top left;
    background-repeat: no-repeat;
}
#hpb-nav a:visited{
    background-image : url(mainmenu_1Ad_01.png);
    background-position: top left;
    background-repeat: no-repeat;
}
#hpb-nav a:hover{
    background-image : url(mainmenu_1Ad_01_on.png);
    background-position: left top;
    background-repeat: repeat-x;
}
#hpb-nav a:active{
    background-image : url(mainmenu_1Ad_01_on.png);
    background-position: left top;
    background-repeat: repeat-x;
}

* html #hpb-nav li a:link{
    /* ie6用ハック */
    background-image : url(mainmenu_1Ad_01.png);
    background-position: top right;
    background-repeat: no-repeat;
}
* html #hpb-nav li a:visited{
    /* ie6用ハック */
    background-image : url(mainmenu_1Ad_01.png);
    background-position: top right;
    background-repeat: no-repeat;
}
* html #hpb-nav li a:hover{
    /* ie6用ハック */
    background-image : url(mainmenu_1Ad_01_on.png);
    background-position: left right;
    background-repeat: repeat-x;
}
* html #hpb-nav li a:active{
    /* ie6用ハック */
    background-image : url(mainmenu_1Ad_01_on.png);
    background-position: left right;
    background-repeat: repeat-x;
}


