doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 特定商取引法による表記-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 特定商取引法に関する記述
              span.en
                | DESCRIPTION based on LAW
          #hpb-main
            #law
              dl
                dt
                  | 会社名 
                dd
                  | 株式会社 ホームメイド 
                dt
                  | 代表取締役 
                dd
                  | 臼井 常雄
                dt
                  | 所在地 
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2 
                dt
                  | 連絡先 
                dd
                  | TEL. 090-8451-0238　FAX. 058-262-5689
                  br
                  |  e-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr,jp
                dt
                  | 販売価格 
                dd
                  | 商品毎に表示しています 
                dt
                  | 送料 
                dd
                  | 商品の大きさにより異なります。 
                dt
                  | 注文方法 
                dd
                  | 電話、FAX、メール 
                dt
                  | 支払方法 
                dd
                  | [銀行振込]
                  br
                  |  お支払いは先払いでお願い致します。
                  br
                  |  銀行振込手数料はお客様にてご負担願います。 
                dt
                  | 商品配送 
                dd
                  | 日本国内に限ります。ただし離島等一部地域へはお届けできない場合があります。
                  br
                  |  また、通常は注文後7日以内にお届けいたします。 
                dt
                  | 返品について 
                dd
                  | 万が一運送時の商品の破損または注文と違う商品が到着の場合は、責任を持ってお取り替えさせていただきます。商品到着後７日以内に、宅配便にて送料弊社着払いでご返送下さい。
                  br
                  |  上記の場合以外のお取り替え・返品はお受けいたしかねますが、商品到着時にご不明点等ございましたら、E-mailまたはお電話でお知らせ下さい。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
