doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 木部塗装・木製玄関手摺りの交換の工程-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
    script[type="text/javascript" language="JavaScript"]

    script[type="text/javascript" language="JavaScript"]

  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 木製玄関手摺り・木部外壁防水塗装工事の工程
              span.en
                | WOOD PAINT
          #hpb-main
            #recruit
              p.large
                | 木製玄関手摺りの施工開始。　
              dl
                dt
                  | 施工前（Before）↓ 11/5
                dd
                  | 現調（現状把握)　
                  img[src="hhh1.jpg" width="400" height="266" border="0"]
                dt
                  | 既設撤去 ↓ 2/2
                dd
                  | 既設の手摺の撤去　
                  img[src="hhh2.jpg" width="397" height="266" border="0"]
                dt
                  | 養生設置 ↓2/14 
                dd
                  | 檜木製手摺りの据付　
                  img[src="hhh3.jpg" width="400" height="266" border="0"]
                dt
                  | 　　足場の準備　↓2/25　　　　　
                dd
                  | 　整理整頓して並べます。　　　　　　　　　　　　
                  img[src="hhh4.jpg" width="400" height="266" border="0"]
                dt
                  |  足場組み　↓2/28　　　　
                dd
                  | 　北面　　　　
                  img[src="hhh228.jpg" width="400" height="266" border="0"]
                  |  　　 
                dt
                  | 　　足場組み　↓　　　
                dd
                  | 　南面　　　　
                  img[src="hhh302.jpg" width="400" height="266" border="0"]
                dt
                  | 　ペーパー掛け　↓3/7
                  br
                dd
                  | 　塗装が付着しやすくするために木部のペーパー掛けをします。
                  img[src="ht111.jpg" width="400" height="266" border="0"]
                dt
                  | 　ガードラック手塗り　↓3/9
                  br
                dd
                  | 　塗装を丁寧に刷毛で塗っていきます。
                  img[src="hhh3_9.jpg" width="400" height="266" border="0"]
                dt
                  | 　垂木も手塗り　↓3/9
                  br
                dd
                  | 　駐車場の屋根も丁寧に刷毛で塗っていきます。
                  a[href="hhh3_9_2.jpg" target="_blank"]
                    | 1
                  a[href="hhh124.jpg" target="_blank"]
                    | 2
                  a[href="hhh125.jpg" target="_blank"]
                    | 3
                  img[src="hhh123.jpg" width="400" height="266" border="0"]
                dt
                  | 建具の塗装 ↓3/14 
                dd
                  | 建具も手塗りで丁寧に仕上げます。　
                  img[src="i133.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 建具の塗装 ↓3/14 
                dd
                  | 各所建具も全体のバランスを見ながら色を合わせて仕上げます。　
                  img[src="i134.jpg" width="400" height="266" border="0"]
                dt
                  | 建具の塗装 ↓3/15 
                dd
                  | 建具も2回目の上塗り、丁寧に仕上げます。　
                  img[src="hyt55.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 破風板の塗装 ↓3/15 
                dd
                  | 破風板も色を合わせて仕上げます。　
                  img[src="hyt44.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 垂木・桁の塗装 ↓3/15 
                dd
                  | 垂木も桁も2回目の上塗り、丁寧に仕上げます。　
                  img[src="hyt33.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 車庫の内部の塗装 ↓3/15 
                dd
                  | 桁も2回目の仕上げで色を合わせていきます。　
                  img[src="hyt808.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 玄関手摺の塗装準備 ↓3/16 
                dd
                  | 手摺も塗装の準備で姿を現しました。（桧材を使用しました。）　
                  img[src="hyt606.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 建具の塗装 ↓3/16 
                dd
                  | 物置の建具も丁寧に仕上げます。　
                  img[src="hyt707.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 屋根垂木・桁の塗装 ↓3/16 
                dd
                  | 屋根垂木・桁も2回目の上塗りで色を合わせます。　
                  img[src="hyt101.jpg" width="400" height="266" border="0"]
              a#HPB_ROLLOVER2[href="mokubut320.html" target="_self" name="HPB_ROLLOVER2" onmouseout="HpbImgSwap('HPB_ROLLOVER2', 'btn1.gif');" onmouseover="HpbImgSwap('HPB_ROLLOVER2', 'btn2.gif');"]
                img[src="btn1.gif" width="641" height="35" border="0" name="HPB_ROLLOVER2"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
