doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 駐車場塗装の工程-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
    script[type="text/javascript" language="JavaScript"]

    script[type="text/javascript" language="JavaScript"]

  body#hpb-template-01-01d-01.hpb-layoutset-02[background="mu10.jpg"]
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 外壁・屋根防水塗装工事の工程
              span.en
                | Outer wall Color best　PAINT
          #hpb-main
            #recruit
              p.large
                | M邸 玄関軒天・駐車場防水塗装
              dl
                dt
                  | 土台にも塗装して↓ 6/28
                dd
                  | 土台に塗装を施して雨水から守ります。
                  br
                  img[src="chs/chs22.jpg" width="400" height="266" border="0"]
                dt
                  | 階段の上塗り↓ 6/18
                dd
                  | 上塗りで更に美しくなります。
                  br
                  img[src="chs/chs23.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 屋根の上塗り　↓6/12　
                dd
                  | 上塗り仕上げで艶が蘇ります。
                  br
                  img[src="chs/chs24.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | つやつやの仕上がり↓ 6/20
                dd
                  | 光沢のある仕上がりになりました。。
                  br
                  img[src="chs/chs25.jpg" width="400" height="266" border="0"]
                dt
                  | 内部塗装も完璧に ↓ 6/22
                dd
                  | 細部にわたり内部も仕上げます。
                  br
                  img[src="chs/chs27.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場の柱の塗装 ↓
                dd
                  | 柱も塗ります。
                  br
                  img[src="chs/chs26.jpg" width="400" height="266" border="0"]
                dt
                  | ポリカの張替え　↓6/20　
                dd
                  | ポリカも一緒に張り替えます。
                  br
                  img[src="chs/chs28.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場の天井部　↓6/12　
                dd
                  | 天井の経年劣化
                  br
                  img[src="chs/chs29.jpg" width="400" height="266" border="0"]
                dt
                  | 天井も美しく　↓6/14　　　 
                dd
                  | 色つやも素晴らしい仕上がりです。。
                  br
                  img[src="chs/chs31.jpg" width="398" height="266" border="0"]
                dt
                  | 内壁部も上塗り完成　↓　6/5　　　　　　 
                dd
                  | 内壁・天井・柱・土台などの仕上げ塗り。
                  br
                  img[src="chs/chs30.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場の塗装が完成　　 　　　　 
                dd
                  | 駐車場の塗装が完成しました。
                  br
                  img[src="chs/chs32.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場の全景　　 　　　　 
                dd
                  | 駐車場の塗装が完成しました。
                  br
                  img[src="chs/chs333.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場内部塗装の完成　　 　　　　 
                dd
                  | 落ち着いた色合いになりました。
                  br
                  img[src="chs/chs33.jpg" width="400" height="266" border="0"]
                dt
                  | 屋根漆喰の補修 　↓7/7　　　　 
                dd
                  | 屋根の漆喰も一緒に補修します。
                  br
                  img[src="chs/chs34.jpg" width="400" height="266" border="0"]
                dt
                  | 漆喰の補修↓　　　　 
                dd
                  | 雨水から屋根を守ります。。
                  br
                  img[src="chs/chs35.jpg" width="425" height="266" border="0"]
              a#HPB_ROLLOVER2[href="mokubut6_26.html" target="_self" name="HPB_ROLLOVER2" onmouseout="HpbImgSwap('HPB_ROLLOVER2', 'btn1.gif');" onmouseover="HpbImgSwap('HPB_ROLLOVER2', 'btn2.gif');"]
                img[src="btn1.gif" width="641" height="35" border="0" name="HPB_ROLLOVER2"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="http://www.kaeru.gr.jp/hm/index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="http://www.kaeru.gr.jp/hm/concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="http://www.kaeru.gr.jp/hm/service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="http://www.kaeru.gr.jp/hm/news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="http://www.kaeru.gr.jphm/company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="http://www.kaeru.gr.jp/hm/recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="http://www.kaeru.gr.jp/hm/contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="http://www.kaeru.gr.jp/hm/service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="http://www.kaeru.gr.jp/hm/mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="http://www.kaeru.gr.jp/hm/sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="http://www.kaeru.gr.jp/hm/access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/privacy.html"]
                | プライバシーポリシー
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/law.html"]
                | 特定商取引法に関する記述
