doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 玄関庇軒天の張替の工程-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
    script[type="text/javascript" language="JavaScript"]

    script[type="text/javascript" language="JavaScript"]

  body#hpb-template-01-01d-01.hpb-layoutset-02[background="mu10.jpg"]
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 軒天張替・防水塗装工事の工程
              span.en
                | Outer wall Color best　PAINT
          #hpb-main
            #recruit
              p.large
                | M邸 玄関軒天・駐車場防水塗装・内装クロス工事が始まりました。　
              dl
                dt
                  | 平屋軒天（after）↓ 6/14
                dd
                  | 平屋の軒天も完成です。
                  br
                  img[src="mi65.jpg" width="400" height="266" border="0"]
                dt
                  | 平屋の2重庇↓ 6/18
                dd
                  | ２重庇の上部の軒天も手塗りしました。
                  br
                  img[src="chs/chs9.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 玄関の軒天　↓6/12　
                dd
                  | 化粧合板の劣化が進んでいます。
                  br
                  img[src="nokit1.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | （After）↓ 6/20
                dd
                  | 　軒天に新しい化粧合版を貼っていきます。
                  br
                  img[src="nokit2.jpg" width="400" height="266" border="0"]
                dt
                  | 玄関軒天完成 ↓ 6/22
                dd
                  | 　玄関軒天の完成です。
                  br
                  img[src="nokit3.jpg" width="400" height="266" border="0"]
                dt
                  | 玄関柱・桁・垂木の塗装 ↓
                dd
                  | 　完璧に新築同等になりました。
                  br
                  img[src="mi62.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場の塗装　↓6/20　
                dd
                  | 鉄部には赤錆がでいます。
                  br
                  img[src="chs/chs1.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場の内部　↓6/12　
                dd
                  | 天井の劣化が進んでいます。
                  br
                  img[src="chs/chs2.jpg" width="400" height="266" border="0"]
                dt
                  | 天井の現況　↓6/14　　　 
                dd
                  | 経年劣化による塗装の剥がれ。
                  br
                  img[src="chs/chs3.jpg" width="400" height="266" border="0"]
                dt
                  | 階段部の塗装前　↓　6/5　　　　　　 
                dd
                  | 階段も錆が発生しています。
                  br
                  img[src="chs/chs4.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場の屋根の現状　　 　　　　 
                dd
                  | コーキングなどで補修してありました。
                  br
                  img[src="chs/chs8.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場屋根の現状　　 　　　　 
                dd
                  | 　　 　　
                  img[src="chs/chs5.jpg" width="400" height="266" border="0"]
                dt
                  | 塗装面のペーパー掛け　　 　　　　 
                dd
                  | 塗装ののりやすい状態にします。
                  br
                  img[src="chs/chs6.jpg" width="400" height="266" border="0"]
                dt
                  | 屋根面の処理 　↓6/8　　　　 
                dd
                  | はみ出したコーキング等の処理。
                  br
                  img[src="chs/chs7.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場の下塗り↓6/　　　　 
                dd
                  | ペーパー掛けから下塗りが始まります。
                  br
                  img[src="chs/chs15.jpg" width="400" height="266" border="0"]
                dt
                  | 中塗り・上塗り　 　　　　 
                dd
                  | 丁寧に階段も塗りあげていきます。
                  br
                  img[src="chs/chs16.jpg" width="400" height="266" border="0"]
                dt
                  | 屋根部の　↓5/20 
                dd
                  | 屋根部も念入りに塗ります。
                  br
                  img[src="chs/chs17.jpg" width="400" height="266" border="0"]
                dt
                  | 手摺も手塗りで　↓6/15 
                dd
                  | 一つ一つきちんと塗り上げていきます。
                  br
                  img[src="chs/chs18.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場の軒天 　↓6/15　　　　 
                dd
                  | 軒天までしっかり塗ります。
                  br
                  img[src="chs/chs19.jpg" width="400" height="266" border="0"]
                dt
                  | 細部も手塗りで 　↓6/15　　　　 
                dd
                  | 届かないところは梯子を使って塗ります。
                  br
                  img[src="chs/chs20.jpg" width="400" height="266" border="0"]
                  | 　
                dt
                  | 全体を塗り上げる 　↓6/23　　　　 
                dd
                  | 全体が塗り上がってきました。 
                dd
                  img[src="chs/chs21.jpg" width="400" height="266" border="0"]
              a#HPB_ROLLOVER2[href="mokubut7_11.html" target="_self" name="HPB_ROLLOVER2" onmouseout="HpbImgSwap('HPB_ROLLOVER2', 'btn1.gif');" onmouseover="HpbImgSwap('HPB_ROLLOVER2', 'btn2.gif');"]
                img[src="btn1.gif" width="641" height="35" border="0" name="HPB_ROLLOVER2"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="http://www.kaeru.gr.jp/hm/index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="http://www.kaeru.gr.jp/hm/concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="http://www.kaeru.gr.jp/hm/service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="http://www.kaeru.gr.jp/hm/news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="http://www.kaeru.gr.jp/hm/company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="http://www.kaeru.gr.jp/hm/hm/recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/privacy.html"]
                | プライバシーポリシー
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/law.html"]
                | 特定商取引法に関する記述
