doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 外壁塗装・ベランダ洗浄の工程-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
    script[type="text/javascript" language="JavaScript"]

    script[type="text/javascript" language="JavaScript"]

  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 外壁・屋根防水塗装工事の工程
              span.en
                | Outer wall Color best　PAINT
          #hpb-main
            #recruit
              p.large
                | M邸外壁・屋根防水他リフォーム工事が始まりました。。　→　６/15 
                a[href="mokubut6_16.html" target="_self"]
                  | ピカピカ
                | になりました。
              dl
                dt
                  | 施工前（Before）↓ 5/20
                dd
                  | 現状
                  br
                  img[src="imu/mu1.jpg" width="400" height="266" border="0"]
                dt
                  | 施工前（Before）↓ 
                dd
                  | 　外壁の状態
                  br
                  img[src="imu/mu2.jpg" width="400" height="266" border="0"]
                dt
                  | 現状 ↓ 
                dd
                  | 　
                  br
                  img[src="imu/mu3.jpg" width="400" height="266" border="0"]
                dt
                  | 現状 ↓
                dd
                  | 　
                  br
                  img[src="imu/mu4.jpg" width="400" height="266" border="0"]
                dt
                  | 足場組み　↓5/28　
                dd
                  | 　
                  br
                  img[src="imu/mu5.jpg" width="400" height="266" border="0"]
                dt
                  | 高圧洗浄 　↓5/31　　　　 
                dd
                  | 洗浄により劣化した塗膜や汚れが綺麗に落ちます。
                  br
                  img[src="imu/mu6.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 高圧洗浄 　　　　　　　 
                dd
                  | 　
                  br
                  img[src="imu/mu7.jpg" width="400" height="266" border="0"]
                  |  　　 
                dt
                  | 外壁の高圧洗浄　↓　　　　　　　 
                dd
                  | 外壁も念入りに洗浄
                  br
                  img[src="imu/mu5_1.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 高圧洗浄のベランダ　　 　　　　 
                dd
                  | 　
                  br
                  img[src="imu/mu8.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | ベランダの洗浄　　 　　　　 
                dd
                  | 　
                  br
                  img[src="imu/mu9.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | さらにきれいに 　↓5/31　　　　 
                dd
                  | 細部に至るまで汚れを落とします。
                  br
                  img[src="imu/mu10.jpg" width="400" height="266" border="0"]
                dt
                  | 屋根の下・中塗り↓6/1~　　　　 
                dd
                  | 洗浄後は塗装のノリも抜群です。
                  br
                  img[src="imu/mu11.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 屋根の中・上塗り　 　　　　 
                dd
                  | 洗浄後、屋根３回塗りで輝きと艶が戻ります。
                  br
                  img[src="imu/mu12.jpg" width="400" height="266" border="0"]
                dt
                  | 外壁の下塗り 　↓6/5　　　　 
                dd
                  | 下塗りは中塗りの接着力を高めます。
                  br
                  img[src="imu/imu33.jpg" width="400" height="266" border="0"]
                dt
                  | 外壁の中・上塗り 　↓6/5　　　　 
                dd
                  | 新築の趣きがでてきます。
                  br
                  img[src="imu/mu38.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | ベランダの下塗り 　↓6/5　　　　 
                dd
                  br
                  img[src="imu/imu32.jpg" width="400" height="266" border="0"]
                dt
                  | ベランダの中・上塗り 　↓ 
                dd
                  br
                  img[src="imu/mu37.jpg" width="400" height="266" border="0"]
                  |  　　 　　
                dt
                  | 外壁の中・上塗り 　　
                dd
                  | 外壁にも艶が蘇ります。
                  br
                  img[src="imu/mu13.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 外壁の中・上塗装 　 　　　　 
                dd
                  | 下塗りの後、中塗り、上塗りの３回塗り 
                dd
                  img[src="imu/mu14.jpg" width="400" height="266" border="0"]
                dt
                  | 外壁塗装 　 　　　　 
                dd
                  | 上塗りで更に壁面の艶が戻ります。
                  br
                  img[src="imu/mu15.jpg" width="400" height="266" border="0"]
                  |  < 
                dt
                  | 艶が出るまで念入りに　6/9 　　　　 
                dd
                  img[src="imu/mu16.jpg" width="400" height="266" border="0"]
                dt
                  | 屋根の奥の外壁まで塗装　6/9　 　　　　 
                dd
                  | 細部に亘り手塗で仕上げます。
                  br
                  img[src="imu/mu17.jpg" width="400" height="266" border="0"]
                dt
                  | 軒天補修1　　　　　 
                dd
                  | 軒天の補修も塗装と同時に行います。丁寧に材料をカット
                  br
                  img[src="imu/mu18_1.jpg" width="400" height="266" border="0"]
                dt
                  | 軒天補修2　 　　　　 
                dd
                  img[src="imu/mu19.jpg" width="400" height="266" border="0"]
                dt
                  | 軒天補修3　 　　　　 
                dd
                  | 駐車場の軒天。後で塗装します。
                  br
                  img[src="imu/mu20.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場の外壁の現状 　　　　 
                dd
                  | 気になるところもしっかり補修施工
                  br
                  img[src="imu/mu34.jpg" width="400" height="266" border="0"]
                dt
                  | 駐車場ポリカの補修　 　　　　 
                dd
                  | 破れたポリカの張り替えも一緒に行います。
                  br
                  img[src="imu/mu21.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 踊場も補修
                dd
                  | 駐車場、階段上の踊り場もチェック
                  br
                  img[src="imu/mu35.jpg" width="400" height="266" border="0"]
                dt
                  | 階段上の踊り場も補修　 　　　　 
                dd
                  | 駐車場、階段上の踊り場も土間コン打ち
                  br
                  img[src="imu/mu22.jpg" width="400" height="266" border="0"]
                dt
                  | 細部のチェック↓　 　　　 
                dd
                  | 養生を剥がして細部のチェック
                  br
                  img[src="imu/imu39.jpg" width="400" height="266" border="0"]
                dt
                  | 仕上げ塗装 　↓　　　 
                dd
                  img[src="imu/mu23.jpg" width="400" height="266" border="0"]
                dt
                  | 仕上げ塗装 　↓　　　 
                dd
                  img[src="imu/mu24.jpg" width="400" height="266" border="0"]
                dt
                  | 仕上げ塗装 　↓　　　 
                dd
                  img[src="imu/mu25.jpg" width="400" height="266" border="0"]
              a#HPB_ROLLOVER2[href="mokubut6_16.html" target="_self" name="HPB_ROLLOVER2" onmouseout="HpbImgSwap('HPB_ROLLOVER2', 'btn1.gif');" onmouseover="HpbImgSwap('HPB_ROLLOVER2', 'btn2.gif');"]
                img[src="btn1.gif" width="641" height="35" border="0" name="HPB_ROLLOVER2"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
