doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 軒天補修・塗装の工程-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
    script[type="text/javascript" language="JavaScript"]

    script[type="text/javascript" language="JavaScript"]

  body#hpb-template-01-01d-01.hpb-layoutset-02[background="imu/mu10.jpg"]
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 外壁・屋根防水塗装工事の工程
              span.en
                | Outer wall Color best　PAINT
          #hpb-main
            #recruit
              p.large
                | M邸外壁・屋根防水他リフォーム工事が始まりました。。　
              dl
                dt
                  | 木部（before）↓ 5/20
                dd
                  | 木の地肌が見えはじめています。
                  br
                  img[src="imu/mi60.jpg" width="400" height="266" border="0"]
                dt
                  | 施工後（After）↓ 6/10
                dd
                  | 　木部防水塗装で地肌を守ります。
                  br
                  img[src="imu/mi600.jpg" width="401" height="266" border="0"]
                dt
                  | 玄関庇現状 ↓ 6/5
                dd
                  | 　Before
                  br
                  img[src="imu/mi61.jpg" width="400" height="266" border="0"]
                dt
                  | 塗装後の玄関庇 ↓
                dd
                  | 　落ち着いた木造の味が引き立つ(After)
                  br
                  img[src="imu/mi62.jpg" width="400" height="266" border="0"]
                dt
                  | 軒天張り　↓6/1　
                dd
                  | 化粧板の経年劣化が進んでいます。
                  br
                  img[src="imu/mi59.jpg" width="354" height="266" border="0"]
                dt
                  | 軒天張り替え　↓6/12　
                dd
                  | 一枚一枚、手作業で丁寧に仕上げます。
                  br
                  img[src="imu/mi64.jpg" width="354" height="266" border="0"]
                dt
                  | 軒天の張替え後　↓6/14　　　 
                dd
                  | 新しい軒天、新築の輝き。
                  br
                  img[src="imu/mi65.jpg" width="400" height="266" border="0"]
                  |  　　 　　 
                dt
                  | 軒天塗装前　↓　　　　　　　 
                dd
                  | 軒天ケイカル板の塗装前
                  br
                  img[src="imu/mi66.jpg" width="400" height="265" border="0"]
                  |  　　
                dt
                  | 軒天（ケイカル板の上塗り）　　 　　　　 
                dd
                  | ピカピカの軒天に生まれ変わります
                  br
                  img[src="imu/mi67.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | ベランダの施工前　　 　　　　 
                dd
                  | 洗浄後のベランダ
                  br
                  img[src="imu/mu110.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 養生して塗装 　↓6/8　　　　 
                dd
                  | 養生をはみ出しを防ぎます。
                  br
                  img[src="imu/mi68.jpg" width="400" height="266" border="0"]
                dt
                  | ベランダの仕上がり↓6/10　　　　 
                dd
                  | 洗浄後は塗装のノリも抜群です。
                  br
                  img[src="imu/mi69.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 外壁仕上がり　 　　　　 
                dd
                  | 洗浄後、外壁も３回塗りで輝きが蘇ります。
                  br
                  |  　　
                dt
                  | 外壁部上塗り　↓5/20 
                dd
                  | ベランダの外壁の現状
                  br
                  img[src="imu/mi63.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | ベランダ部上塗り　↓6/15 
                dd
                  | 　新築の輝きと艶が蘇ります。
                  br
                  img[src="imu/mi73.jpg" width="399" height="266" border="0"]
                dt
                  | 外壁の上塗り仕上げ 　↓6/15　　　　 
                dd
                  | 壁面も新築以上の輝きに
                  br
                  img[src="imu/mi71.jpg" width="400" height="266" border="0"]
                dt
                  | 外壁上塗り 　↓6/15　　　　 
                dd
                  | 西面の外壁もつやつや。
                  br
                  img[src="imu/mi72.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 外壁の上塗り 　↓6/5　　　　 
                dd
                  | ベランダの仕上げ
                  br
                  img[src="imu/mi70.jpg" width="400" height="266" border="0"]
                dt
                  | 外壁仕上がり 　↓ 
                dd
                  br
                  img[src="imu/mi7_6.jpg" width="400" height="266" border="0"]
                  |  　　 　　
                dt
                  | 外壁の仕上がり 　　
                dd
                  | 新築の外壁に大変身。
                  br
                  img[src="imu/mi7_9.jpg" width="400" height="266" border="0"]
                  |  　　 
                dt
                  | 外壁の上塗装仕上げ 　 　　　　 
                dd
                  img[src="imu/mi76.jpg" width="400" height="266" border="0"]
                dt
                  | 付帯塗装の仕上げ 　 　　　　 
                dd
                  | 手塗りで仕上げる職人技
                  img[src="imu/mi77.jpg" width="400" height="266" border="0"]
                dt
                  | 南側壁面の塗装仕上がり 　　　　 
                dd
                  | 上塗りで更に壁面の艶が戻ります。
                  img[src="imu/mi78.jpg" width="400" height="266" border="0"]
                dt
                  | 外壁仕上がり 　↓ 
                dd
                  br
                  img[src="imu/mi74.jpg" width="400" height="266" border="0"]
                dt
                  | 東面外壁の仕上がり 　　
                dd
                  | 新築の外壁に大変身。
                  br
                  img[src="imu/mi75.jpg" width="400" height="266" border="0"]
              a#HPB_ROLLOVER2[href="mokubut6_26.html" target="_self" name="HPB_ROLLOVER2" onmouseout="HpbImgSwap('HPB_ROLLOVER2', 'btn1.gif');" onmouseover="HpbImgSwap('HPB_ROLLOVER2', 'btn2.gif');"]
                img[src="btn1.gif" width="641" height="35" border="0" name="HPB_ROLLOVER2"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
