doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 新着情報・FAQ-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 新着情報・FAQ
              span.en
                | NEWS&FAQ
          #hpb-main
            #news
              h3
                | 新着木部施工情報
              dl
                dt
                  | 2017年12月30日 
                dd
                  a[href="ref12_21.html" target="_blank"]
                    | ※ 板塀の施工手順
                  | はこちらにアップしました。 
                dd
                  a[href="ref12_22.html" target="_blank"]
                    | ※ 室内木部の施工手順
                  | もこちらにアップしています。 
                dt
                  | 2016年9月1日 
                dd
                  | 岐阜市の城下町に木にこだわった、リフォームの事業部を設置。 
                dd
                  | 木に関するリフォームのご相談はお気軽に・・・・ 
              h3
                | サポート情報（FAQ）
              h4
                font[color="#999900"]
                  | 木部の外壁、もくフェンス関連
              br
              h5
                | Ｑ．木部の塗装はどの位の期間でやるのがいいのですか？
              p.indent
                | Ａ．木部が外部に使われている場合は3年〜5年で小まめに塗っていただくと木部が傷みにくく、長持ちします。気になりだしたらご連絡ください。
              h5
                | Ｑ．木のフェンスを塗るべきか、壊して作り直すべきか悩んでいます。
              p.indent
                | Ａ．木部の劣化状態を検査させていただきますので、年数だけでなく、周辺の環境や劣化状態や、腐りの状況を調査させていただきます。一度現場調査をいたします。
                font[color="#ff0000"]
                  | 無料
                | ですからお気軽にご連絡ください。
              h5
                | Ｑ．外壁の塗装とガルバニウなどの貼り替えとでは、どちらがお値打ちですか？
              p.indent
                | Ａ．もちろん塗装のほうがお値打ちですが、構造的な問題や欠陥が発生している場合は（腐り、腐食、シロアリ、地震などによる歪みや割れ）現調して、適切なアドバイスをさせていただきます。
              hr
              h4
                font[color="#999900"]
                  | 製品関連
              br
              h5
                | Ｑ．木材デッキ用の製品を自分で購入して、自分でデッキを作りたいのですが？
              p.indent
                | Ａ．材料等の買い付けはできますが、施工でまは費用が発生しますので、よろしくお願いします。施行や塗装もお手伝いいたしますのでお気軽にご連絡下さい。
              h5
                | Ｑ．日本建築の破風板の塗替えはできますか？
              p.indent
                | Ａ．もちろんできます。破風板や化粧垂木、木製の化粧庇に至るまで。様々な木製品の蘇らせを行っています。
              hr
              hr
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
