doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 木部塗装の工程 - ホームメイド
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02[background="mu10.jpg"]
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="http://www.kaeru.gr.jp/hm/index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 外壁・屋根防水塗装工事の工程
              span.en
                | Outer wall Color best　PAINT
          #hpb-main
            #recruit
              p.large
                | N邸 板塀
              dl
                dt
                  | 板塀の取付　11_11 
                dd
                  br
                  img[src="y/an19.jpg" width="400" height="266" border="0"]
                dt
                  | 板塀の取付 11_11 
                dd
                  br
                  img[src="y/an20.jpg" width="400" height="266" border="0"]
                dt
                  | 板塀の取付 11_11 
                dd
                  br
                  img[src="y/an21.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 板塀の取付6 
                dd
                  br
                  img[src="y/11n8.jpg" width="400" height="266" border="0"]
                dt
                  | 笠木の取付け 11_20
                dd
                  br
                  img[src="y/11n1.jpg" width="400" height="266" border="0"]
                dt
                  | 笠木の取付2 11_20
                dd
                  br
                  img[src="y/11n2.jpg" width="400" height="266" border="0"]
                dt
                  | 抜け節の取替え 12_10
                dd
                  br
                  img[src="y/11n3.jpg" width="400" height="266" border="0"]
                  | 　 
                dt
                  | 抜け節の取替え 12_13
                dd
                  br
                  img[src="y/11n4.jpg" width="400" height="266" border="0"]
                  | 　 
                dt
                  | 板塀の塗装 12_17
                dd
                  br
                  img[src="y/11n5.jpg" width="400" height="266" border="0"]
                  | 　 
                dt
                  | 板塀の塗装 12_17
                dd
                  br
                  img[src="y/11n6.jpg" width="400" height="266" border="0"]
                dt
                  | 板塀の塗装 12_17
                dd
                  br
                  img[src="y/11n7.jpg" width="400" height="266" border="0"]
                  | 　　 
                dt
                  | 板塀の取付け
                dd
                  br
                  img[src="y/11n9.jpg" width="400" height="266" border="0"]
                dt
                  | 板塀の土台の仕上げ方 
                dd
                  | 雨水の通りを良くして劣化を防ぎます。
                  img[src="y/11n11.jpg" width="400" height="266" border="0"]
                  br
                  |  　　
                dt
                  | 完成1
                dd
                  | 木目の美しさが引き立ちます。
                  img[src="y/11n12.jpg" width="400" height="266" border="0"]
                  br
                dt
                  | 完成2 
                dd
                  | 木目の美しさが引き立ちます。
                  img[src="y/11n13.jpg" width="400" height="266" border="0"]
                  br
                dt
                  | 完成3 
                dd
                  br
                  img[src="y/11n13.jpg" width="400" height="266" border="0"]
                  br
                dt
                  | 完成4 
                dd
                  | 全景
                  br
                  img[src="y/11n14.jpg" width="400" height="266" border="0"]
                  br
                  |  　　 
                dt
                  | 完成5 
                dd
                  | 全景
                  br
                  img[src="y/11n15.jpg" width="400" height="266" border="0"]
                  br
              img[src="chs/vv111.gif" border="0" style="border-top-width : 0px;border-left-width : 0px;border-right-width : 0px;border-bottom-width : 0px;" width="641" height="38"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="http://www.kaeru.gr.jp/hm/index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="http://www.kaeru.gr.jp/hm/concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="http://www.kaeru.gr.jp/hm/service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="http://www.kaeru.gr.jp/hm/news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="http://www.kaeru.gr.jphm/company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="http://www.kaeru.gr.jp/hm/recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="http://www.kaeru.gr.jp/hm/contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="http://www.kaeru.gr.jp/hm/service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="http://www.kaeru.gr.jp/hm/mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="http://www.kaeru.gr.jp/hm/sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="http://www.kaeru.gr.jp/hm/access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/privacy.html"]
                | プライバシーポリシー
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/law.html"]
                | 特定商取引法に関する記述
