doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 屋根瓦劣化補修の工程 - ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02[background="mu10.jpg"]
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="http://www.kaeru.gr.jp/hm/index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 瓦屋根補修工事の工程
              span.en
                | Outer wall Color best　PAINT
          #hpb-main
            #recruit
              p.large
                | K邸 瓦補修工事→完成
              dl
                dt
                  | 5/19 現状1
                dd
                  br
                  img[src="imgs/kat01.jpg" width="400" height="266" border="0"]
                dt
                  | 現状2 
                dd
                  br
                  img[src="imgs/kat02.jpg" width="400" height="266" border="0"]
                dt
                  | 現状3
                dd
                  br
                  img[src="imgs/kat03.jpg" width="400" height="266" border="0"]
                dt
                  | 現状4 
                dd
                  br
                  img[src="imgs/kat04.jpg" width="400" height="266" border="0"]
                dt
                  | 6/14 のし瓦取り替え 
                dd
                  br
                  img[src="imgs/kat07.jpg" width="400" height="266" border="0"]
                dt
                  | 土の撤去 
                dd
                  | 回収袋に一つ一つ回収していきます。
                  br
                  img[src="imgs/kat05.jpg" width="400" height="266" border="0"]
                dt
                  | 撤去2 
                dd
                  br
                  img[src="imgs/kat09.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 撤去3 
                dd
                  | 丁寧に古い土を撤去していきます。
                  br
                  img[src="imgs/kat11.jpg" width="400" height="266" border="0"]
                dt
                  a[name="#111"]
                    | 土の回収
                dd
                  br
                  img[src="imgs/kat12.jpg" width="400" height="266" border="0"]
                dt
                  | 6/15 
                  a[name="#111"]
                    | 雨の養生
                dd
                  br
                  img[src="imgs/kat08.jpg" width="400" height="266" border="0"]
                dt
                  a[name="#111"]
                    | 土の回収の後の瓦
                dd
                  br
                  img[src="imgs/kat12_2.jpg" width="400" height="266" border="0"]
                dt
                  | 6/16 のし瓦の下地
                  a[name="#111"]
                dd
                  br
                  img[src="imgs/kat12_1.jpg" width="400" height="266" border="0"]
                dt
                  a[name="#111"]
                    | のしの設置完了
                dd
                  br
                  img[src="imgs/kat12_3.jpg" width="400" height="266" border="0"]
                dt
                  | のし瓦を敷いて漆喰 
                dd
                  br
                  img[src="imgs/kat13.jpg" width="400" height="266" border="0"]
                dt
                  | 6/18 鬼瓦の漆喰入れ 
                dd
                  br
                  img[src="imgs/kat14.jpg" width="400" height="266" border="0"]
                dt
                  | かんむりの設置 
                dd
                  br
                  img[src="imgs/kat15.jpg" width="400" height="266" border="0"]
                dt
                  | かんむりの設置の様子 1 
                dd
                  br
                  img[src="imgs/kat17.jpg" width="400" height="266" border="0"]
                dt
                  | かんむりの設置の様子 2 
                dd
                  br
                  img[src="imgs/kat16.jpg" width="400" height="266" border="0"]
                dt
                  | かんむりの設置完了 1
                dd
                  br
                  img[src="imgs/kat18.jpg" width="400" height="266" border="0"]
                dt
                  | 設置完了2
                dd
                  br
                  img[src="imgs/kat20.jpg" width="399" height="266" border="0"]
                dt
                  | 設置完了3 
                dd
                  br
                  img[src="imgs/kat19.jpg" width="400" height="266" border="0"]
                dt
                  | 設置完了 4
                dd
                  br
                  img[src="imgs/kat21.jpg" width="400" height="266" border="0"]
                dt
                  | 設置完了 5
                dd
                  br
                  img[src="imgs/kat22.jpg" width="400" height="266" border="0"]
                dt
                  | 完成後の全景 
                dd
                  br
                  img[src="imgs/kat23.jpg" width="400" height="266" border="0"]
                dt
                  | 6/21 完成後の全景 
                dd
                  br
                  img[src="imgs/kat26.jpg" width="400" height="266" border="0"]
                dt
                  | 完成後の全景 
                dd
                  br
                  img[src="imgs/kat25.jpg" width="400" height="266" border="0"]
              img[src="chs/vv111.gif" border="0" style="border-top-width : 0px;border-left-width : 0px;border-right-width : 0px;border-bottom-width : 0px;" width="641" height="38"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="http://www.kaeru.gr.jp/hm/index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="http://www.kaeru.gr.jp/hm/concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="http://www.kaeru.gr.jp/hm/service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="http://www.kaeru.gr.jp/hm/news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="http://www.kaeru.gr.jphm/company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="http://www.kaeru.gr.jp/hm/recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="http://www.kaeru.gr.jp/hm/contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="http://www.kaeru.gr.jp/hm/service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="http://www.kaeru.gr.jp/hm/mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="http://www.kaeru.gr.jp/hm/sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="http://www.kaeru.gr.jp/hm/access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/privacy.html"]
                | プライバシーポリシー
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/law.html"]
                | 特定商取引法に関する記述
