doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=Shift_JIS"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | 瓦取り替え工事の工程-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02[background="mu10.jpg"]
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="http://www.kaeru.gr.jp/hm/index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 屋根補修防水塗装工事の工程
              span.en
                | Outer wall Color best　PAINT
          #hpb-main
            #recruit
              p.large
                | Y邸 瓦屋根補修工事→完成
              dl
                dt
                  | 5/12 現状
                dd
                  | 瓦に割れ・ヒビ等があり雨漏りの原因
                  br
                  img[src="imgs/yyk02.jpg" width="400" height="266" border="0"]
                dt
                  | 現状確認
                dd
                  br
                  img[src="imgs/yyk03.jpg" width="400" height="266" border="0"]
                dt
                  | 瓦の差し替え
                dd
                  | 傷んだ瓦のチェック
                  br
                  img[src="imgs/yyk04.jpg" width="400" height="266" border="0"]
                dt
                  | 高圧洗浄
                dd
                  | 瓦の汚れを落とす
                  br
                  img[src="imgs/yyk00.jpg" width="400" height="266" border="0"]
                dt
                  | 下・中塗り
                dd
                  br
                  img[src="imgs/yyk05.jpg" width="400" height="266" border="0"]
                dt
                  | 6/9 瓦取り差し替え 
                dd
                  | 差し替えた瓦はテープを貼って区別
                  br
                  img[src="imgs/yyk06.jpg" width="399" height="266" border="0"]
                dt
                  | 三ヶ月漆喰の現状
                dd
                  br
                  img[src="imgs/yyk07.jpg" width="400" height="266" border="0"]
                dt
                  | 三ヶ月漆喰下 瓦の現状 1
                dd
                  | 割れ。ヒビ等の確認
                  br
                  img[src="imgs/yyk09.jpg" width="400" height="266" border="0"]
                  | 　　
                dt
                  | 三ヶ月漆喰の現状 2
                dd
                  br
                  img[src="imgs/yyk08.jpg" width="400" height="266" border="0"]
                dt
                  a[name="#111"]
                    | 冠下の現状の確認
                dd
                  br
                  img[src="imgs/yyk10.jpg" width="400" height="267" border="0"]
                dt
                  | 6/12
                  a[name="#111"]
                    |  新品と差し替え1
                dd
                  | 下塗り・中塗りも手塗りで細部まで塗ります。
                  br
                  img[src="imgs/yyk13.jpg" width="400" height="266" border="0"]
                dt
                  a[name="#111"]
                    | 新品と差し替え2 
                dd
                  br
                  img[src="imgs/yyk14.jpg" width="400" height="266" border="0"]
                dt
                  a[name="#111"]
                    | 冠を外し漆喰
                  | 入れ1 
                dd
                  br
                  img[src="imgs/yyk15.jpg" width="400" height="266" border="0"]
                dt
                  | 古い土の撤去 
                dd
                  br
                  img[src="imgs/yyk17.jpg" width="400" height="266" border="0"]
                dt
                  | 漆喰の入れ直し 
                dd
                  br
                  img[src="imgs/yyk16.jpg" width="400" height="266" border="0"]
                dt
                  | 冠を被せて完成 1 
                dd
                  br
                  img[src="imgs/yyk18.jpg" width="400" height="266" border="0"]
                dt
                  | 三ヶ月漆喰完成 
                dd
                  br
                  img[src="imgs/yyk19.jpg" width="400" height="266" border="0"]
                dt
                  | 漆喰完了 
                dd
                  br
                  img[src="imgs/yyk20.jpg" width="400" height="266" border="0"]
                dt
                  | 漆喰完了2 
                dd
                  | 新しいビス釘で止める
                  img[src="imgs/yyk21.jpg" width="400" height="266" border="0"]
                dt
                  | ビス釘まわりのコーキング 3 
                dd
                  br
                  img[src="imgs/yyk22.jpg" width="400" height="266" border="0"]
                dt
                  | 7/12上塗り 
                dd
                  br
                  img[src="imgs/yy23.jpg" width="400" height="265" border="0"]
                dt
                  | 上塗り 
                dd
                  | 細部にわたり手塗りで仕上げ
                  br
                  img[src="imgs/yyk25.jpg" width="400" height="265" border="0"]
                dt
                  | 手塗り仕上げ 
                dd
                  | 一枚一枚手塗りで仕上げます
                  br
                  img[src="imgs/yyk26.jpg" width="400" height="265" border="0"]
                dt
                  | 完成後の全景1 
                dd
                  br
                  img[src="imgs/yyk27.jpg" width="400" height="265" border="0"]
                dt
                  | 完成後の全景2 
                dd
                  br
                  img[src="imgs/yyk28.jpg" width="400" height="266" border="0"]
                  |  　　
                dt
                  | 完成後の全景3 
                dd
                  br
                  img[src="imgs/yyk29.jpg" width="400" height="266" border="0"]
                dt
                  | 完成後の全景4 
                dd
                  br
                  img[src="imgs/yyk30.jpg" width="400" height="266" border="0"]
              img[src="chs/vv111.gif" border="0" style="border-top-width : 0px;border-left-width : 0px;border-right-width : 0px;border-bottom-width : 0px;" width="641" height="38"]
              dl
                dd
                  | 〒500-8029
                  br
                  |  岐阜市東材木町37-2
                  br
                  |  携帯. 090-8451-0238
                  br
                  |  TEL. 058-262-5694　FAX. 058-262-5689
                  br
                  |  E-mail. 
                  a[href="mailto:info@builder**.jp"]
                    | usui_@kaeru.gr.jp
                  br
                  |  担当者 臼井 まで　お気軽にご連絡ください。 
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="http://www.kaeru.gr.jp/hm/index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="http://www.kaeru.gr.jp/hm/concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="http://www.kaeru.gr.jp/hm/service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="http://www.kaeru.gr.jp/hm/news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="http://www.kaeru.gr.jphm/company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="http://www.kaeru.gr.jp/hm/recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="http://www.kaeru.gr.jp/hm/contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="http://www.kaeru.gr.jp/hm/service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="http://www.kaeru.gr.jp/hm/mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="http://www.kaeru.gr.jp/hm/sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="http://www.kaeru.gr.jp/hm/access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url(top_banner_1Ad_04.png);"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/privacy.html"]
                | プライバシーポリシー
            li
              a[href="../Users/user/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%A1%E3%82%A4%E3%83%88%E3%82%99/hm/law.html"]
                | 特定商取引法に関する記述
