doctype html
html[lang="ja"]
  head
    meta[charset="UTF-8"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
  body
    p[align="center"]
      b
        font[color="#4e6138"]
          br
          |  株式会社 ホームメイド HPは
        font[color="#0000cc"]
          a[href="../index.html"]
            font[color="#00005e"]
              | こちら
        font[color="#009900"]

        font[color="#4e6138"]
          | (2019/10/30更新)
          br
        font[color="#4e6138" size="-1"]
          | iPhoneは
          a[href="http://www.kaeru.gr.jp/hm/sp1/index.html"]
            | こちら
          | からトピックスをクリック
          br
          br
      img[src="concept-CEO.jpg" width="200" height="211" border="0"]
      br
    h3[align="center"]
      font[size="3" color="#00005e"]
        | 経営理念
    p[align="center"]
      font[size="3"]
        br
        font[size="3" color="#990000"]
          b
            | 「 住む人の愛が溢れる、生命（いのち）が活きる、
            br
            |  歓びの住まいづくりに貢献する。」
          br
          br
    h3[align="center"]
      font[size="3" color="#0000cc"]
        font[size="3" color="#00005e"]
          | コンセプト
      br
      font[size="3"]
        font[size="3"]
          br
          font[size="3"]
            | 「ホームメイド」の考えるリフォーム
            br
            br
            |  １、未来の家族のために世代
            b
              | を超えて、安心して住める家。
              br
              |  ２、使い慣れた家の思い出はそのままに、使い勝手のいい家。
              br
              |  ３、家族の絆を深めることができる、愛情の溢れる家。
              br
              |  ４、大切な家族を守り、お客様と一緒に作り上げる家。
              br
              |  ５、夢を叶える、幸せの法則が生かされている家。
              br
              br
          font[color="#660000"]
            | そんな素敵なリフォームだから・・・
            br
            br
          font[size="3"]
            | ○ 「嬉しいリフォーム」 
            br
            |  ○ 「楽しいリフォーム」 
            br
            |  ○ 「ありがたいリフォーム」 
            br
            |  を合言葉にしています。
            br
    h5[align="center"]
      font[size="3" color="#0000cc"]
        font[size="3" color="#00005e"]
          | Home made 【意味】
      br
      font[size="3"]
        br
        |  【Homemade】の翻訳は
        br
        |  手製の，自家製の，国産の，という意味です。
        br
        |  また、お手製（手作り）という意味で
        br
        |  Home（家）made(まで）総合的な、という意味。
        br
        |  Homeは家族を表し、家族を育てる良い環境、
        br
        |  空間をを作り上げるという意味を持つ。
        br
        |  カラーは家の畳の色をベースに、
        br
        |  安らぎや団らん温かみを込めました。
      br
      br
      br
      br
      |  家族への思いを込めて
      br
      |  (NECムジカノーバ音楽祭作曲賞受賞)
      br
      br
      |  「
      font[color="#009900"]
        a[href="../../uta2.htm"]
          font[color="#00005e"]
            | 森からのおくりもの
      | 」
      br
