h1.construction_name
  | S邸 外壁防水塗装工事
p.construction_period
  | H28-09-22 〜 H28-09-26
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現調1
    img src="reform/H28-09-22/a1.jpg" alt="現調1"
    p.text-gray
      | 外壁は黒カビが一面にひろがり、特に北側の状態がひどく、防カビの塗装を下塗りに使用し和を醸し出すために艶消し塗料を使用しました。木部デッキもかなり劣化が進んでいたので、キシラデコールを塗って木部の外観を保護することにしました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現調2
    img src="reform/H28-09-22/a2.jpg" alt="現調2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現調3
    img src="reform/H28-09-22/a3.jpg" alt="現調3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現調4
    img src="reform/H28-09-22/a4.jpg" alt="現調4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木部デッキ1
    img src="reform/H28-09-22/a5.jpg" alt="木部デッキ1"
    p.text-gray
      | 木部のデッキ板塀なども塗装が剥げて割れや腐食が進んでいました。キシラデコールの色の濃い塗装を使用して木部を保護し、割れや腐食が目立たないようにしました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木部デッキ2
    img src="reform/H28-09-22/a6.jpg" alt="木部デッキ2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木部デッキ3
    img src="reform/H28-09-22/a7.jpg" alt="木部デッキ3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木部デッキ4
    img src="reform/H28-09-22/a8.jpg" alt="木部デッキ4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁部の状態1
    img src="reform/H28-09-22/a9.jpg" alt="外壁部の状態1"
    p.text-gray
      | 外壁の各部の状態を細部にわたり点検して塗装の仕方を決めます。傷んでいる箇所が苔なのか、カビなのか、傷やひび割れ(クラック)なのかで処理の仕方が変わってきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁部の状態2
    img src="reform/H28-09-22/a10.jpg" alt="外壁部の状態2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁部の状態3
    img src="reform/H28-09-22/a11.jpg" alt="外壁部の状態3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁部の状態4
    img src="reform/H28-09-22/a12.jpg" alt="外壁部の状態4"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工前チェック1
    img src="reform/H28-09-22/a15.jpg" alt="完工前チェック1"
    p.text-gray
      | 完工前に足場に登り各場所を入念に点検チェックして、仕上がり状況を確認します。その後タッチアップによる修正や補修を行います。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工前チェック2
    img src="reform/H28-09-22/a16.jpg" alt="完工前チェック2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工前チェック3
    img src="reform/H28-09-22/a17.jpg" alt="完工前チェック3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工前チェック4
    img src="reform/H28-09-22/a18.jpg" alt="完工前チェック4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工1
    img src="reform/H28-09-22/a22.jpg" alt="完工1"
    p.text-gray
      | 足場を外してから、安心して住んで頂けるように、さらに再度確認をして完成です。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工2
    img src="reform/H28-09-22/a20.jpg" alt="完工2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工3
    img src="reform/H28-09-22/a21.jpg" alt="完工3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工4
    img src="reform/H28-09-22/a19.jpg" alt="完工4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工5
    img src="reform/H28-09-22/ab2.jpg" alt="完工5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工6
    img src="reform/H28-09-22/ab1.jpg" alt="完工6"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工7
    img src="reform/H28-09-22/ab3.jpg" alt="完工7"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工8
    img src="reform/H28-09-22/ab5.jpg" alt="完工8"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

