h1.construction_name
  | 木部外壁塗装工事
p.construction_period
  | H28-08-31 〜 H28-08-31
p.construction_outline
  | 木部の外壁塗装の施工手順です。現場調査を行い、足場を組みます。高圧洗浄（水洗い）後に、専用洗浄液による色抜きを行います。風雨に晒され、傷んでいた外壁でしたが、元の美しい木肌を取り戻し、輝いています。

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現場調査
    img src="reform/H28-08-31/i1.jpg" alt="現場調査"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み
    img src="reform/H28-08-31/i2.jpg" alt="足場組み"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄（水洗い）
    img src="reform/H28-08-31/i3.jpg" alt="高圧洗浄（水洗い）"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 専用洗浄液による色抜き
    img src="reform/H28-08-31/i4.jpg" alt="専用洗浄液による色抜き"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成
    img src="reform/H28-08-31/i5.jpg" alt="完成"
    p.text-gray
      | 
