h1.construction_name
  | M邸 改修工事
p.construction_period
  | H28-09-19 〜 H28-09-22
p.construction_outline
  | 雨水が割目から入り構造材もかなり腐食が進んでいました。外壁防水塗装と屋根防水塗装で、土蔵造りの風格と品格のある新築の美しい姿が蘇ってきました。

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現調（施工前)
    img src="reform/H28-09-19/y1.jpg" alt="現調（施工前)"
    p.text-gray
      | 西側の外壁とベランダの痛みがひどいので、ベランダは撤去、西側の外壁は剥がして下地からやり直しをする大きな工事になりました。駐車場の天井もベランダの割れがひどく雨水が沁みている状態でした。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現調2
    img src="reform/H28-09-19/y2.jpg" alt="現調2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現調3
    img src="reform/H28-09-19/y3.jpg" alt="現調3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現調4
    img src="reform/H28-09-19/y4.jpg" alt="現調4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造材補強補修工事
    img src="reform/H28-09-19/y41.jpg" alt="構造材補強補修工事"
    p.text-gray
      | 西側の外壁とベランダを撤去後、構造材の補強補修工事が必要になりました。雨水がベランダの割目から入り構造材もかなり腐食が進んでいました。外壁の塗装の前にシッカリと検査して補修致しますのでご安心ください。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造材補強補修工事2
    img src="reform/H28-09-19/y42.jpg" alt="構造材補強補修工事2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造材補強補修工事3
    img src="reform/H28-09-19/y43.jpg" alt="構造材補強補修工事3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造材補強補修工事4
    img src="reform/H28-09-19/y44.jpg" alt="構造材補強補修工事4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダを撤去し、左官工事のための下地づくりと駐車場の天井の補修工事
    img src="reform/H28-09-19/y5.jpg" alt="ベランダを撤去し、左官工事のための下地づくりと駐車場の天井の補修工事"
    p.text-gray
      | 西側の外壁とベランダを撤去後、左官工事のための下地づくりからやり直しました。同時並行で、駐車場の天井も修復しました。玄関庇は新しく増築して、駐車場への雨水の入り込みを防ぎました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 補修工事2
    img src="reform/H28-09-19/y6.jpg" alt="補修工事2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 補修工事3
    img src="reform/H28-09-19/y8.jpg" alt="補修工事3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 補修工事4
    img src="reform/H28-09-19/y7.jpg" alt="補修工事4"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 左官補修工事
    img src="reform/H28-09-19/y9.jpg" alt="左官補修工事"
    p.text-gray
      | 下地づくりが完了、やっと左官工事ができるようになりました。見事に蘇る外壁に施主の方も大満足でした。駐車場の壁も綺麗なペパーミントブルーに仕上げました。この後に外壁の防水塗装工事が始まります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 左官補修工事2
    img src="reform/H28-09-19/y10.jpg" alt="左官補修工事2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 左官補修工事3
    img src="reform/H28-09-19/y11.jpg" alt="左官補修工事3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 左官補修工事4
    img src="reform/H28-09-19/y12.jpg" alt="左官補修工事4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関の庇と塀の防水塗装工事と板金工事
    img src="reform/H28-09-19/y14.jpg" alt="玄関の庇と塀の防水塗装工事と板金工事"
    p.text-gray
      | 板金工事は軽くて丈夫なガルバを使いました。木部の塗装も落ち着いた色合いに仕上げ外壁の白色にピッタリの土蔵仕上がりのような趣のある仕上がりになりました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金工事2
    img src="reform/H28-09-19/y16.jpg" alt="板金工事2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金工事3
    img src="reform/H28-09-19/y15.jpg" alt="板金工事3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金工事4
    img src="reform/H28-09-19/y17.jpg" alt="板金工事4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根防水塗装工事
    img src="reform/H28-09-19/y18.jpg" alt="屋根防水塗装工事"
    p.text-gray
      | 外壁防水塗装と屋根防水塗装で新築の姿が蘇ってきました。屋根に光沢が戻り、風格と品格のある佇まいになりました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根防水塗装工事2
    img src="reform/H28-09-19/y19.jpg" alt="屋根防水塗装工事2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根防水塗装工事3
    img src="reform/H28-09-19/y20.jpg" alt="屋根防水塗装工事3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根防水塗装工事4
    img src="reform/H28-09-19/y21.jpg" alt="屋根防水塗装工事4"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁防水塗装工事完了完成写真
    img src="reform/H28-09-19/y22.jpg" alt="外壁防水塗装工事完了完成写真"
    p.text-gray
      | 外壁防水塗装の色は白で仕上げ土蔵造りのイメージが家全体を品のある美しさに仕上がりました。新築したばかりの姿が蘇ってきました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成写真2
    img src="reform/H28-09-19/y220.jpg" alt="完成写真2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成写真3
    img src="reform/H28-09-19/y23.jpg" alt="完成写真3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成写真4
    img src="reform/H28-09-19/y24.jpg" alt="完成写真4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成写真5
    img src="reform/H28-09-19/b1.jpg" alt="完成写真5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成写真6
    img src="reform/H28-09-19/b2.jpg" alt="完成写真6"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成写真7
    img src="reform/H28-09-19/b3.jpg" alt="完成写真7"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成写真8
    img src="reform/H28-09-19/b4.jpg" alt="完成写真8"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成写真9
    img src="reform/H28-09-19/b5.jpg" alt="完成写真9"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

