h1.construction_name
  | N邸 外壁防水塗装工事
p.construction_period
  | H28-10-31 〜 H28-11-21
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現調
    img src="reform/H28-10-31/a1017.jpg" alt="現調"
    p.text-gray
      | ベランダ部、破風、幕板等の現状をチェックします。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現調
    img src="reform/H28-10-31/a1018.jpg" alt="現調"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組
    img src="reform/H28-10-31/asn11.jpg" alt="足場組"
    p.text-gray
      | ご近所に配慮し、シートをかけて塗料が跳ねないようにします。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | シート外し
    img src="reform/H28-10-31/ni33.jpg" alt="シート外し"
    p.text-gray
      | 完工で足場があるうちに塗装状態をチェックします。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | タッチアップ
    img src="reform/H28-10-31/ni34.jpg" alt="タッチアップ"
    p.text-gray
      | 補修塗装で、塗装の状態をチェックします。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H28-10-31/ni38.jpg" alt="完成1"
    p.text-gray
      | 足場を取り外し完成です。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H28-10-31/ni37.jpg" alt="完成2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成3
    img src="reform/H28-10-31/ni36.jpg" alt="完成3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | フェンスを戻して完成
    img src="reform/H28-10-31/11a11.jpg" alt="フェンスを戻して完成"
    p.text-gray
      | 
