h1.construction_name
  | MM邸外壁・屋根防水塗装工事
p.construction_period
  | H29-04-20 〜 H29-05-15
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前(4/20)
    img src="reform/H29-04-20/1im0.jpg" alt="施工前(4/20)"
    p.text-gray
      | 現状
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前
    img src="reform/H29-04-20/1im1.jpg" alt="施工前"
    p.text-gray
      | 屋根の経年劣化が進んでいます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の現況
    img src="reform/H29-04-20/1im420.jpg" alt="屋根の現況"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み(4/24)
    img src="reform/H29-04-20/asiba110.jpg" alt="足場組み(4/24)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み(4/25)
    img src="reform/H29-04-20/asiba111.jpg" alt="足場組み(4/25)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄(4/26)
    img src="reform/H29-04-20/yane1111.jpg" alt="高圧洗浄(4/26)"
    p.text-gray
      | 洗浄により劣化した塗膜や汚れが綺麗に落ちます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄
    img src="reform/H29-04-20/yane1112.jpg" alt="高圧洗浄"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄
    img src="reform/H29-04-20/yane1113.jpg" alt="高圧洗浄"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄後の屋根
    img src="reform/H29-04-20/yj3.jpg" alt="高圧洗浄後の屋根"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生
    img src="reform/H29-04-20/yj2.jpg" alt="養生"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生(4/26)
    img src="reform/H29-04-20/yj1.jpg" alt="養生(4/26)"
    p.text-gray
      | 細部に至るまで塗装がつかないようにしっかり覆います。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング打ち直し(4/30)
    img src="reform/H29-04-20/kg114.jpg" alt="コーキング打ち直し(4/30)"
    p.text-gray
      | 古いコーキングを丁寧に取り去って打ち直しを行います。

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の高圧洗浄
    img src="reform/H29-04-20/mm1.jpg" alt="屋根の高圧洗浄"
    p.text-gray
      | 洗浄だけでかなり表面の塗装が落ちます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根高圧洗浄
    img src="reform/H29-04-20/mm3.jpg" alt="屋根高圧洗浄"
    p.text-gray
      | ほこりや汚れを綺麗に落とします。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根塗装
    img src="reform/H29-04-20/mm3_1.jpg" alt="屋根塗装"
    p.text-gray
      | 下塗りの後に中塗り。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根塗装
    img src="reform/H29-04-20/mm5_2.jpg" alt="屋根塗装"
    p.text-gray
      | 中塗り。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根中塗り
    img src="reform/H29-04-20/mm5.jpg" alt="屋根中塗り"
    p.text-gray
      | 重ねて塗っていきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H29-04-20/mm6.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H29-04-20/mm5_3.jpg" alt="完成2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成3
    img src="reform/H29-04-20/mm4.jpg" alt="完成3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外観1
    img src="reform/H29-04-20/mm7.jpg" alt="外観1"
    p.text-gray
      | 外壁も新築の姿に
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外観2
    img src="reform/H29-04-20/mm10.jpg" alt="外観2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景2
    img src="reform/H29-04-20/mm8.jpg" alt="全景2"
    p.text-gray
      | 新築そっくりに蘇りました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景3
    img src="reform/H29-04-20/mm11.jpg" alt="全景3"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景4
    img src="reform/H29-04-20/mm9.jpg" alt="全景4"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

