h1.construction_name
  | I邸 瓦吹き替え工事
p.construction_period
  | H29-08-26 〜 H29-08-26
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状１
    img src="reform/H29-08-26/i00i.jpg" alt="現状１"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状２
    img src="reform/H29-08-26/i0i.jpg" alt="現状２"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3
    img src="reform/H29-08-26/i1i.jpg" alt="現状3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状4
    img src="reform/H29-08-26/i2i.jpg" alt="現状4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状5
    img src="reform/H29-08-26/i3i.jpg" alt="現状5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み
    img src="reform/H29-08-26/i4i.jpg" alt="足場組み"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦剥ぎ1
    img src="reform/H29-08-26/i5i.jpg" alt="瓦剥ぎ1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦剥ぎ2
    img src="reform/H29-08-26/i6i.jpg" alt="瓦剥ぎ2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦の撤去1
    img src="reform/H29-08-26/i7i.jpg" alt="瓦の撤去1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦の撤去2
    img src="reform/H29-08-26/i8i.jpg" alt="瓦の撤去2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土を撤去3
    img src="reform/H29-08-26/i9i.jpg" alt="土を撤去3"
    p.text-gray
      | アスファルトルーフィング敷き
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土の撤去4
    img src="reform/H29-08-26/i11i.jpg" alt="土の撤去4"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地施工1
    img src="reform/H29-08-26/i13i.jpg" alt="下地施工1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地作り2
    img src="reform/H29-08-26/i14i.jpg" alt="下地作り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦伏せ1
    img src="reform/H29-08-26/i15i.jpg" alt="瓦伏せ1"
    p.text-gray
      | 基準を決める
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦伏せ2
    img src="reform/H29-08-26/i16i.jpg" alt="瓦伏せ2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦伏せ3
    img src="reform/H29-08-26/i15i_1.jpg" alt="瓦伏せ3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦伏せ4
    img src="reform/H29-08-26/i17i.jpg" alt="瓦伏せ4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦伏せ5
    img src="reform/H29-08-26/i18i.jpg" alt="瓦伏せ5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 鬼瓦の設置1
    img src="reform/H29-08-26/i19i.jpg" alt="鬼瓦の設置1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 鬼瓦の設置2
    img src="reform/H29-08-26/i20i.jpg" alt="鬼瓦の設置2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 鬼瓦の設置3
    img src="reform/H29-08-26/i22i_1.jpg" alt="鬼瓦の設置3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 鬼瓦の設置4
    img src="reform/H29-08-26/i22i.jpg" alt="鬼瓦の設置4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | かんぶり瓦の設置1
    img src="reform/H29-08-26/i23i.jpg" alt="かんぶり瓦の設置1"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング
    img src="reform/H29-08-26/i24i.jpg" alt="コーキング"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H29-08-26/i22i_2.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H29-08-26/i25i.jpg" alt="完成2"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

