h1.construction_name
  | H邸 木部塗装工事
p.construction_period
  | H29-02-26 〜 H29-03-28
p.construction_outline
  | 建具、デッキ、玄関まで木を使用。木専用塗料で、定期的なメンテナンスは大切な家を守ります。

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外木製玄関手摺り現調（施工前)
    img src="reform/H29-02-26/11a1.jpg" alt="外木製玄関手摺り現調（施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外木製玄関手摺り完成（施工後）
    img src="reform/H29-02-26/11a2.jpg" alt="外木製玄関手摺り完成（施工後）"
    p.text-gray
      | かなり傷みがひどく、腐食も進んでいましたので、取り替えて、笠木をつけ水切りを良くしました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外部にある物置現調（施工前)
    img src="reform/H29-02-26/11a4.jpg" alt="外部にある物置現調（施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外部にある物置完成（施工後）
    img src="reform/H29-02-26/11a5.jpg" alt="外部にある物置完成（施工後）"
    p.text-gray
      | 汚れをペーパで落としながら念入りに刷毛で仕上げていきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁建具の塗装現調（施工前)
    img src="reform/H29-02-26/11a3.jpg" alt="外壁建具の塗装現調（施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁建具の塗装完成（施工後）
    img src="reform/H29-02-26/11a3_.jpg" alt="外壁建具の塗装完成（施工後）"
    p.text-gray
      | 網戸も変えて建具を丁寧に刷毛で仕上げます。色むらがないように何回も重ね塗りを行います。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木製デッキ現調（施工前)
    img src="reform/H29-02-26/11a6.jpg" alt="木製デッキ現調（施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木製デッキ完成（施工後）
    img src="reform/H29-02-26/11a7.jpg" alt="木製デッキ完成（施工後）"
    p.text-gray
      | 3年〜5年を目安に小まめに塗装をして木部が腐食する前に塗らないと、デッキの面影もなく朽ちてしまいます。塗料としてはキシラデコールがよく使われています。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 桁・母屋・垂木現調（施工前)
    img src="reform/H29-02-26/11a12.jpg" alt="桁・母屋・垂木現調（施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 桁・母屋・垂木完成（施工後）
    img src="reform/H29-02-26/11a13.jpg" alt="桁・母屋・垂木完成（施工後）"
    p.text-gray
      | 構造材は刷毛塗りで仕上げます。色を合わせるために何回も重ねて塗って行きます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木製の外壁現調（施工前)
    img src="reform/H29-02-26/11a14.jpg" alt="木製の外壁現調（施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木製の外壁完成（施工後）
    img src="reform/H29-02-26/11a15.jpg" alt="木製の外壁完成（施工後）"
    p.text-gray
      | 汚れが重なってくると黒くなってしまいます。色抜きをして、再度塗る場合と前の色より濃い色を使って傷みを目立たないように仕上げます。木部専用のキシラデコールが使われます。

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木製の建具現調（施工前)
    img src="reform/H29-02-26/11a16.jpg" alt="木製の建具現調（施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木製の建具完成（施工後）
    img src="reform/H29-02-26/11a17.jpg" alt="木製の建具完成（施工後）"
    p.text-gray
      | 北面の建具もシッカリ塗装、細かな塗りは刷毛を使って手塗りで何回も塗り重ねていきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前(11/5)
    img src="reform/H29-02-26/hhh1.jpg" alt="施工前(11/5)"
    p.text-gray
      | 現調（現状把握)
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 既設撤去(2/2)
    img src="reform/H29-02-26/hhh2.jpg" alt="既設撤去(2/2)"
    p.text-gray
      | 既設の手摺の撤去
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生設置(2/14)
    img src="reform/H29-02-26/hhh3.jpg" alt="養生設置(2/14)"
    p.text-gray
      | 檜木製手摺りの据付
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場の準備(2/25)
    img src="reform/H29-02-26/hhh4.jpg" alt="足場の準備(2/25)"
    p.text-gray
      | 整理整頓して並べます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み(2/28)
    img src="reform/H29-02-26/hhh228.jpg" alt="足場組み(2/28)"
    p.text-gray
      | 北面
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み
    img src="reform/H29-02-26/hhh302.jpg" alt="足場組み"
    p.text-gray
      | 南面
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ペーパー掛け(3/7)
    img src="reform/H29-02-26/ht111.jpg" alt="ペーパー掛け(3/7)"
    p.text-gray
      | 塗装が付着しやすくするために木部のペーパー掛けをします。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ガードラック手塗り(3/9)
    img src="reform/H29-02-26/hhh3_9.jpg" alt="ガードラック手塗り(3/9)"
    p.text-gray
      | 塗装を丁寧に刷毛で塗っていきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 垂木も手塗り(3/9)
    img src="reform/H29-02-26/hhh3_9_2.jpg" alt="垂木も手塗り(3/9)"
    p.text-gray
      | 駐車場の屋根も丁寧に刷毛で塗っていきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | その1
    img src="reform/H29-02-26/hhh124.jpg" alt="その1"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | その2
    img src="reform/H29-02-26/hhh125.jpg" alt="その2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | その3
    img src="reform/H29-02-26/hhh123.jpg" alt="その3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 建具の塗装(3/14)
    img src="reform/H29-02-26/i133.jpg" alt="建具の塗装(3/14)"
    p.text-gray
      | 建具も手塗りで丁寧に仕上げます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 建具の塗装(3/14)
    img src="reform/H29-02-26/i134.jpg" alt="建具の塗装(3/14)"
    p.text-gray
      | 各所建具も全体のバランスを見ながら色を合わせて仕上げます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 建具の塗装(3/15)
    img src="reform/H29-02-26/hyt55.jpg" alt="建具の塗装(3/15)"
    p.text-gray
      | 建具も2回目の上塗り、丁寧に仕上げます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風板の塗装(3/15)
    img src="reform/H29-02-26/hyt44.jpg" alt="破風板の塗装(3/15)"
    p.text-gray
      | 破風板も色を合わせて仕上げます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 垂木・桁の塗装(3/15)
    img src="reform/H29-02-26/hyt33.jpg" alt="垂木・桁の塗装(3/15)"
    p.text-gray
      | 垂木も桁も2回目の上塗り、丁寧に仕上げます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 車庫の内部の塗装(3/15)
    img src="reform/H29-02-26/hyt808.jpg" alt="車庫の内部の塗装(3/15)"
    p.text-gray
      | 桁も2回目の仕上げで色を合わせていきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関手摺の塗装準備(3/16)
    img src="reform/H29-02-26/hyt606.jpg" alt="玄関手摺の塗装準備(3/16)"
    p.text-gray
      | 手摺も塗装の準備で姿を現しました。（桧材を使用しました。）
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 建具の塗装(3/16)
    img src="reform/H29-02-26/hyt707.jpg" alt="建具の塗装(3/16)"
    p.text-gray
      | 物置の建具も丁寧に仕上げます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根垂木・桁の塗装(3/16)
    img src="reform/H29-02-26/hyt101.jpg" alt="屋根垂木・桁の塗装(3/16)"
    p.text-gray
      | 屋根垂木・桁も2回目の上塗りで色を合わせます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工後(3/20)
    img src="reform/H29-02-26/320h1.jpg" alt="施工後(3/20)"
    p.text-gray
      | 2回塗りの後

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page4.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関手摺(3/20)
    img src="reform/H29-02-26/320h2.jpg" alt="玄関手摺(3/20)"
    p.text-gray
      | 手摺の塗装も完了しました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関手摺（拡大）(3/20)
    img src="reform/H29-02-26/320h3.jpg" alt="玄関手摺（拡大）(3/20)"
    p.text-gray
      | 檜木製手摺りの塗装（拡大）
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 車庫の南面(3/20)
    img src="reform/H29-02-26/320h4.jpg" alt="車庫の南面(3/20)"
    p.text-gray
      | 柱・土台・屋根垂木の仕上げ塗装
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 車庫の母屋と桁(3/20)
    img src="reform/H29-02-26/320h5.jpg" alt="車庫の母屋と桁(3/20)"
    p.text-gray
      | 落ち着いた色合いが出てきました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 北面の建具(3/20)
    img src="reform/H29-02-26/320h6.jpg" alt="北面の建具(3/20)"
    p.text-gray
      | 趣のある色合いに仕上がりました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk1.jpg" alt="完工(3/28)"
    p.text-gray
      | 南側全景
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk2.jpg" alt="完工(3/28)"
    p.text-gray
      | 北側全景
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk3.jpg" alt="完工(3/28)"
    p.text-gray
      | 東側全景
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk4.jpg" alt="完工(3/28)"
    p.text-gray
      | 西側全景
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk5.jpg" alt="完工(3/28)"
    p.text-gray
      | 車庫全景
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk6.jpg" alt="完工(3/28)"
    p.text-gray
      | 車庫全景
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk7.jpg" alt="完工(3/28)"
    p.text-gray
      | 玄関木製手摺り

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page5.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk8.jpg" alt="完工(3/28)"
    p.text-gray
      | 玄関木製手摺り
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk10.jpg" alt="完工(3/28)"
    p.text-gray
      | 玄関木製手摺り
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk9.jpg" alt="完工(3/28)"
    p.text-gray
      | 玄関木製手摺り
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk11.jpg" alt="完工(3/28)"
    p.text-gray
      | 木製玄関扉
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk12.jpg" alt="完工(3/28)"
    p.text-gray
      | 玄関木製手摺り
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk14.jpg" alt="完工(3/28)"
    p.text-gray
      | 軒天・庇
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk15.jpg" alt="完工(3/28)"
    p.text-gray
      | 軒天・庇
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk16.jpg" alt="完工(3/28)"
    p.text-gray
      | 軒天・庇
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工(3/28)
    img src="reform/H29-02-26/1nk17.jpg" alt="完工(3/28)"
    p.text-gray
      | 軒天・庇

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5

