h1.construction_name
  | N邸 木塀改修工事
p.construction_period
  | H29-11-06 〜 H29-12-17
p.construction_outline
  | 風雨に晒され傷んだ木塀を、檜の土台を使って改修、美しい木目が中庭を引き立てます。

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1(11/9)
    img src="reform/H29-11-06/an5.jpg" alt="現状1(11/9)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2(11/6)
    img src="reform/H29-11-06/an1.jpg" alt="現状2(11/6)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3(11/6)
    img src="reform/H29-11-06/an2.jpg" alt="現状3(11/6)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状4(11/7)
    img src="reform/H29-11-06/an3.jpg" alt="現状4(11/7)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 解体(11/10)
    img src="reform/H29-11-06/an4.jpg" alt="解体(11/10)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 材料は檜の土台を使用(11/10)
    img src="reform/H29-11-06/an5_1.jpg" alt="材料は檜の土台を使用(11/10)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土台基礎の取付(11/10)
    img src="reform/H29-11-06/an6.jpg" alt="土台基礎の取付(11/10)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 北側の高塀組立(11/10)
    img src="reform/H29-11-06/an6_1.jpg" alt="北側の高塀組立(11/10)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 北側の高塀組立(11/10)
    img src="reform/H29-11-06/an9.jpg" alt="北側の高塀組立(11/10)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高塀の取付1
    img src="reform/H29-11-06/an7.jpg" alt="高塀の取付1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高塀の取付2
    img src="reform/H29-11-06/an10.jpg" alt="高塀の取付2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高塀の取付3
    img src="reform/H29-11-06/an8.jpg" alt="高塀の取付3"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高塀の取付4
    img src="reform/H29-11-06/an9.jpg" alt="高塀の取付4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高塀取付けの土台敷き5
    img src="reform/H29-11-06/an11.jpg" alt="高塀取付けの土台敷き5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高塀の取付6
    img src="reform/H29-11-06/an15.jpg" alt="高塀の取付6"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高塀の取付7
    img src="reform/H29-11-06/an13.jpg" alt="高塀の取付7"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高塀の取付8
    img src="reform/H29-11-06/an12.jpg" alt="高塀の取付8"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高塀の取付8
    img src="reform/H29-11-06/an14.jpg" alt="高塀の取付8"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付(11/11)
    img src="reform/H29-11-06/an8.jpg" alt="板塀の取付(11/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付(11/11)
    img src="reform/H29-11-06/an9.jpg" alt="板塀の取付(11/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付(11/11)
    img src="reform/H29-11-06/an11.jpg" alt="板塀の取付(11/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付(11/11)
    img src="reform/H29-11-06/an15.jpg" alt="板塀の取付(11/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付1
    img src="reform/H29-11-06/an13.jpg" alt="板塀の取付1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付2
    img src="reform/H29-11-06/an12.jpg" alt="板塀の取付2"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付3
    img src="reform/H29-11-06/an14.jpg" alt="板塀の取付3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付4
    img src="reform/H29-11-06/an15.jpg" alt="板塀の取付4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付5
    img src="reform/H29-11-06/an16.jpg" alt="板塀の取付5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付6
    img src="reform/H29-11-06/an16_1.jpg" alt="板塀の取付6"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付7
    img src="reform/H29-11-06/an16_2.jpg" alt="板塀の取付7"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付8
    img src="reform/H29-11-06/an17.jpg" alt="板塀の取付8"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付9
    img src="reform/H29-11-06/an19.jpg" alt="板塀の取付9"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付10
    img src="reform/H29-11-06/an20.jpg" alt="板塀の取付10"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付11
    img src="reform/H29-11-06/an21.jpg" alt="板塀の取付11"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付(11/11)
    img src="reform/H29-11-06/an19.jpg" alt="板塀の取付(11/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付(11/11)
    img src="reform/H29-11-06/an20.jpg" alt="板塀の取付(11/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付(11/11)
    img src="reform/H29-11-06/an21.jpg" alt="板塀の取付(11/11)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page4.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付6
    img src="reform/H29-11-06/11n8.jpg" alt="板塀の取付6"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 笠木の取付け(11/20)
    img src="reform/H29-11-06/11n1.jpg" alt="笠木の取付け(11/20)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 笠木の取付2(11/20)
    img src="reform/H29-11-06/11n2.jpg" alt="笠木の取付2(11/20)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 抜け節の取替え(12/10)
    img src="reform/H29-11-06/11n3.jpg" alt="抜け節の取替え(12/10)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 抜け節の取替え(12/13)
    img src="reform/H29-11-06/11n4.jpg" alt="抜け節の取替え(12/13)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の塗装(12/17)
    img src="reform/H29-11-06/11n5.jpg" alt="板塀の塗装(12/17)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の塗装(12/17)
    img src="reform/H29-11-06/11n6.jpg" alt="板塀の塗装(12/17)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の塗装(12/17)
    img src="reform/H29-11-06/11n7.jpg" alt="板塀の塗装(12/17)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の取付7
    img src="reform/H29-11-06/11n9.jpg" alt="板塀の取付7"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の土台の仕上げ方
    img src="reform/H29-11-06/11n11.jpg" alt="板塀の土台の仕上げ方"
    p.text-gray
      | 雨水の通りを良くして劣化を防ぎます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成しました。
    img src="reform/H29-11-06/11n12.jpg" alt="完成しました。"
    p.text-gray
      | 木目の美しさが引き立ちます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H29-11-06/11n13.jpg" alt="完成2"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page5.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成3
    img src="reform/H29-11-06/11n12.jpg" alt="完成3"
    p.text-gray
      | 中庭を引き立てる情景です。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成3
    img src="reform/H29-11-06/11n13.jpg" alt="完成3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成4
    img src="reform/H29-11-06/11n14.jpg" alt="完成4"
    p.text-gray
      | 全景
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成5
    img src="reform/H29-11-06/11n15.jpg" alt="完成5"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5

