h1.construction_name
  | YD邸 外壁防水塗装工事
p.construction_period
  | H29-09-01 〜 H29-10-05
p.construction_outline
  | 経年劣化による外壁の痛みを丹念に修復防水塗装、丹念なコーキングで、新築の風合いが甦ります。

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状（全景）(9/1)
    img src="reform/H29-09-01/yd1.jpg" alt="現状（全景）(9/1)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状（西面）
    img src="reform/H29-09-01/yd2.jpg" alt="現状（西面）"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状（北面）
    img src="reform/H29-09-01/yd3.jpg" alt="現状（北面）"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み(9/19)
    img src="reform/H29-09-01/yd4.jpg" alt="足場組み(9/19)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 安全カバー取付け(9/20)
    img src="reform/H29-09-01/yd5.jpg" alt="安全カバー取付け(9/20)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | メッシュシート貼り(9/21)
    img src="reform/H29-09-01/yd4_1.jpg" alt="メッシュシート貼り(9/21)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄後の外壁(9/21)
    img src="reform/H29-09-01/yd6.jpg" alt="高圧洗浄後の外壁(9/21)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生(9/25)
    img src="reform/H29-09-01/yd8.jpg" alt="養生(9/25)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生(9/25)
    img src="reform/H29-09-01/yd7.jpg" alt="養生(9/25)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング打ち直し(9/28)
    img src="reform/H29-09-01/yd10.jpg" alt="コーキング打ち直し(9/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下塗り・中塗り(9/29)
    img src="reform/H29-09-01/yd11.jpg" alt="下塗り・中塗り(9/29)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下塗り・中塗り(9/30)
    img src="reform/H29-09-01/yd15.jpg" alt="下塗り・中塗り(9/30)"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り(9/30)
    img src="reform/H29-09-01/yd14.jpg" alt="中塗り(9/30)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り(9/30)
    img src="reform/H29-09-01/yd16.jpg" alt="中塗り(9/30)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り・上塗り(9/30)
    img src="reform/H29-09-01/yd13.jpg" alt="中塗り・上塗り(9/30)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り・上塗り(9/30)
    img src="reform/H29-09-01/yd12.jpg" alt="中塗り・上塗り(9/30)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り(9/30)
    img src="reform/H29-09-01/yd17.jpg" alt="上塗り(9/30)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し(10/4)
    img src="reform/H29-09-01/yd18_1.jpg" alt="足場外し(10/4)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し(10/4)
    img src="reform/H29-09-01/yd18_2.jpg" alt="足場外し(10/4)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成(10/5)
    img src="reform/H29-09-01/yd18_3.jpg" alt="完成(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成(10/5)
    img src="reform/H29-09-01/yd19.jpg" alt="完成(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成(10/5)
    img src="reform/H29-09-01/yd18_5.jpg" alt="完成(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成(10/5)
    img src="reform/H29-09-01/yd20.jpg" alt="完成(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成(10/5)
    img src="reform/H29-09-01/yd18.jpg" alt="完成(10/5)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

