h1.construction_name
  | M邸 玄関軒天・駐車場防水塗装工事
p.construction_period
  | H29-05-28 〜 H29-06-15
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前(5/20)現状
    img src="reform/H29-05-28/mu1.jpg" alt="施工前(5/20)現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前外壁の状態
    img src="reform/H29-05-28/mu2.jpg" alt="施工前外壁の状態"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H29-05-28/mu3.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H29-05-28/mu4.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み(5/28)
    img src="reform/H29-05-28/mu5.jpg" alt="足場組み(5/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄(5/31)
    img src="reform/H29-05-28/mu6.jpg" alt="高圧洗浄(5/31)"
    p.text-gray
      | 洗浄により劣化した塗膜や汚れが綺麗に落ちます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄
    img src="reform/H29-05-28/mu7.jpg" alt="高圧洗浄"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の高圧洗浄
    img src="reform/H29-05-28/mu5_1.jpg" alt="外壁の高圧洗浄"
    p.text-gray
      | 外壁も念入りに洗浄
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄のベランダ
    img src="reform/H29-05-28/mu8.jpg" alt="高圧洗浄のベランダ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダの洗浄
    img src="reform/H29-05-28/mu9.jpg" alt="ベランダの洗浄"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | さらにきれいに(5/31)
    img src="reform/H29-05-28/mu10.jpg" alt="さらにきれいに(5/31)"
    p.text-gray
      | 細部に至るまで汚れを落とします。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の下・中塗り(6/1)
    img src="reform/H29-05-28/mu11.jpg" alt="屋根の下・中塗り(6/1)"
    p.text-gray
      | 洗浄後は塗装のノリも抜群です。

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の中・上塗り
    img src="reform/H29-05-28/mu12.jpg" alt="屋根の中・上塗り"
    p.text-gray
      | 洗浄後、屋根３回塗りで輝きと艶が戻ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の下塗り(6/5)
    img src="reform/H29-05-28/imu33.jpg" alt="外壁の下塗り(6/5)"
    p.text-gray
      | 下塗りは中塗りの接着力を高めます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の中・上塗り(6/5)
    img src="reform/H29-05-28/mu38.jpg" alt="外壁の中・上塗り(6/5)"
    p.text-gray
      | 新築の趣きがでてきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダの下塗り(6/5)
    img src="reform/H29-05-28/imu32.jpg" alt="ベランダの下塗り(6/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダの中・上塗り
    img src="reform/H29-05-28/mu37.jpg" alt="ベランダの中・上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の中・上塗り
    img src="reform/H29-05-28/mu13.jpg" alt="外壁の中・上塗り"
    p.text-gray
      | 外壁にも艶が蘇ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の中・上塗装
    img src="reform/H29-05-28/mu14.jpg" alt="外壁の中・上塗装"
    p.text-gray
      | 下塗りの後、中塗り、上塗りの３回塗り
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁塗装
    img src="reform/H29-05-28/mu15.jpg" alt="外壁塗装"
    p.text-gray
      | 上塗りで更に壁面の艶が戻ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 艶が出るまで念入りに(6/9)
    img src="reform/H29-05-28/mu16.jpg" alt="艶が出るまで念入りに(6/9)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の奥の外壁まで塗装(6/9)
    img src="reform/H29-05-28/mu17.jpg" alt="屋根の奥の外壁まで塗装(6/9)"
    p.text-gray
      | 細部に亘り手塗で仕上げます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天補修1
    img src="reform/H29-05-28/mu18_1.jpg" alt="軒天補修1"
    p.text-gray
      | 軒天の補修も塗装と同時に行います。丁寧に材料をカット
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天補修2
    img src="reform/H29-05-28/mu19.jpg" alt="軒天補修2"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天補修3
    img src="reform/H29-05-28/mu20.jpg" alt="軒天補修3"
    p.text-gray
      | 駐車場の軒天。後で塗装します。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の外壁の現状
    img src="reform/H29-05-28/mu34.jpg" alt="駐車場の外壁の現状"
    p.text-gray
      | 気になるところもしっかり補修施工
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場ポリカの補修
    img src="reform/H29-05-28/mu21.jpg" alt="駐車場ポリカの補修"
    p.text-gray
      | 破れたポリカの張り替えも一緒に行います。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 踊場も補修
    img src="reform/H29-05-28/mu35.jpg" alt="踊場も補修"
    p.text-gray
      | 駐車場、階段上の踊り場もチェック
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 階段上の踊り場も補修
    img src="reform/H29-05-28/mu22.jpg" alt="階段上の踊り場も補修"
    p.text-gray
      | 駐車場、階段上の踊り場も土間コン打ち
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 細部のチェック
    img src="reform/H29-05-28/imu39.jpg" alt="細部のチェック"
    p.text-gray
      | 養生を剥がして細部のチェック
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 仕上げ塗装
    img src="reform/H29-05-28/mu23.jpg" alt="仕上げ塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 仕上げ塗装
    img src="reform/H29-05-28/mu24.jpg" alt="仕上げ塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 仕上げ塗装
    img src="reform/H29-05-28/mu25.jpg" alt="仕上げ塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木部施工前(5/20)
    img src="reform/H29-05-28/mi60.jpg" alt="木部施工前(5/20)"
    p.text-gray
      | 木の地肌が見えはじめています。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工後(6/10)
    img src="reform/H29-05-28/mi600.jpg" alt="施工後(6/10)"
    p.text-gray
      | |木部防水塗装で地肌を守ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関庇現状(6/5)
    img src="reform/H29-05-28/mi61.jpg" alt="玄関庇現状(6/5)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page4.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 塗装後の玄関庇
    img src="reform/H29-05-28/mi62.jpg" alt="塗装後の玄関庇"
    p.text-gray
      | 落ち着いた木造の味が引き立つ
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天張り(6/1)
    img src="reform/H29-05-28/mi59.jpg" alt="軒天張り(6/1)"
    p.text-gray
      | 化粧板の経年劣化が進んでいます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天張り替え(6/12)
    img src="reform/H29-05-28/mi64.jpg" alt="軒天張り替え(6/12)"
    p.text-gray
      | 一枚一枚、手作業で丁寧に仕上げます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天の張替え後(6/14)
    img src="reform/H29-05-28/mi65.jpg" alt="軒天の張替え後(6/14)"
    p.text-gray
      | 新しい軒天、新築の輝き。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天塗装前
    img src="reform/H29-05-28/mi66.jpg" alt="軒天塗装前"
    p.text-gray
      | 軒天ケイカル板の塗装前
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天（ケイカル板の上塗り）
    img src="reform/H29-05-28/mi67.jpg" alt="軒天（ケイカル板の上塗り）"
    p.text-gray
      | ピカピカの軒天に生まれ変わります
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダの施工前
    img src="reform/H29-05-28/mu110.jpg" alt="ベランダの施工前"
    p.text-gray
      | 洗浄後のベランダ
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生して塗装(6/8)
    img src="reform/H29-05-28/mi68.jpg" alt="養生して塗装(6/8)"
    p.text-gray
      | 養生をはみ出しを防ぎます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダの仕上がり(6/10)
    img src="reform/H29-05-28/mi69.jpg" alt="ベランダの仕上がり(6/10)"
    p.text-gray
      | 洗浄後は塗装のノリも抜群です。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁部上塗り(5/20)
    img src="reform/H29-05-28/mi63.jpg" alt="外壁部上塗り(5/20)"
    p.text-gray
      | ベランダの外壁の現状
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ部上塗り(6/15)
    img src="reform/H29-05-28/mi73.jpg" alt="ベランダ部上塗り(6/15)"
    p.text-gray
      | 新築の輝きと艶が蘇ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の上塗り仕上げ(6/15)
    img src="reform/H29-05-28/mi71.jpg" alt="外壁の上塗り仕上げ(6/15)"
    p.text-gray
      | 壁面も新築以上の輝きに

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page5.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁上塗り(6/15)
    img src="reform/H29-05-28/mi72.jpg" alt="外壁上塗り(6/15)"
    p.text-gray
      | 西面の外壁もつやつや。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の上塗り(6/5)
    img src="reform/H29-05-28/mi70.jpg" alt="外壁の上塗り(6/5)"
    p.text-gray
      | ベランダの仕上げ
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁仕上がり
    img src="reform/H29-05-28/mi7_6.jpg" alt="外壁仕上がり"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の仕上がり
    img src="reform/H29-05-28/mi7_9.jpg" alt="外壁の仕上がり"
    p.text-gray
      | 新築の外壁に大変身。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の上塗装仕上げ
    img src="reform/H29-05-28/mi76.jpg" alt="外壁の上塗装仕上げ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 付帯塗装の仕上げ
    img src="reform/H29-05-28/mi77.jpg" alt="付帯塗装の仕上げ"
    p.text-gray
      | 手塗りで仕上げる職人技
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 南側壁面の塗装仕上がり
    img src="reform/H29-05-28/mi78.jpg" alt="南側壁面の塗装仕上がり"
    p.text-gray
      | 上塗りで更に壁面の艶が戻ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁仕上がり
    img src="reform/H29-05-28/mi74.jpg" alt="外壁仕上がり"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 東面外壁の仕上がり
    img src="reform/H29-05-28/mi75.jpg" alt="東面外壁の仕上がり"
    p.text-gray
      | 新築の外壁に大変身。

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5

