h1.construction_name
  | 屋内塗装工事
p.construction_period
  | H29-12-22 〜 H29-12-22
p.construction_outline
  | 廊下、会談、窓枠、玄関ドアの塗装を行いました。

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 階段の塗装(施工前)
    img src="reform/H29-12-22/110n1.jpg" alt="階段の塗装(施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 廊下の塗装(施工前)
    img src="reform/H29-12-22/110n3.jpg" alt="廊下の塗装(施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関ドアの塗装(施工前)
    img src="reform/H29-12-22/110n5.jpg" alt="玄関ドアの塗装(施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 窓枠の塗装(施工前)
    img src="reform/H29-12-22/110n14.jpg" alt="窓枠の塗装(施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 廊下の塗装(施工前)
    img src="reform/H29-12-22/110n15.jpg" alt="廊下の塗装(施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 窓枠の塗装(施工前)
    img src="reform/H29-12-22/110n2.jpg" alt="窓枠の塗装(施工前)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 廊下の塗装（下塗り）
    img src="reform/H29-12-22/110n12.jpg" alt="廊下の塗装（下塗り）"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 廊下の塗装（下塗り）
    img src="reform/H29-12-22/110n6.jpg" alt="廊下の塗装（下塗り）"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 廊下の塗装（下塗り）
    img src="reform/H29-12-22/110n7.jpg" alt="廊下の塗装（下塗り）"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 階段の塗装(施工後)
    img src="reform/H29-12-22/110n1_1.jpg" alt="階段の塗装(施工後)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 階段の塗装(施工後)
    img src="reform/H29-12-22/110n9.jpg" alt="階段の塗装(施工後)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 廊下の塗装(施工後)
    img src="reform/H29-12-22/110n8.jpg" alt="廊下の塗装(施工後)"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 窓枠の塗装1(施工後)
    img src="reform/H29-12-22/110n19.jpg" alt="窓枠の塗装1(施工後)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 窓枠の塗装4(施工後)
    img src="reform/H29-12-22/110n16.jpg" alt="窓枠の塗装4(施工後)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 階段手摺の塗装4(施工後)
    img src="reform/H29-12-22/110n18.jpg" alt="階段手摺の塗装4(施工後)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 窓枠・階段の塗装5(施工後)
    img src="reform/H29-12-22/110n20.jpg" alt="窓枠・階段の塗装5(施工後)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関ドアの塗装(施工後)
    img src="reform/H29-12-22/110n55.jpg" alt="玄関ドアの塗装(施工後)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関ドアの塗装(施工後)
    img src="reform/H29-12-22/110n56.jpg" alt="玄関ドアの塗装(施工後)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

