h1.construction_name
  | M邸外壁・屋根防水他リフォーム工事
p.construction_period
  | H29-05-20 〜 H29-08-20
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 平屋軒天(6/14)
    img src="reform/H29-05-20/mi65.jpg" alt="平屋軒天(6/14)"
    p.text-gray
      | 平屋の軒天も完成です。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 平屋の2重庇(6/18)
    img src="reform/H29-05-20/chs9.jpg" alt="平屋の2重庇(6/18)"
    p.text-gray
      | ２重庇の上部の軒天も手塗りしました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関の軒天(施工前)(6/12)
    img src="reform/H29-05-20/nokit1.jpg" alt="玄関の軒天(施工前)(6/12)"
    p.text-gray
      | 化粧合板の劣化が進んでいます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関の軒天(施工後)(6/20)
    img src="reform/H29-05-20/nokit2.jpg" alt="玄関の軒天(施工後)(6/20)"
    p.text-gray
      | 軒天に新しい化粧合版を貼っていきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関軒天完成(6/22)
    img src="reform/H29-05-20/nokit3.jpg" alt="玄関軒天完成(6/22)"
    p.text-gray
      | 玄関軒天の完成です。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関柱・桁・垂木の塗装
    img src="reform/H29-05-20/mi62.jpg" alt="玄関柱・桁・垂木の塗装"
    p.text-gray
      | 完璧に新築同等になりました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の塗装(6/20)
    img src="reform/H29-05-20/chs1.jpg" alt="駐車場の塗装(6/20)"
    p.text-gray
      | 鉄部には赤錆がでいます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の内部(6/12)
    img src="reform/H29-05-20/chs2.jpg" alt="駐車場の内部(6/12)"
    p.text-gray
      | 天井の劣化が進んでいます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 天井の現況(6/14)
    img src="reform/H29-05-20/chs3.jpg" alt="天井の現況(6/14)"
    p.text-gray
      | 経年劣化による塗装の剥がれ。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 階段部の塗装前(6/5)
    img src="reform/H29-05-20/chs4.jpg" alt="階段部の塗装前(6/5)"
    p.text-gray
      | 階段も錆が発生しています。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の屋根の現状
    img src="reform/H29-05-20/chs8.jpg" alt="駐車場の屋根の現状"
    p.text-gray
      | コーキングなどで補修してありました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場屋根の現状
    img src="reform/H29-05-20/chs5.jpg" alt="駐車場屋根の現状"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 塗装面のペーパー掛け
    img src="reform/H29-05-20/chs6.jpg" alt="塗装面のペーパー掛け"
    p.text-gray
      | 塗装ののりやすい状態にします。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根面の処理(6/8)
    img src="reform/H29-05-20/chs7.jpg" alt="屋根面の処理(6/8)"
    p.text-gray
      | はみ出したコーキング等の処理。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の下塗り
    img src="reform/H29-05-20/chs15.jpg" alt="駐車場の下塗り"
    p.text-gray
      | ペーパー掛けから下塗りが始まります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り・上塗り
    img src="reform/H29-05-20/chs16.jpg" alt="中塗り・上塗り"
    p.text-gray
      | 丁寧に階段も塗りあげていきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根部の(5/20)
    img src="reform/H29-05-20/chs17.jpg" alt="屋根部の(5/20)"
    p.text-gray
      | 屋根部も念入りに塗ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 手摺も手塗りで(6/15)
    img src="reform/H29-05-20/chs18.jpg" alt="手摺も手塗りで(6/15)"
    p.text-gray
      | 一つ一つきちんと塗り上げていきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の軒天(6/15)
    img src="reform/H29-05-20/chs19.jpg" alt="駐車場の軒天(6/15)"
    p.text-gray
      | 軒天までしっかり塗ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 細部も手塗りで(6/15)
    img src="reform/H29-05-20/chs20.jpg" alt="細部も手塗りで(6/15)"
    p.text-gray
      | 届かないところは梯子を使って塗ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全体を塗り上げる(6/23)
    img src="reform/H29-05-20/chs21.jpg" alt="全体を塗り上げる(6/23)"
    p.text-gray
      | 全体が塗り上がってきました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土台にも塗装して(6/28)
    img src="reform/H29-05-20/chs22.jpg" alt="土台にも塗装して(6/28)"
    p.text-gray
      | 土台に塗装を施して雨水から守ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 階段の上塗り(6/18)
    img src="reform/H29-05-20/chs23.jpg" alt="階段の上塗り(6/18)"
    p.text-gray
      | 上塗りで更に美しくなります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の上塗り(6/12)
    img src="reform/H29-05-20/chs24.jpg" alt="屋根の上塗り(6/12)"
    p.text-gray
      | 上塗り仕上げで艶が蘇ります。

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | つやつやの仕上がり(6/20)
    img src="reform/H29-05-20/chs25.jpg" alt="つやつやの仕上がり(6/20)"
    p.text-gray
      | 光沢のある仕上がりになりました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 内部塗装も完璧に(6/22)
    img src="reform/H29-05-20/chs27.jpg" alt="内部塗装も完璧に(6/22)"
    p.text-gray
      | 細部にわたり内部も仕上げます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の柱の塗装
    img src="reform/H29-05-20/chs26.jpg" alt="駐車場の柱の塗装"
    p.text-gray
      | 柱も塗ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリカの張替え(6/20)
    img src="reform/H29-05-20/chs28.jpg" alt="ポリカの張替え(6/20)"
    p.text-gray
      | ポリカも一緒に張り替えます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の天井部(6/12)
    img src="reform/H29-05-20/chs29.jpg" alt="駐車場の天井部(6/12)"
    p.text-gray
      | 天井の経年劣化
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 天井も美しく(6/14)
    img src="reform/H29-05-20/chs31.jpg" alt="天井も美しく(6/14)"
    p.text-gray
      | 色つやも素晴らしい仕上がりです。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 内壁部も上塗り完成(6/5)
    img src="reform/H29-05-20/chs30.jpg" alt="内壁部も上塗り完成(6/5)"
    p.text-gray
      | 内壁・天井・柱・土台などの仕上げ塗り。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の塗装が完成
    img src="reform/H29-05-20/chs32.jpg" alt="駐車場の塗装が完成"
    p.text-gray
      | 駐車場の塗装が完成しました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の全景
    img src="reform/H29-05-20/chs333.jpg" alt="駐車場の全景"
    p.text-gray
      | 駐車場の塗装が完成しました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場内部塗装の完成
    img src="reform/H29-05-20/chs33.jpg" alt="駐車場内部塗装の完成"
    p.text-gray
      | 落ち着いた色合いになりました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根漆喰の補修(7/7)
    img src="reform/H29-05-20/chs34.jpg" alt="屋根漆喰の補修(7/7)"
    p.text-gray
      | 屋根の漆喰も一緒に補修します。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 漆喰の補修
    img src="reform/H29-05-20/chs35.jpg" alt="漆喰の補修"
    p.text-gray
      | 雨水から屋根を守ります。

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page4.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成
    img src="reform/H29-05-20/mi741.jpg" alt="完成"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関庇
    img src="reform/H29-05-20/nokit31.jpg" alt="玄関庇"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外部からは見えない軒天の塗装
    img src="reform/H29-05-20/mi1121.jpg" alt="外部からは見えない軒天の塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 階段
    img src="reform/H29-05-20/chs23.jpg" alt="階段"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場おどりば・手摺り
    img src="reform/H29-05-20/mu222.jpg" alt="駐車場おどりば・手摺り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の屋上
    img src="reform/H29-05-20/chs25.jpg" alt="駐車場の屋上"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場のポリカの壁
    img src="reform/H29-05-20/chs28.jpg" alt="駐車場のポリカの壁"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の天井
    img src="reform/H29-05-20/chs31.jpg" alt="駐車場の天井"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の内壁部
    img src="reform/H29-05-20/chs30.jpg" alt="駐車場の内壁部"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場の全景
    img src="reform/H29-05-20/chs333.jpg" alt="駐車場の全景"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根1
    img src="reform/H29-05-20/mu111.jpg" alt="屋根1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根2
    img src="reform/H29-05-20/mu121.jpg" alt="屋根2"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page5.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 漆喰
    img src="reform/H29-05-20/chs35.jpg" alt="漆喰"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 自宅全景1
    img src="reform/H29-05-20/mi7_91.jpg" alt="自宅全景1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 自宅全景2
    img src="reform/H29-05-20/mi731.jpg" alt="自宅全景2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 自宅全景3
    img src="reform/H29-05-20/mi751.jpg" alt="自宅全景3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景
    img src="reform/H29-05-20/mi1131.jpg" alt="全景"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5

