h1.construction_name
  | H邸 外壁防水塗装工事
p.construction_period
  | H29-11-11 〜 H29-12-07
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1(11/11)
    img src="reform/H29-11-11/1ah.jpg" alt="現状1(11/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2(11/11)
    img src="reform/H29-11-11/2ah.jpg" alt="現状2(11/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み(11/17)
    img src="reform/H29-11-11/3ah.jpg" alt="足場組み(11/17)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 飛散防止シート取付(11/19)
    img src="reform/H29-11-11/4ah.jpg" alt="飛散防止シート取付(11/19)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | シート取付1(11/19)
    img src="reform/H29-11-11/4_1ah.jpg" alt="シート取付1(11/19)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | シート取付2(11/19)
    img src="reform/H29-11-11/5ah.jpg" alt="シート取付2(11/19)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | シート取付3(11/19)
    img src="reform/H29-11-11/6ah.jpg" alt="シート取付3(11/19)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | シート取付完了(11/19)
    img src="reform/H29-11-11/7ah.jpg" alt="シート取付完了(11/19)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄1(11/19)
    img src="reform/H29-11-11/8ah.jpg" alt="高圧洗浄1(11/19)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄2(11/19)
    img src="reform/H29-11-11/9ah.jpg" alt="高圧洗浄2(11/19)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄3(11/19)
    img src="reform/H29-11-11/10ah.jpg" alt="高圧洗浄3(11/19)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生1(11/28)
    img src="reform/H29-11-11/121h.jpg" alt="養生1(11/28)"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生2(11/28)
    img src="reform/H29-11-11/121ha.jpg" alt="養生2(11/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生3(11/28)
    img src="reform/H29-11-11/121hb.jpg" alt="養生3(11/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生4(11/28)
    img src="reform/H29-11-11/121hc.jpg" alt="養生4(11/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下・中塗り1(12/01)
    img src="reform/H29-11-11/121hd.jpg" alt="下・中塗り1(12/01)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下・中塗り2(12/01)
    img src="reform/H29-11-11/121he.jpg" alt="下・中塗り2(12/01)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下・中塗り3(12/01)
    img src="reform/H29-11-11/121hf.jpg" alt="下・中塗り3(12/01)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ローラー塗りで仕上(12/01)
    img src="reform/H29-11-11/121hg.jpg" alt="ローラー塗りで仕上(12/01)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下・中塗り5(12/01)
    img src="reform/H29-11-11/121hi.jpg" alt="下・中塗り5(12/01)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下・中塗り6(12/01)
    img src="reform/H29-11-11/121hj.jpg" alt="下・中塗り6(12/01)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し1(12/06)
    img src="reform/H29-11-11/12hs.jpg" alt="足場外し1(12/06)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し2(12/06)
    img src="reform/H29-11-11/11hs.jpg" alt="足場外し2(12/06)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し3(12/06)
    img src="reform/H29-11-11/13hs.jpg" alt="足場外し3(12/06)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工1(12/07)
    img src="reform/H29-11-11/14hm.jpg" alt="完工1(12/07)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工2(12/07)
    img src="reform/H29-11-11/15hs.jpg" alt="完工2(12/07)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工3(12/07)
    img src="reform/H29-11-11/16hs.jpg" alt="完工3(12/07)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工4(12/07)
    img src="reform/H29-11-11/17hs.jpg" alt="完工4(12/07)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完工5(12/07)
    img src="reform/H29-11-11/19ms.jpg" alt="完工5(12/07)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

