h1.construction_name
  | Y邸 外壁の防水塗装・構造材補強工事
p.construction_period
  | H29-09-11 〜 H30-03-02
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状南・西面
    img src="reform/H29-09-11/yt11.jpg" alt="現状南・西面"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状東・北面
    img src="reform/H29-09-11/yt12.jpg" alt="現状東・北面"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足組み(9/11)
    img src="reform/H29-09-11/yt13.jpg" alt="足組み(9/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足組み(9/12)
    img src="reform/H29-09-11/yt14.jpg" alt="足組み(9/12)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 台風仕舞い(9/13)
    img src="reform/H29-09-11/yt15.jpg" alt="台風仕舞い(9/13)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造材の現状（東北面）(9/20)
    img src="reform/H29-09-11/yt16.jpg" alt="構造材の現状（東北面）(9/20)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造材の現状（東北側）(9/20)
    img src="reform/H29-09-11/yt17.jpg" alt="構造材の現状（東北側）(9/20)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造材の現状（東北側）(9/20)
    img src="reform/H29-09-11/yt18.jpg" alt="構造材の現状（東北側）(9/20)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土台の入れ替え（東北側）(9/25)
    img src="reform/H29-09-11/yt19.jpg" alt="土台の入れ替え（東北側）(9/25)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱の入替え（東北面）(9/29)
    img src="reform/H29-09-11/yt20.jpg" alt="通し柱の入替え（東北面）(9/29)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱の入替え（東北側）(9/29)
    img src="reform/H29-09-11/yt21.jpg" alt="通し柱の入替え（東北側）(9/29)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱の入替え（東北側）(9/29)
    img src="reform/H29-09-11/yt22.jpg" alt="通し柱の入替え（東北側）(9/29)"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱の入替え（東北側）(9/30)
    img src="reform/H29-09-11/yt23.jpg" alt="通し柱の入替え（東北側）(9/30)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 掛けの補強（東北側）(9/30)
    img src="reform/H29-09-11/yt24.jpg" alt="掛けの補強（東北側）(9/30)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 掛けの補強（東北側）(9/30)
    img src="reform/H29-09-11/yt25.jpg" alt="掛けの補強（東北側）(9/30)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 掛けの補強（東北側）(10/2)
    img src="reform/H29-09-11/yt26.jpg" alt="掛けの補強（東北側）(10/2)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土台入替え前（東南側）(10/3)
    img src="reform/H29-09-11/yt27.jpg" alt="土台入替え前（東南側）(10/3)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土台の入替え（東南側）(10/3)
    img src="reform/H29-09-11/yt28.jpg" alt="土台の入替え（東南側）(10/3)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱の入替え（東南側）(10/4)
    img src="reform/H29-09-11/yt29.jpg" alt="通し柱の入替え（東南側）(10/4)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱入替え（東南側）(10/4)
    img src="reform/H29-09-11/yt31.jpg" alt="通し柱入替え（東南側）(10/4)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱入替え（東南側）(10/4)
    img src="reform/H29-09-11/yt30.jpg" alt="通し柱入替え（東南側）(10/4)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土台入替え前（東南側）(10/3)
    img src="reform/H29-09-11/yt27.jpg" alt="土台入替え前（東南側）(10/3)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土台の入替え（東南側）(10/3)
    img src="reform/H29-09-11/yt28.jpg" alt="土台の入替え（東南側）(10/3)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱の入替え（東南側）(10/4)
    img src="reform/H29-09-11/yt29.jpg" alt="通し柱の入替え（東南側）(10/4)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page6" 6
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱入替え（東南側）(10/4)
    img src="reform/H29-09-11/yt31.jpg" alt="通し柱入替え（東南側）(10/4)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱入替え（東南側）(10/4)
    img src="reform/H29-09-11/yt30.jpg" alt="通し柱入替え（東南側）(10/4)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱入替え（東南側）(10/5)
    img src="reform/H29-09-11/yt31.jpg" alt="通し柱入替え（東南側）(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱入替え完了（東南側）(10/5)
    img src="reform/H29-09-11/yt35.jpg" alt="通し柱入替え完了（東南側）(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 通し柱・防虫処理（東南側）(10/5)
    img src="reform/H29-09-11/yt35_1.jpg" alt="通し柱・防虫処理（東南側）(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 胴差しの現状（東南側）(10/5)
    img src="reform/H29-09-11/yt34.jpg" alt="胴差しの現状（東南側）(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 胴差し入替え（東南側）(10/5)
    img src="reform/H29-09-11/yt33.jpg" alt="胴差し入替え（東南側）(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 胴差し入替え（東南側）(10/5)
    img src="reform/H29-09-11/yt32.jpg" alt="胴差し入替え（東南側）(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 胴差し入替え（東南側）(10/6)
    img src="reform/H29-09-11/yt36.jpg" alt="胴差し入替え（東南側）(10/6)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 胴差し・通柱入替え完了(10/6)
    img src="reform/H29-09-11/yt37.jpg" alt="胴差し・通柱入替え完了(10/6)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 胴差しの現状（東南側）(10/5)
    img src="reform/H29-09-11/yt32.jpg" alt="胴差しの現状（東南側）(10/5)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 胴差し入替え（東南側）(10/6)
    img src="reform/H29-09-11/yt36.jpg" alt="胴差し入替え（東南側）(10/6)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page6" 6
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

#page4.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page6" 6
    li.page-item
      a href="#page7" 7
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 胴差し・通柱入替え完了(10/6)
    img src="reform/H29-09-11/yt37.jpg" alt="胴差し・通柱入替え完了(10/6)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 断熱材入れ(10/11)
    img src="reform/H29-09-11/yt38.jpg" alt="断熱材入れ(10/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 断熱材入れ(10/11)
    img src="reform/H29-09-11/yt38_1.jpg" alt="断熱材入れ(10/11)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造用合板取付け(10/12)
    img src="reform/H29-09-11/yt39.jpg" alt="構造用合板取付け(10/12)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造用合板取付け(10/12)
    img src="reform/H29-09-11/yt39_1.jpg" alt="構造用合板取付け(10/12)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 防水シートの貼付け(10/14)
    img src="reform/H29-09-11/yt40.jpg" alt="防水シートの貼付け(10/14)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 防水シートの貼付け(10/14)
    img src="reform/H29-09-11/yt41.jpg" alt="防水シートの貼付け(10/14)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 防水シートの貼付け(10/14)
    img src="reform/H29-09-11/yt41_1.jpg" alt="防水シートの貼付け(10/14)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 防水シートの貼付け(10/14)
    img src="reform/H29-09-11/yt42.jpg" alt="防水シートの貼付け(10/14)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 防水シートの貼付け(10/14)
    img src="reform/H29-09-11/yt43.jpg" alt="防水シートの貼付け(10/14)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天の塗装(10/14)
    img src="reform/H29-09-11/yt44.jpg" alt="軒天の塗装(10/14)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天の塗装(10/14)
    img src="reform/H29-09-11/yt45.jpg" alt="軒天の塗装(10/14)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page6" 6
    li.page-item
      a href="#page7" 7
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

#page5.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5
    li.page-item
      a href="#page6" 6
    li.page-item
      a href="#page7" 7
    li.page-item
      a href="#page8" 8
    li.page-item
      a href="#page6" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の下塗り(10/14)
    img src="reform/H29-09-11/yt46_1.jpg" alt="屋根の下塗り(10/14)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の下塗り(10/14)
    img src="reform/H29-09-11/yt47.jpg" alt="屋根の下塗り(10/14)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 胴差しの補強（西壁面）(10/26)
    img src="reform/H29-09-11/yt48.jpg" alt="胴差しの補強（西壁面）(10/26)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 胴差し差し替え（西壁面）(10/26)
    img src="reform/H29-09-11/yt49.jpg" alt="胴差し差し替え（西壁面）(10/26)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 新胴差しとの緊結(10/26)
    img src="reform/H29-09-11/yt50.jpg" alt="新胴差しとの緊結(10/26)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造用合板張替え(10/26)
    img src="reform/H29-09-11/yt51.jpg" alt="構造用合板張替え(10/26)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 構造用合板張替え(10/26)
    img src="reform/H29-09-11/yt52.jpg" alt="構造用合板張替え(10/26)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 西北面の通し柱(10/26)
    img src="reform/H29-09-11/yt53.jpg" alt="西北面の通し柱(10/26)"
    p.text-gray
      | 異常なし
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 防水シート貼り(11/6)
    img src="reform/H29-09-11/yt54.jpg" alt="防水シート貼り(11/6)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 既存の防水シートの確認(11/6)
    img src="reform/H29-09-11/yt56.jpg" alt="既存の防水シートの確認(11/6)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 防水シートの上に下地作り(11/7)
    img src="reform/H29-09-11/yt55.jpg" alt="防水シートの上に下地作り(11/7)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地の施工玄関回り(11/7)
    img src="reform/H29-09-11/yt57.jpg" alt="下地の施工玄関回り(11/7)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5
    li.page-item
      a href="#page6" 6
    li.page-item
      a href="#page7" 7
    li.page-item
      a href="#page8" 8
    li.page-item
      a href="#page6" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

#page6.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page5" &lsaquo;
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item.active
      a href="#page6" 6
    li.page-item
      a href="#page7" 7
    li.page-item
      a href="#page8" 8
    li.page-item
      a href="#page7" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地の高さを均一化(11/8)
    img src="reform/H29-09-11/yt58.jpg" alt="下地の高さを均一化(11/8)"
    p.text-gray
      | 厚みの調整で下地胴縁は赤身仕様
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁全体に下地施工(11/8)
    img src="reform/H29-09-11/yt59.jpg" alt="外壁全体に下地施工(11/8)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | サイディング貼付け1(11/15)
    img src="reform/H29-09-11/am1.jpg" alt="サイディング貼付け1(11/15)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | サイディング貼付け2(11/15)
    img src="reform/H29-09-11/am2.jpg" alt="サイディング貼付け2(11/15)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | サイディング貼付け3(11/15)
    img src="reform/H29-09-11/am3.jpg" alt="サイディング貼付け3(11/15)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | サイディング貼付け4(11/15)
    img src="reform/H29-09-11/am4.jpg" alt="サイディング貼付け4(11/15)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 雪止めの取付け1(11/18)
    img src="reform/H29-09-11/2ax1.jpg" alt="雪止めの取付け1(11/18)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 雪止めの取付け2(11/18)
    img src="reform/H29-09-11/2ax2.jpg" alt="雪止めの取付け2(11/18)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 雪止めの取付け3(11/18)
    img src="reform/H29-09-11/2ax3.jpg" alt="雪止めの取付け3(11/18)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディングの張上げ1(11/22)
    img src="reform/H29-09-11/2ay1.jpg" alt="金属サイディングの張上げ1(11/22)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディングの張上げ2(11/22)
    img src="reform/H29-09-11/2ay2.jpg" alt="金属サイディングの張上げ2(11/22)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディングの張上げ3(11/22)
    img src="reform/H29-09-11/2ay3.jpg" alt="金属サイディングの張上げ3(11/22)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page5" &lsaquo;
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item.active
      a href="#page6" 6
    li.page-item
      a href="#page7" 7
    li.page-item
      a href="#page8" 8
    li.page-item
      a href="#page7" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

#page7.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page6" &lsaquo;
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page6" 6
    li.page-item.active
      a href="#page7" 7
    li.page-item
      a href="#page8" 8
    li.page-item
      a href="#page8" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディングの張上げ4(11/22)
    img src="reform/H29-09-11/2ay4.jpg" alt="金属サイディングの張上げ4(11/22)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディングの張上げ5(11/22)
    img src="reform/H29-09-11/2ay5.jpg" alt="金属サイディングの張上げ5(11/22)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディングの張上げ6(11/22)
    img src="reform/H29-09-11/2ay6.jpg" alt="金属サイディングの張上げ6(11/22)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディングの張上げ7(11/22)
    img src="reform/H29-09-11/2ay7.jpg" alt="金属サイディングの張上げ7(11/22)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディングの張上げ8(11/22)
    img src="reform/H29-09-11/2ay8.jpg" alt="金属サイディングの張上げ8(11/22)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関サイディング取付1(11/28)
    img src="reform/H29-09-11/1128_a.jpg" alt="玄関サイディング取付1(11/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関サイディング取付2(11/28)
    img src="reform/H29-09-11/1128b.jpg" alt="玄関サイディング取付2(11/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関サイディング取付3(11/28)
    img src="reform/H29-09-11/1128c.jpg" alt="玄関サイディング取付3(11/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 雪止めの取付け5(11/28)
    img src="reform/H29-09-11/1128d.jpg" alt="雪止めの取付け5(11/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根中・上塗り1(11/28)
    img src="reform/H29-09-11/1128e.jpg" alt="屋根中・上塗り1(11/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根中・上塗り2(11/28)
    img src="reform/H29-09-11/1128h.jpg" alt="屋根中・上塗り2(11/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根中・上塗り3(11/28)
    img src="reform/H29-09-11/1128g.jpg" alt="屋根中・上塗り3(11/28)"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page6" &lsaquo;
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page6" 6
    li.page-item.active
      a href="#page7" 7
    li.page-item
      a href="#page8" 8
    li.page-item
      a href="#page8" &rsaquo;
    li.page-item
      a href="#page8" &raquo;

#page8.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page7" &lsaquo;
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page6" 6
    li.page-item
      a href="#page7" 7
    li.page-item.active
      a href="#page8" 8

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根上塗り(11/28)
    img src="reform/H29-09-11/1128f.jpg" alt="屋根上塗り(11/28)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し1(3/1)
    img src="reform/H29-09-11/kans00.jpg" alt="足場外し1(3/1)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し2
    img src="reform/H29-09-11/kans01.jpg" alt="足場外し2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し3
    img src="reform/H29-09-11/kans03.jpg" alt="足場外し3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し4
    img src="reform/H29-09-11/kans02.jpg" alt="足場外し4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景南東1(3/2)
    img src="reform/H29-09-11/kans1.jpg" alt="全景南東1(3/2)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景南東2
    img src="reform/H29-09-11/kans2.jpg" alt="全景南東2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景西北3
    img src="reform/H29-09-11/kans3.jpg" alt="全景西北3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 東面
    img src="reform/H29-09-11/kans4.jpg" alt="東面"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関正面（完成）
    img src="reform/H29-09-11/ya329.jpg" alt="玄関正面（完成）"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page7" &lsaquo;
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page6" 6
    li.page-item
      a href="#page7" 7
    li.page-item.active
      a href="#page8" 8

