h1.construction_name
  | Y邸 廊下改修工事
p.construction_period
  | H30-04-02 〜 H30-04-02
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H30-04-02-E/rk001.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | カバー工法
    img src="reform/H30-04-02-E/rk002.jpg" alt="カバー工法"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成
    img src="reform/H30-04-02-E/rk003.jpg" alt="完成"
    p.text-gray
      | 
