h1.construction_name
  | YAK邸 クロス貼り替え工事
p.construction_period
  | H30-05-21 〜 H30-05-21
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H30-05-21/yak02.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/H30-05-21/yak03.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地補修
    img src="reform/H30-05-21/yak04.jpg" alt="下地補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 廊下部分補修
    img src="reform/H30-05-21/yak05.jpg" alt="廊下部分補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 階段横部分補修
    img src="reform/H30-05-21/yak06.jpg" alt="階段横部分補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クロス下地工事1
    img src="reform/H30-05-21/yak07.jpg" alt="クロス下地工事1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クロス下地工事2
    img src="reform/H30-05-21/yak08.jpg" alt="クロス下地工事2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 天井クロス貼り
    img src="reform/H30-05-21/yak12.jpg" alt="天井クロス貼り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クロス仕上げ
    img src="reform/H30-05-21/yak09.jpg" alt="クロス仕上げ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H30-05-21/yak10.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H30-05-21/yak11.jpg" alt="完成2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成3
    img src="reform/H30-05-21/yak11_1.jpg" alt="完成3"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成4
    img src="reform/H30-05-21/yak13.jpg" alt="完成4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 照明器具の取付け
    img src="reform/H30-05-21/yak14.jpg" alt="照明器具の取付け"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 照明取付け完了
    img src="reform/H30-05-21/yak15.jpg" alt="照明取付け完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景
    img src="reform/H30-05-21/yak16.jpg" alt="全景"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

