h1.construction_name
  | S邸 軒天張替工事
p.construction_period
  | H30-07-23 〜 H30-07-24
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1
    img src="reform/H30-07-23/ski0002.jpg" alt="現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/H30-07-23/ski0001.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地補修１
    img src="reform/H30-07-23/ski0720_00.jpg" alt="下地補修１"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地補修２
    img src="reform/H30-07-23/ski0720_01.jpg" alt="下地補修２"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地補修３
    img src="reform/H30-07-23/ski0720_02.jpg" alt="下地補修３"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地補修４
    img src="reform/H30-07-23/ski0720_06.jpg" alt="下地補修４"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地補修５
    img src="reform/H30-07-23/ski0720_09.jpg" alt="下地補修５"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天張り替え
    img src="reform/H30-07-23/ski0721_00.jpg" alt="軒天張り替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天加工
    img src="reform/H30-07-23/ski0721_01.jpg" alt="軒天加工"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地作り１
    img src="reform/H30-07-23/ski0721_02.jpg" alt="下地作り１"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地作り２
    img src="reform/H30-07-23/ski0721_03.jpg" alt="下地作り２"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天加工
    img src="reform/H30-07-23/ski0721_05.jpg" alt="軒天加工"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天完成１
    img src="reform/H30-07-23/ski0722_00.jpg" alt="軒天完成１"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天完成２
    img src="reform/H30-07-23/ski0722_01.jpg" alt="軒天完成２"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天完成３
    img src="reform/H30-07-23/ski0722_02.jpg" alt="軒天完成３"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天完成４
    img src="reform/H30-07-23/ski0722_03.jpg" alt="軒天完成４"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天完成５
    img src="reform/H30-07-23/ski0722_04.jpg" alt="軒天完成５"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成全景１
    img src="reform/H30-07-23/ski0722_05.jpg" alt="完成全景１"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成全景２
    img src="reform/H30-07-23/ski0722_07.jpg" alt="完成全景２"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

