h1.construction_name
  | Y邸 カーポートグラスシート張り付け工事
p.construction_period
  | H30-04-02 〜 H30-04-02
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H30-04-02-B/kp01_1.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 南側グラスシート
    img src="reform/H30-04-02-B/kp02.jpg" alt="南側グラスシート"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 北側
    img src="reform/H30-04-02-B/kp04.jpg" alt="北側"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 北側
    img src="reform/H30-04-02-B/kp05.jpg" alt="北側"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景
    img src="reform/H30-04-02-B/kp06.jpg" alt="全景"
    p.text-gray
      | 
