h1.construction_name
  | S邸 塀板金改修工事
p.construction_period
  | H30-09-29 〜 H30-09-29
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状１
    img src="reform/H30-09-29/sz1.jpg" alt="現状１"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 塀の解体
    img src="reform/H30-09-29/sz2.jpg" alt="塀の解体"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 塀骨組みの施工
    img src="reform/H30-09-29/sz3.jpg" alt="塀骨組みの施工"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 裏から見た骨組み
    img src="reform/H30-09-29/sz4.jpg" alt="裏から見た骨組み"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | サッシ取付け
    img src="reform/H30-09-29/sz5.jpg" alt="サッシ取付け"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H30-09-29/sz6.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H30-09-29/sz7.jpg" alt="完成2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成全景
    img src="reform/H30-09-29/sz9.jpg" alt="完成全景"
    p.text-gray
      | 
