h1.construction_name
  | 台所改修工事
p.construction_period
  | H30-04-02 〜 H30-04-02
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H30-04-02-A/kt011.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | キッチンパネル現状
    img src="reform/H30-04-02-A/kt012.jpg" alt="キッチンパネル現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 解体
    img src="reform/H30-04-02-A/kt013.jpg" alt="解体"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地工事
    img src="reform/H30-04-02-A/kt13_1.jpg" alt="下地工事"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 換気扇カバー
    img src="reform/H30-04-02-A/kt015_1.jpg" alt="換気扇カバー"
    p.text-gray
      | 換気扇カバーは既存のものをクリーニング
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H30-04-02-A/kt014.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 収納庫の取り替え
    img src="reform/H30-04-02-A/kt15_2.jpg" alt="収納庫の取り替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成
    img src="reform/H30-04-02-A/kt015.jpg" alt="完成"
    p.text-gray
      | 
