h1.construction_name
  | K邸 瓦補修工事
p.construction_period
  | H30-05-19 〜 H30-06-21
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1(5/19)
    img src="reform/H30-05-19/kat01.jpg" alt="現状1(5/19)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/H30-05-19/kat02.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3
    img src="reform/H30-05-19/kat03.jpg" alt="現状3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状4
    img src="reform/H30-05-19/kat04.jpg" alt="現状4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | のし瓦取り替え(6/14)
    img src="reform/H30-05-19/kat07.jpg" alt="のし瓦取り替え(6/14)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土の撤去
    img src="reform/H30-05-19/kat05.jpg" alt="土の撤去"
    p.text-gray
      | 回収袋に一つ一つ回収していきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 撤去2
    img src="reform/H30-05-19/kat09.jpg" alt="撤去2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 撤去3
    img src="reform/H30-05-19/kat11.jpg" alt="撤去3"
    p.text-gray
      | 丁寧に古い土を撤去していきます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土の回収
    img src="reform/H30-05-19/kat12.jpg" alt="土の回収"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 雨の養生(6/15)
    img src="reform/H30-05-19/kat08.jpg" alt="雨の養生(6/15)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土の回収の後の瓦
    img src="reform/H30-05-19/kat12_2.jpg" alt="土の回収の後の瓦"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | のし瓦の下地(6/16)
    img src="reform/H30-05-19/kat12_1.jpg" alt="のし瓦の下地(6/16)"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | のしの設置完了
    img src="reform/H30-05-19/kat12_3.jpg" alt="のしの設置完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | のし瓦を敷いて漆喰
    img src="reform/H30-05-19/kat13.jpg" alt="のし瓦を敷いて漆喰"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 鬼瓦の漆喰入れ(6/18)
    img src="reform/H30-05-19/kat14.jpg" alt="鬼瓦の漆喰入れ(6/18)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | かんむりの設置
    img src="reform/H30-05-19/kat15.jpg" alt="かんむりの設置"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | かんむりの設置の様子1
    img src="reform/H30-05-19/kat17.jpg" alt="かんむりの設置の様子1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | かんむりの設置の様子2
    img src="reform/H30-05-19/kat16.jpg" alt="かんむりの設置の様子2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | かんむりの設置完了1
    img src="reform/H30-05-19/kat18.jpg" alt="かんむりの設置完了1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 設置完了2
    img src="reform/H30-05-19/kat20.jpg" alt="設置完了2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 設置完了3
    img src="reform/H30-05-19/kat19.jpg" alt="設置完了3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 設置完了4
    img src="reform/H30-05-19/kat21.jpg" alt="設置完了4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 設置完了5
    img src="reform/H30-05-19/kat22.jpg" alt="設置完了5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成後の全景
    img src="reform/H30-05-19/kat23.jpg" alt="完成後の全景"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成後の全景(6/21)
    img src="reform/H30-05-19/kat26.jpg" alt="完成後の全景(6/21)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成後の全景
    img src="reform/H30-05-19/kat25.jpg" alt="完成後の全景"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

