h1.construction_name
  | K邸幕板板金補修工事
p.construction_period
  | H30-11-07 〜 H30-11-07
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H30-11-07/k01.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | カーポートポリガラス
    img src="reform/H30-11-07/k02.jpg" alt="カーポートポリガラス"
    p.text-gray
      | ポリガラス
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリガラス外し
    img src="reform/H30-11-07/k03.jpg" alt="ポリガラス外し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み1
    img src="reform/H30-11-07/k04.jpg" alt="足場組み1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み2
    img src="reform/H30-11-07/k05_1.jpg" alt="足場組み2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | シート張り
    img src="reform/H30-11-07/k05.jpg" alt="シート張り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場完成
    img src="reform/H30-11-07/k06.jpg" alt="足場完成"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 幕板板金工事1
    img src="reform/H30-11-07/k07.jpg" alt="幕板板金工事1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 幕板板金貼り2
    img src="reform/H30-11-07/k08.jpg" alt="幕板板金貼り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 幕板板金貼り3
    img src="reform/H30-11-07/k09.jpg" alt="幕板板金貼り3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング処理
    img src="reform/H30-11-07/k10.jpg" alt="コーキング処理"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 樋の補修1
    img src="reform/H30-11-07/k11.jpg" alt="樋の補修1"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 樋の補修2
    img src="reform/H30-11-07/k12.jpg" alt="樋の補修2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 樋の補修3
    img src="reform/H30-11-07/k13.jpg" alt="樋の補修3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し1
    img src="reform/H30-11-07/k14.jpg" alt="足場外し1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し2
    img src="reform/H30-11-07/k15.jpg" alt="足場外し2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し3
    img src="reform/H30-11-07/k16.jpg" alt="足場外し3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し3
    img src="reform/H30-11-07/k17.jpg" alt="足場外し3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリカ戻し1
    img src="reform/H30-11-07/k18.jpg" alt="ポリカ戻し1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリカ戻し2
    img src="reform/H30-11-07/k19.jpg" alt="ポリカ戻し2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | パッキング戻し1
    img src="reform/H30-11-07/k20.jpg" alt="パッキング戻し1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | パッキング戻し2
    img src="reform/H30-11-07/k21.jpg" alt="パッキング戻し2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H30-11-07/k22.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H30-11-07/k23.jpg" alt="完成2"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

