h1.construction_name
  | Y邸 瓦補修工事
p.construction_period
  | H30-05-12 〜 H30-07-12
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状(5/12)
    img src="reform/H30-05-12/yyk02.jpg" alt="現状(5/12)"
    p.text-gray
      | 瓦に割れ・ヒビ等があり雨漏りの原因
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状確認
    img src="reform/H30-05-12/yyk03.jpg" alt="現状確認"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦の差し替え
    img src="reform/H30-05-12/yyk04.jpg" alt="瓦の差し替え"
    p.text-gray
      | 傷んだ瓦のチェック
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄
    img src="reform/H30-05-12/yyk00.jpg" alt="高圧洗浄"
    p.text-gray
      | 瓦の汚れを落とす
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下・中塗り
    img src="reform/H30-05-12/yyk05.jpg" alt="下・中塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦取り差し替え(6/9)
    img src="reform/H30-05-12/yyk06.jpg" alt="瓦取り差し替え(6/9)"
    p.text-gray
      | 差し替えた瓦はテープを貼って区別
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 三ヶ月漆喰の現状
    img src="reform/H30-05-12/yyk07.jpg" alt="三ヶ月漆喰の現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 三ヶ月漆喰下瓦の現状1
    img src="reform/H30-05-12/yyk09.jpg" alt="三ヶ月漆喰下瓦の現状1"
    p.text-gray
      | 割れ。ヒビ等の確認
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 三ヶ月漆喰の現状2
    img src="reform/H30-05-12/yyk08.jpg" alt="三ヶ月漆喰の現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 冠下の現状の確認
    img src="reform/H30-05-12/yyk10.jpg" alt="冠下の現状の確認"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 新品と差し替え1(6/12)
    img src="reform/H30-05-12/yyk13.jpg" alt="新品と差し替え1(6/12)"
    p.text-gray
      | 下塗り・中塗りも手塗りで細部まで塗ります。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 新品と差し替え2
    img src="reform/H30-05-12/yyk14.jpg" alt="新品と差し替え2"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 冠を外し漆喰入れ1
    img src="reform/H30-05-12/yyk15.jpg" alt="冠を外し漆喰入れ1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 古い土の撤去
    img src="reform/H30-05-12/yyk17.jpg" alt="古い土の撤去"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 漆喰の入れ直し
    img src="reform/H30-05-12/yyk16.jpg" alt="漆喰の入れ直し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 冠を被せて完成1
    img src="reform/H30-05-12/yyk18.jpg" alt="冠を被せて完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 三ヶ月漆喰完成
    img src="reform/H30-05-12/yyk19.jpg" alt="三ヶ月漆喰完成"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 漆喰完了
    img src="reform/H30-05-12/yyk20.jpg" alt="漆喰完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 漆喰完了2
    img src="reform/H30-05-12/yyk21.jpg" alt="漆喰完了2"
    p.text-gray
      | 新しいビス釘で止める
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ビス釘まわりのコーキング3
    img src="reform/H30-05-12/yyk22.jpg" alt="ビス釘まわりのコーキング3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り(7/12)
    img src="reform/H30-05-12/yyk23.jpg" alt="上塗り(7/12)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り
    img src="reform/H30-05-12/yyk25.jpg" alt="上塗り"
    p.text-gray
      | 細部にわたり手塗りで仕上げ
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 手塗り仕上げ
    img src="reform/H30-05-12/yyk26.jpg" alt="手塗り仕上げ"
    p.text-gray
      | 一枚一枚手塗りで仕上げます
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成後の全景1
    img src="reform/H30-05-12/yyk27.jpg" alt="完成後の全景1"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成後の全景2
    img src="reform/H30-05-12/yyk28.jpg" alt="完成後の全景2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成後の全景3
    img src="reform/H30-05-12/yyk29.jpg" alt="完成後の全景3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成後の全景4
    img src="reform/H30-05-12/yyk30.jpg" alt="完成後の全景4"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

