h1.construction_name
  | H邸 外壁・屋根防水塗装工事
p.construction_period
  | H30-11-06 〜 H30-11-06
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1
    img src="reform/H30-11-06/h01.jpg" alt="現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/H30-11-06/h02.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3
    img src="reform/H30-11-06/h03.jpg" alt="現状3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み
    img src="reform/H30-11-06/h04.jpg" alt="足場組み"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄1
    img src="reform/H30-11-06/h05.jpg" alt="高圧洗浄1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄後の玄関ホール
    img src="reform/H30-11-06/h06.jpg" alt="高圧洗浄後の玄関ホール"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 洗浄完了
    img src="reform/H30-11-06/h07.jpg" alt="洗浄完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 門扉の洗浄
    img src="reform/H30-11-06/h08.jpg" alt="門扉の洗浄"
    p.text-gray
      | 門扉も綺麗に洗浄します
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生1
    img src="reform/H30-11-06/h09.jpg" alt="養生1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生2
    img src="reform/H30-11-06/h10.jpg" alt="養生2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生2
    img src="reform/H30-11-06/h11.jpg" alt="養生2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根板金補修1
    img src="reform/H30-11-06/h12.jpg" alt="屋根板金補修1"
    p.text-gray
      | 下塗りの前に屋根の補修

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根板金補修2
    img src="reform/H30-11-06/h13.jpg" alt="屋根板金補修2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根板金補修3
    img src="reform/H30-11-06/h14.jpg" alt="屋根板金補修3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング打ち直し
    img src="reform/H30-11-06/h16.jpg" alt="コーキング打ち直し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下塗り
    img src="reform/H30-11-06/h17.jpg" alt="下塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り・付帯塗装
    img src="reform/H30-11-06/h19.jpg" alt="中塗り・付帯塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り
    img src="reform/H30-11-06/h18.jpg" alt="上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中・上塗り
    img src="reform/H30-11-06/h21.jpg" alt="中・上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 樋の塗装
    img src="reform/H30-11-06/h22.jpg" alt="樋の塗装"
    p.text-gray
      | 付帯塗装
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 換気扇カバーの塗装
    img src="reform/H30-11-06/h33_2.jpg" alt="換気扇カバーの塗装"
    p.text-gray
      | 付帯塗装
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 戸羽子の塗装
    img src="reform/H30-11-06/h33_3.jpg" alt="戸羽子の塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中・上塗り
    img src="reform/H30-11-06/h33_1.jpg" alt="中・上塗り"
    p.text-gray
      | 北面
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り
    img src="reform/H30-11-06/h23.jpg" alt="上塗り"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の中・上塗り1
    img src="reform/H30-11-06/h24.jpg" alt="屋根の中・上塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関上塗り
    img src="reform/H30-11-06/h25.jpg" alt="玄関上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り
    img src="reform/H30-11-06/h26.jpg" alt="上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H30-11-06/h27.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H30-11-06/h28.jpg" alt="完成2"
    p.text-gray
      | 付帯塗装もしっかり塗ります
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の上塗り完了
    img src="reform/H30-11-06/h29.jpg" alt="屋根の上塗り完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ
    img src="reform/H30-11-06/h30.jpg" alt="ベランダ"
    p.text-gray
      | 施工前
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダトップ防水
    img src="reform/H30-11-06/h33.jpg" alt="ベランダトップ防水"
    p.text-gray
      | 施工後
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダトップ防水仕上り
    img src="reform/H30-11-06/h31.jpg" alt="ベランダトップ防水仕上り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成3
    img src="reform/H30-11-06/h34.jpg" alt="完成3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成4
    img src="reform/H30-11-06/h35.jpg" alt="完成4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成5
    img src="reform/H30-11-06/h35_1.jpg" alt="完成5"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

#page4.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景1
    img src="reform/H30-11-06/h36.jpg" alt="全景1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景2
    img src="reform/H30-11-06/h37.jpg" alt="全景2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景3
    img src="reform/H30-11-06/h38.jpg" alt="全景3"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4

