h1.construction_name
  | A邸 屋根鈑金・漆喰補修工事
p.construction_period
  | H30-05-21 〜 H30-05-21
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H30-05-22/ak00001.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H30-05-22/ak00002.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 三日月漆喰の現状
    img src="reform/H30-05-22/ak00003.jpg" alt="三日月漆喰の現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の水切り南側現状
    img src="reform/H30-05-22/ak00004.jpg" alt="屋根の水切り南側現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金南側の貼り替え
    img src="reform/H30-05-22/ak00005.jpg" alt="板金南側の貼り替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 北側の張り替え
    img src="reform/H30-05-22/ak00006.jpg" alt="北側の張り替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金貼り替え
    img src="reform/H30-05-22/ak00007.jpg" alt="板金貼り替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H30-05-22/ak00008.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H30-05-22/ak00009.jpg" alt="完成2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 三日月漆喰の補修
    img src="reform/H30-05-22/ak00010.jpg" alt="三日月漆喰の補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 鬼・三日月の漆喰の補修
    img src="reform/H30-05-22/ak00011.jpg" alt="鬼・三日月の漆喰の補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 水切り補修
    img src="reform/H30-05-22/ak00012.jpg" alt="水切り補修"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 水切り補修
    img src="reform/H30-05-22/ak00013.jpg" alt="水切り補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 水切り補修完了
    img src="reform/H30-05-22/ak00014.jpg" alt="水切り補修完了"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

