h1.construction_name
  | Y邸 台所改修工事
p.construction_period
  | H30-04-02 〜 H30-04-02
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄1
    img src="reform/H30-04-02-C/kt011.jpg" alt="高圧洗浄1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄2
    img src="reform/H30-04-02-C/kt012.jpg" alt="高圧洗浄2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄3
    img src="reform/H30-04-02-C/kt013.jpg" alt="高圧洗浄3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄4
    img src="reform/H30-04-02-C/kt014.jpg" alt="高圧洗浄4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ床下
    img src="reform/H30-04-02-C/kt015.jpg" alt="ベランダ床下"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 廊下現状
    img src="reform/H30-04-02-C/kt015_1.jpg" alt="廊下現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ床下洗浄北側
    img src="reform/H30-04-02-C/kt016.jpg" alt="ベランダ床下洗浄北側"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ床下洗浄南側
    img src="reform/H30-04-02-C/kt13_1.jpg" alt="ベランダ床下洗浄南側"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H30-04-02-C/kt15_2.jpg" alt="完成1"
    p.text-gray
      | 
