h1.construction_name
  | K邸 カーポート補修工事
p.construction_period
  | H30-10-20 〜 H30-10-20
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1
    img src="reform/H30-10-20/kn0.jpg" alt="現状1"
    p.text-gray
      | 台風により損傷したカーポート
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/H30-10-20/kn01.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ビス留め
    img src="reform/H30-10-20/kn02.jpg" alt="ビス留め"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリカ貼直し
    img src="reform/H30-10-20/kn03.jpg" alt="ポリカ貼直し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了1
    img src="reform/H30-10-20/kn04.jpg" alt="完了1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了2
    img src="reform/H30-10-20/kn05.jpg" alt="完了2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了3
    img src="reform/H30-10-20/kn09.jpg" alt="完了3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景1
    img src="reform/H30-10-20/kn07.jpg" alt="全景1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景2
    img src="reform/H30-10-20/kn08.jpg" alt="全景2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景3
    img src="reform/H30-10-20/kn06.jpg" alt="全景3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景4
    img src="reform/H30-10-20/kn10.jpg" alt="全景4"
    p.text-gray
      | 
