h1.construction_name
  | U邸 屋根板金工事
p.construction_period
  | H30-09-27 〜 H30-09-27
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状１
    img src="reform/H30-09-27/ume1.jpg" alt="現状１"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 既存下地剥がし
    img src="reform/H30-09-27/ume2.jpg" alt="既存下地剥がし"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 剥がし2
    img src="reform/H30-09-27/ume3.jpg" alt="剥がし2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状4
    img src="reform/H30-09-27/ume4.jpg" alt="現状4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地の現状
    img src="reform/H30-09-27/ume5.jpg" alt="下地の現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地補強
    img src="reform/H30-09-27/ume6.jpg" alt="下地補強"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 仕上げ塗り1
    img src="reform/H30-09-27/ume7.jpg" alt="仕上げ塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コンパネ貼り1
    img src="reform/H30-09-27/ume8.jpg" alt="コンパネ貼り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コンパネ貼り2
    img src="reform/H30-09-27/ume9.jpg" alt="コンパネ貼り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 手摺り取替え
    img src="reform/H30-09-27/ume10.jpg" alt="手摺り取替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | シーリング貼り
    img src="reform/H30-09-27/ume11.jpg" alt="シーリング貼り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ブルーシート養生1
    img src="reform/H30-09-27/ume12.jpg" alt="ブルーシート養生1"
    p.text-gray
      | 板金工事まで養生

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | シート止め2
    img src="reform/H30-09-27/ume13.jpg" alt="シート止め2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の掃除
    img src="reform/H30-09-27/ume14.jpg" alt="屋根の掃除"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金設置工事(9/26)
    img src="reform/H30-09-27/ume15.jpg" alt="板金設置工事(9/26)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 水切り設置
    img src="reform/H30-09-27/ume16.jpg" alt="水切り設置"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風面処理
    img src="reform/H30-09-27/ume17.jpg" alt="破風面処理"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風面板金処理
    img src="reform/H30-09-27/ume18.jpg" alt="破風面板金処理"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 水切り処理1
    img src="reform/H30-09-27/ume19.jpg" alt="水切り処理1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 水切り処理2
    img src="reform/H30-09-27/ume28.jpg" alt="水切り処理2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 樋接地部処理
    img src="reform/H30-09-27/ume20.jpg" alt="樋接地部処理"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 雪止め設置板金処理
    img src="reform/H30-09-27/ume21.jpg" alt="雪止め設置板金処理"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 雪止め設置板金処理2
    img src="reform/H30-09-27/ume22.jpg" alt="雪止め設置板金処理2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング処理処理
    img src="reform/H30-09-27/ume23.jpg" alt="コーキング処理処理"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成全景
    img src="reform/H30-09-27/ume24.jpg" alt="完成全景"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

