h1.construction_name
  | Y邸 トイレ改修工事
p.construction_period
  | H30-04-02 〜 H30-04-02
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H30-04-02-D/tl001.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クロス張り替え
    img src="reform/H30-04-02-D/tl002.jpg" alt="クロス張り替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 取付け
    img src="reform/H30-04-02-D/tl003.jpg" alt="取付け"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成
    img src="reform/H30-04-02-D/tl004.jpg" alt="完成"
    p.text-gray
      | 
