h1.construction_name
  | Y邸 板塀設置工事
p.construction_period
  | H30-08-08 〜 H30-08-27
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状(7/12)
    img src="reform/H30-08-08/ys001.jpg" alt="現状(7/12)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 基礎用ボルト設置
    img src="reform/H30-08-08/ys002.jpg" alt="基礎用ボルト設置"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木材の搬入
    img src="reform/H30-08-08/ys003.jpg" alt="木材の搬入"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板塀の設置
    img src="reform/H30-08-08/ys004.jpg" alt="板塀の設置"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 組み立て
    img src="reform/H30-08-08/ys005.jpg" alt="組み立て"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 組み立て2
    img src="reform/H30-08-08/ys006.jpg" alt="組み立て2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 組み立て3
    img src="reform/H30-08-08/ys007.jpg" alt="組み立て3"
    p.text-gray
      | 基礎の下にスペーサーを設置
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 組み立て4
    img src="reform/H30-08-08/ys008.jpg" alt="組み立て4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 組み立て5
    img src="reform/H30-08-08/ys009.jpg" alt="組み立て5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 組み立て6
    img src="reform/H30-08-08/ys010.jpg" alt="組み立て6"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 組み立て7
    img src="reform/H30-08-08/ys011.jpg" alt="組み立て7"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ブロック洗浄1
    img src="reform/H30-08-08/wys5.jpg" alt="ブロック洗浄1"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ブロック洗浄2
    img src="reform/H30-08-08/wys6.jpg" alt="ブロック洗浄2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下塗り１
    img src="reform/H30-08-08/wys3.jpg" alt="下塗り１"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地２
    img src="reform/H30-08-08/wys4.jpg" alt="下地２"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り1
    img src="reform/H30-08-08/wys7.jpg" alt="中塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り2
    img src="reform/H30-08-08/wys8.jpg" alt="中塗り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り1
    img src="reform/H30-08-08/wys9.jpg" alt="上塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り2
    img src="reform/H30-08-08/wys10.jpg" alt="上塗り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 仕上げ塗り1
    img src="reform/H30-08-08/wys14.jpg" alt="仕上げ塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 仕上げ塗り2
    img src="reform/H30-08-08/wys11.jpg" alt="仕上げ塗り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 仕上げ塗り3
    img src="reform/H30-08-08/wys12.jpg" alt="仕上げ塗り3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H30-08-08/wys13.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H30-08-08/y2y.jpg" alt="完成2"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成3
    img src="reform/H30-08-08/y4y.jpg" alt="完成3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成全景
    img src="reform/H30-08-08/y3y.jpg" alt="完成全景"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

