h1.construction_name
  | Y邸 デッキ補修工事
p.construction_period
  | H30-09-24 〜 H30-09-24
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木デッキ現状１
    img src="reform/H30-09-24/yd1.jpg" alt="木デッキ現状１"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状２
    img src="reform/H30-09-24/yd2.jpg" alt="現状２"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3
    img src="reform/H30-09-24/yd3.jpg" alt="現状3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状4
    img src="reform/H30-09-24/yd4.jpg" alt="現状4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状5
    img src="reform/H30-09-24/yd5.jpg" alt="現状5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | デッキ柱の現状
    img src="reform/H30-09-24/yd7.jpg" alt="デッキ柱の現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 仕上げ塗り1
    img src="reform/H30-09-24/yd18.jpg" alt="仕上げ塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床・手摺り入替え
    img src="reform/H30-09-24/yd16.jpg" alt="床・手摺り入替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床・手摺り入替
    img src="reform/H30-09-24/yd15.jpg" alt="床・手摺り入替"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 手摺り取替え
    img src="reform/H30-09-24/yd17.jpg" alt="手摺り取替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床の入替え
    img src="reform/H30-09-24/yd19.jpg" alt="床の入替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 塗装して完成1
    img src="reform/H30-09-24/yd20.jpg" alt="塗装して完成1"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 塗装して完成2
    img src="reform/H30-09-24/yd21.jpg" alt="塗装して完成2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 笠木を入れて完成1
    img src="reform/H30-09-24/yd24.jpg" alt="笠木を入れて完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H30-09-24/yd22.jpg" alt="完成2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成3
    img src="reform/H30-09-24/yd23.jpg" alt="完成3"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

