h1.construction_name
  | H邸 外壁・屋根防水塗装工事
p.construction_period
  | H30-04-08 〜 H30-05-09
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み1　(3/30)
    img src="reform/H30-04-08/hy001.jpg" alt="足場組み1　(3/30)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み2
    img src="reform/H30-04-08/hy002.jpg" alt="足場組み2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み3
    img src="reform/H30-04-08/hy003.jpg" alt="足場組み3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し4
    img src="reform/H30-04-08/hy004.jpg" alt="足場外し4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 保護シート貼り1
    img src="reform/H30-04-08/hy006.jpg" alt="保護シート貼り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 保護シート貼り2
    img src="reform/H30-04-08/hy005.jpg" alt="保護シート貼り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 南側保護シート貼り3
    img src="reform/H30-04-08/hy007.jpg" alt="南側保護シート貼り3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄1
    img src="reform/H30-04-08/hay01.jpg" alt="高圧洗浄1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄2
    img src="reform/H30-04-08/hay02.jpg" alt="高圧洗浄2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄3
    img src="reform/H30-04-08/hay03.jpg" alt="高圧洗浄3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄4
    img src="reform/H30-04-08/hay04.jpg" alt="高圧洗浄4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ床下
    img src="reform/H30-04-08/hay05.jpg" alt="ベランダ床下"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 廊下現状
    img src="reform/H30-04-08/hay07.jpg" alt="廊下現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ床下洗浄北側
    img src="reform/H30-04-08/hay08.jpg" alt="ベランダ床下洗浄北側"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ床下洗浄南側
    img src="reform/H30-04-08/hay14.jpg" alt="ベランダ床下洗浄南側"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生1
    img src="reform/H30-04-08/hay001.jpg" alt="養生1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生2
    img src="reform/H30-04-08/yhay002.jpg" alt="養生2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生3
    img src="reform/H30-04-08/hay09.jpg" alt="養生3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生4
    img src="reform/H30-04-08/hay11.jpg" alt="養生4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生・洗浄
    img src="reform/H30-04-08/hay12.jpg" alt="養生・洗浄"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ洗浄1
    img src="reform/H30-04-08/h01250.jpg" alt="ベランダ洗浄1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 戸羽子塗装
    img src="reform/H30-04-08/hy5553.jpg" alt="戸羽子塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ中塗り
    img src="reform/H30-04-08/h1350.jpg" alt="ベランダ中塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ上塗り
    img src="reform/H30-04-08/hy555_2.jpg" alt="ベランダ上塗り"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ床補修戻し
    img src="reform/H30-04-08/hy555_1.jpg" alt="ベランダ床補修戻し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁中塗り1
    img src="reform/H30-04-08/h1450.jpg" alt="外壁中塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根上塗り1(4/17)
    img src="reform/H30-04-08/h1550.jpg" alt="屋根上塗り1(4/17)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 煙突の塗装2
    img src="reform/H30-04-08/hy515_1.jpg" alt="煙突の塗装2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 煙突の塗装2
    img src="reform/H30-04-08/hy555_6.jpg" alt="煙突の塗装2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根上塗り1
    img src="reform/H30-04-08/h1551.jpg" alt="屋根上塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根上塗り2
    img src="reform/H30-04-08/hy515_2.jpg" alt="屋根上塗り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風板塗装1(4/17)
    img src="reform/H30-04-08/hy555_4.jpg" alt="破風板塗装1(4/17)"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁中・上塗り
    img src="reform/H30-04-08/hy555_11.jpg" alt="外壁中・上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 手塗りで仕上げ
    img src="reform/H30-04-08/hy555_9.jpg" alt="手塗りで仕上げ"
    p.text-gray
      | 細かなところも手塗りで丹念に仕上げて行きます。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁中・上塗り
    img src="reform/H30-04-08/hy555_10.jpg" alt="外壁中・上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し1
    img src="reform/H30-04-08/hy518.jpg" alt="足場外し1"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page4.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し2
    img src="reform/H30-04-08/hy517.jpg" alt="足場外し2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成玄関前
    img src="reform/H30-04-08/hy525_1.jpg" alt="完成玄関前"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関樋
    img src="reform/H30-04-08/hy525_2.jpg" alt="玄関樋"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成北側
    img src="reform/H30-04-08/hy522.jpg" alt="完成北側"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリカ戻し完了
    img src="reform/H30-04-08/hy0099.jpg" alt="ポリカ戻し完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成東側
    img src="reform/H30-04-08/hy523.jpg" alt="完成東側"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成玄関1
    img src="reform/H30-04-08/hy524.jpg" alt="完成玄関1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成玄関3
    img src="reform/H30-04-08/hy524_2.jpg" alt="完成玄関3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成玄関4
    img src="reform/H30-04-08/hy524_1.jpg" alt="完成玄関4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成西側
    img src="reform/H30-04-08/hy525.jpg" alt="完成西側"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成ベランダ
    img src="reform/H30-04-08/hy526.jpg" alt="完成ベランダ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成全景
    img src="reform/H30-04-08/hy527.jpg" alt="完成全景"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4
    li.page-item
      a href="#page5" 5
    li.page-item
      a href="#page5" &rsaquo;
    li.page-item
      a href="#page5" &raquo;

#page5.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 看板
    img src="reform/H30-04-08/hy528.jpg" alt="看板"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 看板の塗装
    img src="reform/H30-04-08/hy529.jpg" alt="看板の塗装"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page4" &lsaquo;
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item.active
      a href="#page5" 5

