h1.construction_name
  | O邸 駐車場の屋根塗装・鈑金工事
p.construction_period
  | H30-05-20 〜 H30-05-21
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄
    img src="reform/H30-05-20/ot01.jpg" alt="高圧洗浄"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の高圧洗浄
    img src="reform/H30-05-20/ot02.jpg" alt="外壁の高圧洗浄"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の現状1
    img src="reform/H30-05-20/ot03.jpg" alt="屋根の現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄正面
    img src="reform/H30-05-20/ot04.jpg" alt="高圧洗浄正面"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁のサイディング貼り
    img src="reform/H30-05-20/ot05.jpg" alt="外壁のサイディング貼り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 水切り板金加工
    img src="reform/H30-05-20/ot06.jpg" alt="水切り板金加工"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 西面
    img src="reform/H30-05-20/ot07.jpg" alt="西面"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 西面のアフター
    img src="reform/H30-05-20/ot08.jpg" alt="西面のアフター"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 北面
    img src="reform/H30-05-20/ot09.jpg" alt="北面"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 北側のアフター
    img src="reform/H30-05-20/ot10.jpg" alt="北側のアフター"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 東面
    img src="reform/H30-05-20/ot11.jpg" alt="東面"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 丁寧に貼りつける
    img src="reform/H30-05-20/ot12.jpg" alt="丁寧に貼りつける"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 西面
    img src="reform/H30-05-20/ot13.jpg" alt="西面"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 正面
    img src="reform/H30-05-20/ot14.jpg" alt="正面"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 正面と東側
    img src="reform/H30-05-20/ot15.jpg" alt="正面と東側"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の錆止め
    img src="reform/H30-05-20/ot16.jpg" alt="屋根の錆止め"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の中・上塗り
    img src="reform/H30-05-20/ot17.jpg" alt="外壁の中・上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁の上塗り
    img src="reform/H30-05-20/ot18.jpg" alt="外壁の上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の上塗り
    img src="reform/H30-05-20/ot19.jpg" alt="屋根の上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成
    img src="reform/H30-05-20/ot20.jpg" alt="完成"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天の塗装
    img src="reform/H30-05-20/ot21.jpg" alt="軒天の塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 樋の塗装
    img src="reform/H30-05-20/ot22.jpg" alt="樋の塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根上塗り
    img src="reform/H30-05-20/ot23.jpg" alt="屋根上塗り"
    p.text-gray
      | 屋根に輝きが戻りました。
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景1
    img src="reform/H30-05-20/ot24.jpg" alt="全景1"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景2
    img src="reform/H30-05-20/ot25.jpg" alt="全景2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景正面完成
    img src="reform/H30-05-20/ot26.jpg" alt="全景正面完成"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

