h1.construction_name
  | H邸 外壁サイディング張替工事
p.construction_period
  | H31-03-04 〜 H31-03-04
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H31-03-04/h010.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ドローンによる空撮
    img src="reform/H31-03-04/h017.jpg" alt="ドローンによる空撮"
    p.text-gray
      | 足場を組む前に屋根の現況を撮影
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み2
    img src="reform/H31-03-04/h011.jpg" alt="足場組み2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | シート掛け
    img src="reform/H31-03-04/h012.jpg" alt="シート掛け"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み2
    img src="reform/H31-03-04/h013.jpg" alt="足場組み2"
    p.text-gray
      | シート張り完成
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場シート完了2
    img src="reform/H31-03-04/h014.jpg" alt="足場シート完了2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 駐車場出入口の足場組
    img src="reform/H31-03-04/h016.jpg" alt="駐車場出入口の足場組"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦の現状チェック
    img src="reform/H31-03-04/h18.jpg" alt="瓦の現状チェック"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風部分の補修
    img src="reform/H31-03-04/h019.jpg" alt="破風部分の補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 古いポリカの現状
    img src="reform/H31-03-04/h020_0.jpg" alt="古いポリカの現状"
    p.text-gray
      | 止めボルト等に錆、ポリカに汚れあり
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリカ張替
    img src="reform/H31-03-04/h020.jpg" alt="ポリカ張替"
    p.text-gray
      | 新しいポリカに貼り替え
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディング貼り2
    img src="reform/H31-03-04/h021_0.jpg" alt="金属サイディング貼り2"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディング貼り2
    img src="reform/H31-03-04/h021.jpg" alt="金属サイディング貼り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディング貼り3
    img src="reform/H31-03-04/h022.jpg" alt="金属サイディング貼り3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディング貼り4
    img src="reform/H31-03-04/h023.jpg" alt="金属サイディング貼り4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 金属サイディング貼り5
    img src="reform/H31-03-04/h024.jpg" alt="金属サイディング貼り5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 温水器撤去
    img src="reform/H31-03-04/hk0.jpg" alt="温水器撤去"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 撤去後
    img src="reform/H31-03-04/hk1.jpg" alt="撤去後"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | レッカーによる降ろし1
    img src="reform/H31-03-04/hk2.jpg" alt="レッカーによる降ろし1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | レッカーによる降ろし2
    img src="reform/H31-03-04/hk3.jpg" alt="レッカーによる降ろし2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | レッカーによる降ろし3
    img src="reform/H31-03-04/hk4.jpg" alt="レッカーによる降ろし3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了1
    img src="reform/H31-03-04/hk5.jpg" alt="完了1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了2
    img src="reform/H31-03-04/hk6.jpg" alt="完了2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | カラーベスト中・上塗り1
    img src="reform/H31-03-04/hk01.jpg" alt="カラーベスト中・上塗り1"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | カラーベスト中・上塗り2
    img src="reform/H31-03-04/hk02.jpg" alt="カラーベスト中・上塗り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金補修1
    img src="reform/H31-03-04/hk003.jpg" alt="板金補修1"
    p.text-gray
      | 板金劣化部(施工前)
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金補修2
    img src="reform/H31-03-04/hk03.jpg" alt="板金補修2"
    p.text-gray
      | 板金補修(施工後)
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 樋・軒天塗装1
    img src="reform/H31-03-04/hk04.jpg" alt="樋・軒天塗装1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 樋・軒天塗装
    img src="reform/H31-03-04/hk06.jpg" alt="樋・軒天塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 樋・軒天塗装3
    img src="reform/H31-03-04/hk05.jpg" alt="樋・軒天塗装3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁塗装1
    img src="reform/H31-03-04/hk07.jpg" alt="外壁塗装1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁塗装2
    img src="reform/H31-03-04/rt1.jpg" alt="外壁塗装2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 鉄柱塗装
    img src="reform/H31-03-04/rt2.jpg" alt="鉄柱塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金塗装
    img src="reform/H31-03-04/rt3.jpg" alt="板金塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根上塗り1
    img src="reform/H31-03-04/rt4.jpg" alt="屋根上塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根上塗り2
    img src="reform/H31-03-04/rt5.jpg" alt="屋根上塗り2"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

