h1.construction_name
  | 猫脱走防止扉取付工事
p.construction_period
  | H31-02-15 〜 H31-02-15
p.construction_outline
  | 今話題の猫脱走防止とびら。居間・玄関・窓など、各室内の寸法に合わせて設置可能です。

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 猫脱走防止扉表（おもて）
    img src="reform/H31-02-15/n1.jpg" alt="猫脱走防止扉表（おもて）"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 猫脱走防止用扉裏（うら）
    img src="reform/H31-02-15/n3.jpg" alt="猫脱走防止用扉裏（うら）"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 開いた状態（うら）
    img src="reform/H31-02-15/n2.jpg" alt="開いた状態（うら）"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 開いた状態（おもて）
    img src="reform/H31-02-15/n4.jpg" alt="開いた状態（おもて）"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 前開
    img src="reform/H31-02-15/n5.jpg" alt="前開"
    p.text-gray
      | 
