h1.construction_name
  | N邸洗面所の床張替
p.construction_period
  | H31-03-14 〜 H31-03-14
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1
    img src="reform/H31-03-14/n002.jpg" alt="現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状確認1
    img src="reform/H31-03-14/n003.jpg" alt="現状確認1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状確認2
    img src="reform/H31-03-14/n004.jpg" alt="現状確認2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床下点検
    img src="reform/H31-03-14/n005.jpg" alt="床下点検"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金貼り1
    img src="reform/H31-03-14/n006.jpg" alt="板金貼り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 配水管の点検
    img src="reform/H31-03-14/n007.jpg" alt="配水管の点検"
    p.text-gray
      | 配水管の腐食を確認
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 配水管替
    img src="reform/H31-03-14/n015.jpg" alt="配水管替"
    p.text-gray
      | 配水管取替
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床下点検
    img src="reform/H31-03-14/n008.jpg" alt="床下点検"
    p.text-gray
      | 異常なし
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 断熱材入れ1
    img src="reform/H31-03-14/n010.jpg" alt="断熱材入れ1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 断熱材入れ2
    img src="reform/H31-03-14/n011.jpg" alt="断熱材入れ2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 洗面所床貼り1
    img src="reform/H31-03-14/n012.jpg" alt="洗面所床貼り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 洗面所床貼り2
    img src="reform/H31-03-14/n013.jpg" alt="洗面所床貼り2"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 洗面所床貼り3
    img src="reform/H31-03-14/n014.jpg" alt="洗面所床貼り3"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

