h1.construction_name
  | Y邸水回り・内装工事
p.construction_period
  | H31-01-25 〜 H31-01-25
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前
    img src="reform/H31-01-25/2002.jpg" alt="施工前"
    p.text-gray
      | キッチン入替
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 片付け
    img src="reform/H31-01-25/2005.jpg" alt="片付け"
    p.text-gray
      | 食器等の片付け
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 取外し
    img src="reform/H31-01-25/2006.jpg" alt="取外し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 天板の取外し
    img src="reform/H31-01-25/2007.jpg" alt="天板の取外し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 撤去
    img src="reform/H31-01-25/2008.jpg" alt="撤去"
    p.text-gray
      | 水道配管取付け
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | キッチン納め
    img src="reform/H31-01-25/2009.jpg" alt="キッチン納め"
    p.text-gray
      | 配管位置等の確認
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | キッチン壁補修
    img src="reform/H31-01-25/2014.jpg" alt="キッチン壁補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 点検口の取外し
    img src="reform/H31-01-25/2015.jpg" alt="点検口の取外し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 壁の補修
    img src="reform/H31-01-25/2016.jpg" alt="壁の補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床の張替
    img src="reform/H31-01-25/2018.jpg" alt="床の張替"
    p.text-gray
      | 下地垂木の点検・補強
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床張替1
    img src="reform/H31-01-25/2019.jpg" alt="床張替1"
    p.text-gray
      | 断熱材入れ
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床張替2
    img src="reform/H31-01-25/2020.jpg" alt="床張替2"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床張替2
    img src="reform/H31-01-25/2010.jpg" alt="床張替2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床張替2
    img src="reform/H31-01-25/2011.jpg" alt="床張替2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床張替2
    img src="reform/H31-01-25/2012.jpg" alt="床張替2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 据え付け
    img src="reform/H31-01-25/2021.jpg" alt="据え付け"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 撤去
    img src="reform/H31-01-25/2024.jpg" alt="撤去"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成後の養生
    img src="reform/H31-01-25/2023.jpg" alt="完成後の養生"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前1
    img src="reform/H31-01-25/102.jpg" alt="施工前1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前2
    img src="reform/H31-01-25/101.jpg" alt="施工前2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前3
    img src="reform/H31-01-25/103.jpg" alt="施工前3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 既存のクロスの剥がし1
    img src="reform/H31-01-25/104.jpg" alt="既存のクロスの剥がし1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 剥がし2
    img src="reform/H31-01-25/105.jpg" alt="剥がし2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | パテ入れ1
    img src="reform/H31-01-25/106.jpg" alt="パテ入れ1"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | パテ入れ2
    img src="reform/H31-01-25/107.jpg" alt="パテ入れ2"
    p.text-gray
      | 壁の平面を整えます
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 点検口の取外し
    img src="reform/H31-01-25/108.jpg" alt="点検口の取外し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | パテ乾かし1
    img src="reform/H31-01-25/109.jpg" alt="パテ乾かし1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 張替1
    img src="reform/H31-01-25/110.jpg" alt="張替1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 張替2
    img src="reform/H31-01-25/111.jpg" alt="張替2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床張替3
    img src="reform/H31-01-25/112.jpg" alt="床張替3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クロス張替4
    img src="reform/H31-01-25/114.jpg" alt="クロス張替4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 養生2
    img src="reform/H31-01-25/113.jpg" alt="養生2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クロス張替5
    img src="reform/H31-01-25/115.jpg" alt="クロス張替5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | キッチン天井
    img src="reform/H31-01-25/116.jpg" alt="キッチン天井"
    p.text-gray
      | クロス張替
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/H31-01-25/117.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/H31-01-25/118.jpg" alt="完成2"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3
    li.page-item
      a href="#page4" 4
    li.page-item
      a href="#page4" &rsaquo;
    li.page-item
      a href="#page4" &raquo;

#page4.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成3
    img src="reform/H31-01-25/120.jpg" alt="完成3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成4
    img src="reform/H31-01-25/121.jpg" alt="完成4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成5
    img src="reform/H31-01-25/122.jpg" alt="完成5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成6
    img src="reform/H31-01-25/123.jpg" alt="完成6"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page3" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item.active
      a href="#page4" 4

