h1.construction_name
  | ステンドグラス
p.construction_period
  | H31-02-21 〜 H31-02-21
p.construction_outline
  | 豊富なバリエーションとオリジナルデザインの手作りステンドグラスです。思い出のステンドグラスをあなたのお部屋に。ステンドグラスをデザインする愉しさをご提案します。

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st0.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st10.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st8.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st9.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st7.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st4.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st5.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st1.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st6.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st11.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st13.jpg" alt="種類"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 種類
    img src="reform/H31-02-21/st19.jpg" alt="種類"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工事例
    img src="reform/H31-02-21/st16.jpg" alt="施工事例"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工事例
    img src="reform/H31-02-21/st12.jpg" alt="施工事例"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工事例
    img src="reform/H31-02-21/st14.jpg" alt="施工事例"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工事例
    img src="reform/H31-02-21/st17.jpg" alt="施工事例"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工事例
    img src="reform/H31-02-21/st18.jpg" alt="施工事例"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工事例
    img src="reform/H31-02-21/st15.jpg" alt="施工事例"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工事例
    img src="reform/H31-02-21/st20.jpg" alt="施工事例"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工事例
    img src="reform/H31-02-21/st23.jpg" alt="施工事例"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工事例
    img src="reform/H31-02-21/st22.jpg" alt="施工事例"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

