h1.construction_name
  | H邸ドローンでの屋根検査
p.construction_period
  | H31-02-16 〜 H31-02-16
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ドローン待機
    img src="reform/H31-02-16/d2.jpg" alt="ドローン待機"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 飛行の様子
    img src="reform/H31-02-16/d3.jpg" alt="飛行の様子"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 南面屋根1
    img src="reform/H31-02-16/d4.jpg" alt="南面屋根1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 南面屋根2
    img src="reform/H31-02-16/d5.jpg" alt="南面屋根2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の検査
    img src="reform/H31-02-16/d6.jpg" alt="屋根の検査"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ドローン着地
    img src="reform/H31-02-16/d7.jpg" alt="ドローン着地"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 検査完了
    img src="reform/H31-02-16/d8.jpg" alt="検査完了"
    p.text-gray
      | 撮影した屋根の現況を施主様とご一緒に確認して、映像を見ながら検証していきます。
