h1.construction_name
  | S邸の土台・壁補修
p.construction_period
  | H31-02-25 〜 H31-02-25
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状
    img src="reform/H31-02-25/si1.jpg" alt="現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土台入替え
    img src="reform/H31-02-25/si2.jpg" alt="土台入替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 土台入れ
    img src="reform/H31-02-25/si3.jpg" alt="土台入れ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地入れ
    img src="reform/H31-02-25/si4.jpg" alt="下地入れ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み
    img src="reform/H31-02-25/si5.jpg" alt="足場組み"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金貼り1
    img src="reform/H31-02-25/si7.jpg" alt="板金貼り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 板金貼り2
    img src="reform/H31-02-25/si6.jpg" alt="板金貼り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風の現状
    img src="reform/H31-02-25/si8.jpg" alt="破風の現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 納戸部分補修
    img src="reform/H31-02-25/si9.jpg" alt="納戸部分補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 納戸部分補修
    img src="reform/H31-02-25/u001.jpg" alt="納戸部分補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 納戸部分の補修
    img src="reform/H31-02-25/u002.jpg" alt="納戸部分の補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 納戸部分の補修
    img src="reform/H31-02-25/u002.jpg" alt="納戸部分の補修"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 納戸部分の補修
    img src="reform/H31-02-25/u003.jpg" alt="納戸部分の補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 納戸部分の補修完了
    img src="reform/H31-02-25/u004.jpg" alt="納戸部分の補修完了"
    p.text-gray
      | 納戸は波トタンで仕上

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

