h1.construction_name
  | T邸 外壁補修・塗装工事
p.construction_period
  | R01-08-13 〜 R01-08-13
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1
    img src="reform/R01-08-13/t0010.jpg" alt="現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/R01-08-13/t00110.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3
    img src="reform/R01-08-13/t0013.jpg" alt="現状3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状4
    img src="reform/R01-08-13/t0012.jpg" alt="現状4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前全景
    img src="reform/R01-08-13/t0014.jpg" alt="施工前全景"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み1
    img src="reform/R01-08-13/t0015.jpg" alt="足場組み1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 安全カバーの取付
    img src="reform/R01-08-13/t0016.jpg" alt="安全カバーの取付"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 指示点の取外し
    img src="reform/R01-08-13/t0017.jpg" alt="指示点の取外し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング入れ
    img src="reform/R01-08-13/t0018.jpg" alt="コーキング入れ"
    p.text-gray
      | 雨水の浸入を防ぐ(穴塞ぎ)
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 電線の固定
    img src="reform/R01-08-13/t0019.jpg" alt="電線の固定"
    p.text-gray
      | 足場に固定
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄
    img src="reform/R01-08-13/t0020.jpg" alt="高圧洗浄"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキングの打ち替え1
    img src="reform/R01-08-13/t0021.jpg" alt="コーキングの打ち替え1"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング打ち替え2
    img src="reform/R01-08-13/t0022.jpg" alt="コーキング打ち替え2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 軒天の洗浄
    img src="reform/R01-08-13/t0023.jpg" alt="軒天の洗浄"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 洗浄後の外壁
    img src="reform/R01-08-13/t0024.jpg" alt="洗浄後の外壁"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 洗浄後の外壁
    img src="reform/R01-08-13/t0025.jpg" alt="洗浄後の外壁"
    p.text-gray
      | 北面
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 洗浄後の外壁
    img src="reform/R01-08-13/t0026.jpg" alt="洗浄後の外壁"
    p.text-gray
      | 北面
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄後の外壁
    img src="reform/R01-08-13/t0027.jpg" alt="高圧洗浄後の外壁"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング打ち替え
    img src="reform/R01-08-13/t0028.jpg" alt="コーキング打ち替え"
    p.text-gray
      | はみ出し処理
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング打ち替え
    img src="reform/R01-08-13/t0029.jpg" alt="コーキング打ち替え"
    p.text-gray
      | 新しいコーキング
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 外壁・駐車場の養生
    img src="reform/R01-08-13/t0030.jpg" alt="外壁・駐車場の養生"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 屋根の下塗り
    img src="reform/R01-08-13/t0031.jpg" alt="屋根の下塗り"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

