h1.construction_name
  | F邸 瓦補修工事
p.construction_period
  | R01-06-23 〜 R01-06-23
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前1
    img src="reform/R01-06-23/f000.jpg" alt="施工前1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦の剥がし2
    img src="reform/R01-06-23/f001.jpg" alt="瓦の剥がし2"
    p.text-gray
      | 瓦トメの取付
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦の剥がし2
    img src="reform/R01-06-23/f002.jpg" alt="瓦の剥がし2"
    p.text-gray
      | 内部の瓦トメの取付
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦トメ
    img src="reform/R01-06-23/f003.jpg" alt="瓦トメ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦トメの設置
    img src="reform/R01-06-23/f005.jpg" alt="瓦トメの設置"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦トメの設置
    img src="reform/R01-06-23/f004.jpg" alt="瓦トメの設置"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 壁との隙間を埋める
    img src="reform/R01-06-23/f006.jpg" alt="壁との隙間を埋める"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 壁との隙間を埋める
    img src="reform/R01-06-23/f007.jpg" alt="壁との隙間を埋める"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦入れ
    img src="reform/R01-06-23/f008.jpg" alt="瓦入れ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦入れ
    img src="reform/R01-06-23/f009.jpg" alt="瓦入れ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦入れ
    img src="reform/R01-06-23/f010.jpg" alt="瓦入れ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 隙間を塞ぐ
    img src="reform/R01-06-23/f011.jpg" alt="隙間を塞ぐ"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 形を整える
    img src="reform/R01-06-23/f013.jpg" alt="形を整える"
    p.text-gray
      | 仕上げ
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 三日月をつくる
    img src="reform/R01-06-23/f012.jpg" alt="三日月をつくる"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 左右のバランス良く埋める
    img src="reform/R01-06-23/f014.jpg" alt="左右のバランス良く埋める"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 左右のバランス良く埋める
    img src="reform/R01-06-23/f015.jpg" alt="左右のバランス良く埋める"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 左右のバランス良く埋める
    img src="reform/R01-06-23/f016.jpg" alt="左右のバランス良く埋める"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 壁面の補修1
    img src="reform/R01-06-23/f017.jpg" alt="壁面の補修1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 壁面と三日月の補修2
    img src="reform/R01-06-23/f018.jpg" alt="壁面と三日月の補修2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ズレ止め
    img src="reform/R01-06-23/f019.jpg" alt="ズレ止め"
    p.text-gray
      | 瓦のズレをワイヤーで止める
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦ズレ止め
    img src="reform/R01-06-23/f020.jpg" alt="瓦ズレ止め"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ズレ止め完了
    img src="reform/R01-06-23/f021.jpg" alt="ズレ止め完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ズレ止め
    img src="reform/R01-06-23/f022.jpg" alt="ズレ止め"
    p.text-gray
      | 上から見たところ
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 北面の瓦ズレ止め
    img src="reform/R01-06-23/f023.jpg" alt="北面の瓦ズレ止め"
    p.text-gray
      | ワイヤーで止める

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了1
    img src="reform/R01-06-23/f024.jpg" alt="完了1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成
    img src="reform/R01-06-23/f112.jpg" alt="完成"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景
    img src="reform/R01-06-23/f025.jpg" alt="全景"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

