h1.construction_name
  | T邸 外壁塗装 コーキング取換工事
p.construction_period
  | R01-05-06 〜 R01-05-06
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | テープ養生1
    img src="reform/R01-05-06/015610.jpg" alt="テープ養生1"
    p.text-gray
      | コーキングはみ出し処理
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | テープ養生2
    img src="reform/R01-05-06/01569.jpg" alt="テープ養生2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | テープ養生3
    img src="reform/R01-05-06/015612.jpg" alt="テープ養生3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | テープ養生4
    img src="reform/R01-05-06/015613.jpg" alt="テープ養生4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | テープ養生1
    img src="reform/R01-05-06/15612.jpg" alt="テープ養生1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | プライマー処理1
    img src="reform/R01-05-06/15613.jpg" alt="プライマー処理1"
    p.text-gray
      | コーキング専用塗料塗布
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | コーキング充填
    img src="reform/R01-05-06/015614.jpg" alt="コーキング充填"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了1
    img src="reform/R01-05-06/15614.jpg" alt="完了1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了2
    img src="reform/R01-05-06/15615.jpg" alt="完了2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了3
    img src="reform/R01-05-06/15616.jpg" alt="完了3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了4
    img src="reform/R01-05-06/15617.jpg" alt="完了4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了5
    img src="reform/R01-05-06/15618.jpg" alt="完了5"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了6
    img src="reform/R01-05-06/15619.jpg" alt="完了6"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了7
    img src="reform/R01-05-06/15620.jpg" alt="完了7"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了8
    img src="reform/R01-05-06/15621.jpg" alt="完了8"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

