h1.construction_name
  |  M邸玄関框リフォーム工事
p.construction_period
  | R01-10-31 〜 R01-10-31
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 全景
    img src="reform/R01-10-31/kw1.jpg" alt="全景"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組
    img src="reform/R01-10-31/kw2.jpg" alt="足場組"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1
    img src="reform/R01-10-31/kw3.jpg" alt="現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/R01-10-31/kw4.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3
    img src="reform/R01-10-31/kw5.jpg" alt="現状3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 大屋根の現状
    img src="reform/R01-10-31/kw6.jpg" alt="大屋根の現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄1
    img src="reform/R01-10-31/kw7.jpg" alt="高圧洗浄1"
    p.text-gray
      | シート張り
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄2
    img src="reform/R01-10-31/kw8.jpg" alt="高圧洗浄2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄3
    img src="reform/R01-10-31/kw9.jpg" alt="高圧洗浄3"
    p.text-gray
      | 洗浄直後
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄4
    img src="reform/R01-10-31/kw10.jpg" alt="高圧洗浄4"
    p.text-gray
      | 乾燥後の洗浄の状態
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高圧洗浄5
    img src="reform/R01-10-31/kw11.jpg" alt="高圧洗浄5"
    p.text-gray
      | 樋の溝も綺麗に洗浄
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 洗浄後の大屋根1
    img src="reform/R01-10-31/kw12.jpg" alt="洗浄後の大屋根1"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 洗浄後の大屋根2
    img src="reform/R01-10-31/kw13.jpg" alt="洗浄後の大屋根2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下塗り1
    img src="reform/R01-10-31/kw14.jpg" alt="下塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下塗り2
    img src="reform/R01-10-31/kw15.jpg" alt="下塗り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り1
    img src="reform/R01-10-31/kw16.jpg" alt="中塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り2
    img src="reform/R01-10-31/kw17.jpg" alt="中塗り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り3
    img src="reform/R01-10-31/kw18.jpg" alt="中塗り3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り4
    img src="reform/R01-10-31/kw19.jpg" alt="中塗り4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 中塗り5
    img src="reform/R01-10-31/kw20.jpg" alt="中塗り5"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り1
    img src="reform/R01-10-31/kw22.jpg" alt="上塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り2
    img src="reform/R01-10-31/kw24.jpg" alt="上塗り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り3
    img src="reform/R01-10-31/kw23.jpg" alt="上塗り3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 上塗り完成4
    img src="reform/R01-10-31/kw21.jpg" alt="上塗り完成4"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

