h1.construction_name
  | S邸玄関リフォーム・桁の塗装・竹垣の交換工事
p.construction_period
  | R01-10-10 〜 R01-10-10
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1
    img src="reform/R01-10-10/11s2.jpg" alt="現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/R01-10-10/11s3.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3
    img src="reform/R01-10-10/11s4.jpg" alt="現状3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関化粧桁塗装
    img src="reform/R01-10-10/11s5.jpg" alt="玄関化粧桁塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関桁塗装1
    img src="reform/R01-10-10/11s6.jpg" alt="玄関桁塗装1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関柱ペーパー掛け
    img src="reform/R01-10-10/11s7.jpg" alt="玄関柱ペーパー掛け"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関・柱塗装
    img src="reform/R01-10-10/11s7_1.jpg" alt="玄関・柱塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 柱の塗装
    img src="reform/R01-10-10/11s7_2.jpg" alt="柱の塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 竹垣の設置
    img src="reform/R01-10-10/11s7_3.jpg" alt="竹垣の設置"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 竹垣完成
    img src="reform/R01-10-10/11s7_4.jpg" alt="竹垣完成"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 竹垣完成　
    img src="reform/R01-10-10/11s7_5.jpg" alt="竹垣完成　"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関引戸の設置
    img src="reform/R01-10-10/11s9.jpg" alt="玄関引戸の設置"
    p.text-gray
      | 既存の玄関の撤去

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | サッシ枠の取付
    img src="reform/R01-10-10/11s10.jpg" alt="サッシ枠の取付"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | レールの取付
    img src="reform/R01-10-10/11s11.jpg" alt="レールの取付"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床張替の養生
    img src="reform/R01-10-10/11s12.jpg" alt="床張替の養生"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関取付
    img src="reform/R01-10-10/11s15.jpg" alt="玄関取付"
    p.text-gray
      | 内部から見た写真
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関完成
    img src="reform/R01-10-10/11s14.jpg" alt="玄関完成"
    p.text-gray
      | 全景

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

