h1.construction_name
  | H邸 駐車場塗装工事
p.construction_period
  | R01-06-24 〜 R01-06-24
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了1
    img src="reform/R01-06-24/hk0001.jpg" alt="完了1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了2
    img src="reform/R01-06-24/hk03.jpg" alt="完了2"
    p.text-gray
      | 西面は塗装
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了3
    img src="reform/R01-06-24/hk01.jpg" alt="完了3"
    p.text-gray
      | 北全景
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了4
    img src="reform/R01-06-24/hk04.jpg" alt="完了4"
    p.text-gray
      | 北面
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了5
    img src="reform/R01-06-24/hk05.jpg" alt="完了5"
    p.text-gray
      | 東面
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了6
    img src="reform/R01-06-24/hk06.jpg" alt="完了6"
    p.text-gray
      | 東面
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了7
    img src="reform/R01-06-24/hk07.jpg" alt="完了7"
    p.text-gray
      | 内部
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了8
    img src="reform/R01-06-24/hk0005.jpg" alt="完了8"
    p.text-gray
      | 柱
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了8
    img src="reform/R01-06-24/hk0004.jpg" alt="完了8"
    p.text-gray
      | 庇
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了9
    img src="reform/R01-06-24/hk0006.jpg" alt="完了9"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成
    img src="reform/R01-06-24/hk0002.jpg" alt="完成"
    p.text-gray
      | 全景
