h1.construction_name
  | F邸 外壁塗装工事
p.construction_period
  | R01-05-30 〜 R01-05-30
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 南面の防水塗装1
    img src="reform/R01-05-30/ht1.jpg" alt="南面の防水塗装1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 南面の防水塗装2
    img src="reform/R01-05-30/ht2.jpg" alt="南面の防水塗装2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 南側の防水塗装3
    img src="reform/R01-05-30/ht3.jpg" alt="南側の防水塗装3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 南側の防水塗装4
    img src="reform/R01-05-30/ht4.jpg" alt="南側の防水塗装4"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 南面ベランダ外壁
    img src="reform/R01-05-30/ht5.jpg" alt="南面ベランダ外壁"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 北面ベランダ内壁
    img src="reform/R01-05-30/ht6.jpg" alt="北面ベランダ内壁"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ南面内壁
    img src="reform/R01-05-30/ht7.jpg" alt="ベランダ南面内壁"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 二階南面塗装完了
    img src="reform/R01-05-30/ht8.jpg" alt="二階南面塗装完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ベランダ
    img src="reform/R01-05-30/ht9.jpg" alt="ベランダ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外しへ
    img src="reform/R01-05-30/ht10.jpg" alt="足場外しへ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場外し
    img src="reform/R01-05-30/ht11.jpg" alt="足場外し"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/R01-05-30/ht13.jpg" alt="完成1"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/R01-05-30/ht15.jpg" alt="完成2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成3
    img src="reform/R01-05-30/ht14.jpg" alt="完成3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/R01-05-30/ht12.jpg" alt="完成2"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

