h1.construction_name
  | S邸 畳の表替え工事
p.construction_period
  | R01-06-26 〜 R01-06-26
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前
    img src="reform/R01-06-26/s0011.jpg" alt="施工前"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 箪笥の移動1
    img src="reform/R01-06-26/s0011_2.jpg" alt="箪笥の移動1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 箪笥の移動2
    img src="reform/R01-06-26/s0012.jpg" alt="箪笥の移動2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 畳の寸法取り
    img src="reform/R01-06-26/s0013.jpg" alt="畳の寸法取り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 位置の覚えがき
    img src="reform/R01-06-26/s0014.jpg" alt="位置の覚えがき"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 位置の覚えがき
    img src="reform/R01-06-26/s0015.jpg" alt="位置の覚えがき"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 畳の剥がし
    img src="reform/R01-06-26/s0016.jpg" alt="畳の剥がし"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 畳の入れ替えた時期
    img src="reform/R01-06-26/s0017.jpg" alt="畳の入れ替えた時期"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地の掃除
    img src="reform/R01-06-26/s0017_2.jpg" alt="下地の掃除"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 引き上げ完了
    img src="reform/R01-06-26/s0018.jpg" alt="引き上げ完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 畳・襖入れ
    img src="reform/R01-06-26/s0020.jpg" alt="畳・襖入れ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | つら合わせ
    img src="reform/R01-06-26/s0021.jpg" alt="つら合わせ"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 畳入れ
    img src="reform/R01-06-26/s0022.jpg" alt="畳入れ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高さ合わせ
    img src="reform/R01-06-26/s0023_2.jpg" alt="高さ合わせ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 畳入れ1
    img src="reform/R01-06-26/s0024.jpg" alt="畳入れ1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 畳入れ2
    img src="reform/R01-06-26/s0025.jpg" alt="畳入れ2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 高さの微調整
    img src="reform/R01-06-26/s0025_1.jpg" alt="高さの微調整"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 清掃
    img src="reform/R01-06-26/s0029.jpg" alt="清掃"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 畳のから拭き
    img src="reform/R01-06-26/s0028.jpg" alt="畳のから拭き"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了
    img src="reform/R01-06-26/s0026.jpg" alt="完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 鴨居の蝋塗り
    img src="reform/R01-06-26/s0023.jpg" alt="鴨居の蝋塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 敷居の蝋塗り
    img src="reform/R01-06-26/s0023_3.jpg" alt="敷居の蝋塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完了
    img src="reform/R01-06-26/s0030.jpg" alt="完了"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

