h1.construction_name
  |  M邸玄関・床リフォーム工事
p.construction_period
  | R01-10-18 〜 R01-10-18
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1
    img src="reform/R01-10-18/m1.jpg" alt="現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/R01-10-18/m2.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3
    img src="reform/R01-10-18/m3.jpg" alt="現状3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | カバー工法
    img src="reform/R01-10-18/m4.jpg" alt="カバー工法"
    p.text-gray
      | 既存の床に貼り付ける
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関床完成1
    img src="reform/R01-10-18/m5.jpg" alt="玄関床完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関床完成2
    img src="reform/R01-10-18/m6.jpg" alt="玄関床完成2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関床完成3
    img src="reform/R01-10-18/m7.jpg" alt="玄関床完成3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関ホール現状1
    img src="reform/R01-10-18/m2_1.jpg" alt="玄関ホール現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関ホールのクロス捲り
    img src="reform/R01-10-18/m2_2.jpg" alt="玄関ホールのクロス捲り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関ホールの掃除1
    img src="reform/R01-10-18/m8.jpg" alt="玄関ホールの掃除1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関ホール掃除
    img src="reform/R01-10-18/m2_3.jpg" alt="玄関ホール掃除"
    p.text-gray
      | 廃材の撤去
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関ホール清掃
    img src="reform/R01-10-18/m9.jpg" alt="玄関ホール清掃"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 清掃完了
    img src="reform/R01-10-18/m2_4.jpg" alt="清掃完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クロス下地完成
    img src="reform/R01-10-18/m2_5.jpg" alt="クロス下地完成"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関框の下の補修
    img src="reform/R01-10-18/m2_6.jpg" alt="玄関框の下の補修"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関用クロス貼付け
    img src="reform/R01-10-18/m11.jpg" alt="玄関用クロス貼付け"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関完成
    img src="reform/R01-10-18/m10.jpg" alt="玄関完成"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

