h1.construction_name
  | F邸 外壁塗装 木部取替補修工事
p.construction_period
  | R01-05-07 〜 R01-05-07
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関木部の現状1
    img src="reform/R01-05-07/fk01.jpg" alt="玄関木部の現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | サッシ枠現状2
    img src="reform/R01-05-07/fk1.jpg" alt="サッシ枠現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 東面の現状
    img src="reform/R01-05-07/f005.jpg" alt="東面の現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風板の現状
    img src="reform/R01-05-07/fk2.jpg" alt="破風板の現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 水道管の経年劣化
    img src="reform/R01-05-07/fk01_1.jpg" alt="水道管の経年劣化"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 物干し場の屋根現状
    img src="reform/R01-05-07/fk03.jpg" alt="物干し場の屋根現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関木部取替現状
    img src="reform/R01-05-07/f001.jpg" alt="玄関木部取替現状"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木製玄関見切りの取替
    img src="reform/R01-05-07/f004.jpg" alt="木製玄関見切りの取替"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木製サッシ枠
    img src="reform/R01-05-07/f003.jpg" alt="木製サッシ枠"
    p.text-gray
      | 取り替え
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 3勝手口木部枠
    img src="reform/R01-05-07/f002.jpg" alt="3勝手口木部枠"
    p.text-gray
      | 取り替え
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 水道管カバー撤去
    img src="reform/R01-05-07/fk4.jpg" alt="水道管カバー撤去"
    p.text-gray
      | 劣化したカバーを剥がす
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 足場組み
    img src="reform/R01-05-07/fk05.jpg" alt="足場組み"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 防水塗装1
    img src="reform/R01-05-07/fk3.jpg" alt="防水塗装1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 防水塗装2
    img src="reform/R01-05-07/fk02.jpg" alt="防水塗装2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関木部の養生
    img src="reform/R01-05-07/fk10.jpg" alt="玄関木部の養生"
    p.text-gray
      | 外壁のはみ出し防止
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 劣化したポリカの撤去
    img src="reform/R01-05-07/fk8.jpg" alt="劣化したポリカの撤去"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 物干し場下塗り
    img src="reform/R01-05-07/fk5.jpg" alt="物干し場下塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 戸羽子の上塗り8
    img src="reform/R01-05-07/fk6.jpg" alt="戸羽子の上塗り8"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 物干し鉄柱の仕上げ塗装
    img src="reform/R01-05-07/fd0.jpg" alt="物干し鉄柱の仕上げ塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木部の上塗り
    img src="reform/R01-05-07/fd3.jpg" alt="木部の上塗り"
    p.text-gray
      | 木部各処の上塗り
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 小庇の上塗り
    img src="reform/R01-05-07/fd4.jpg" alt="小庇の上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風板の上塗り
    img src="reform/R01-05-07/fd5.jpg" alt="破風板の上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風板の上塗り
    img src="reform/R01-05-07/fd10.jpg" alt="破風板の上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 窓枠の上塗り
    img src="reform/R01-05-07/fd6.jpg" alt="窓枠の上塗り"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2
    li.page-item
      a href="#page3" 3
    li.page-item
      a href="#page3" &rsaquo;
    li.page-item
      a href="#page3" &raquo;

#page3.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 物干し場の鉄柱の補修
    img src="reform/R01-05-07/fd9.jpg" alt="物干し場の鉄柱の補修"
    p.text-gray
      | 錆の部分を補強
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリカの張替
    img src="reform/R01-05-07/fd7.jpg" alt="ポリカの張替"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリカの張替2
    img src="reform/R01-05-07/fd8.jpg" alt="ポリカの張替2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 瓦の取替え工程へ
    img src="reform/R01-05-07/fd11.jpg" alt="瓦の取替え工程へ"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page2" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item.active
      a href="#page3" 3

