h1.construction_name
  |  M邸玄関框リフォーム工事
p.construction_period
  | R01-10-24 〜 R01-10-24
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状1
    img src="reform/R01-10-24/mtk1.jpg" alt="現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/R01-10-24/mtk2.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3
    img src="reform/R01-10-24/mtk3.jpg" alt="現状3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | サンダー掛け1
    img src="reform/R01-10-24/mtk4.jpg" alt="サンダー掛け1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | サンダー掛け2
    img src="reform/R01-10-24/mtk5.jpg" alt="サンダー掛け2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関框上塗り1
    img src="reform/R01-10-24/mtk6.jpg" alt="玄関框上塗り1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関框上塗り2
    img src="reform/R01-10-24/mtk8.jpg" alt="玄関框上塗り2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 玄関框上塗り3
    img src="reform/R01-10-24/mtk9.jpg" alt="玄関框上塗り3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クリアー仕上げ塗装1
    img src="reform/R01-10-24/m_01.jpg" alt="クリアー仕上げ塗装1"
    p.text-gray
      | 1回目塗り
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クリアー仕上げ塗装2
    img src="reform/R01-10-24/m_02.jpg" alt="クリアー仕上げ塗装2"
    p.text-gray
      | 2回目の塗装
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クリアー仕上げ塗装3
    img src="reform/R01-10-24/m_03.jpg" alt="クリアー仕上げ塗装3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クリアー仕上げ塗装4
    img src="reform/R01-10-24/m_05.jpg" alt="クリアー仕上げ塗装4"
    p.text-gray
      | 3回目塗装

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クリアー仕上げ完成1
    img src="reform/R01-10-24/m_06.jpg" alt="クリアー仕上げ完成1"
    p.text-gray
      | 4回目塗装
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クリアー仕上げ完成2
    img src="reform/R01-10-24/m_07.jpg" alt="クリアー仕上げ完成2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クリアー仕上げ完了
    img src="reform/R01-10-24/mtk10.jpg" alt="クリアー仕上げ完了"
    p.text-gray
      | さらに艶を極めて完成

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

