h1.construction_name
  |  K邸棟瓦の補修工事
p.construction_period
  | R01-10-25 〜 R01-10-25
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 棟瓦の現状1
    img src="reform/R01-10-25/ky1.jpg" alt="棟瓦の現状1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状2
    img src="reform/R01-10-25/ky2.jpg" alt="現状2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | のし瓦の取替え
    img src="reform/R01-10-25/ky3.jpg" alt="のし瓦の取替え"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | のし瓦の取付け
    img src="reform/R01-10-25/ky4.jpg" alt="のし瓦の取付け"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ひび割れの入った瓦
    img src="reform/R01-10-25/ky5_0.jpg" alt="ひび割れの入った瓦"
    p.text-gray
      | ひびの入った瓦の現状
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | かんぶり瓦のコーキング
    img src="reform/R01-10-25/ky5.jpg" alt="かんぶり瓦のコーキング"
    p.text-gray
      | ひび入った部分のコーキング
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | のし瓦の止め
    img src="reform/R01-10-25/ky6.jpg" alt="のし瓦の止め"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成
    img src="reform/R01-10-25/ky7.jpg" alt="完成"
    p.text-gray
      | かんぶり瓦をのせて完了
