h1.construction_name
  | F邸 外壁塗装工事
p.construction_period
  | R01-05-12 〜 R01-06-28
p.construction_outline
  | 

#page1.page-content.active
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 物干し鉄柱の仕上げ塗装
    img src="reform/R01-05-12/fd0.jpg" alt="物干し鉄柱の仕上げ塗装"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 木部の上塗り
    img src="reform/R01-05-12/fd3.jpg" alt="木部の上塗り"
    p.text-gray
      | 木部各処の上塗り
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 小庇の上塗り
    img src="reform/R01-05-12/fd4.jpg" alt="小庇の上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風板の上塗り
    img src="reform/R01-05-12/fd5.jpg" alt="破風板の上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 破風板の上塗り
    img src="reform/R01-05-12/fd10.jpg" alt="破風板の上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 窓枠の上塗り
    img src="reform/R01-05-12/fd6.jpg" alt="窓枠の上塗り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 物干し場の鉄柱の補修
    img src="reform/R01-05-12/fd9.jpg" alt="物干し場の鉄柱の補修"
    p.text-gray
      | 錆の部分を補強
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリカの張替
    img src="reform/R01-05-12/fd7.jpg" alt="ポリカの張替"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | ポリカの張替2
    img src="reform/R01-05-12/fd8.jpg" alt="ポリカの張替2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成1
    img src="reform/R01-05-12/f0101.jpg" alt="完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 完成2
    img src="reform/R01-05-12/f0202.jpg" alt="完成2"
    p.text-gray
      | 
