h1.construction_name
  | K邸 LDK床 張替補修工事
p.construction_period
  | R01-07-22 〜 R01-07-22
p.construction_outline
  | 

#page1.page-content.active

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前1
    img src="reform/R01-07-22/k1001.jpg" alt="施工前1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 施工前2
    img src="reform/R01-07-22/k1002.jpg" alt="施工前2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 現状3
    img src="reform/R01-07-22/k1003.jpg" alt="現状3"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床の捲り
    img src="reform/R01-07-22/k1004.jpg" alt="床の捲り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 壁下地の状態1
    img src="reform/R01-07-22/k1005.jpg" alt="壁下地の状態1"
    p.text-gray
      | 羽蟻による侵蝕
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地の現状2
    img src="reform/R01-07-22/k1005_1.jpg" alt="下地の現状2"
    p.text-gray
      | 羽蟻による侵蝕
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床下地の点検
    img src="reform/R01-07-22/k1006.jpg" alt="床下地の点検"
    p.text-gray
      | 既存の大引き・垂木の点検
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 下地替え
    img src="reform/R01-07-22/k1007_0.jpg" alt="下地替え"
    p.text-gray
      | 傷んだ胴縁の撤去
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 防虫剤塗布
    img src="reform/R01-07-22/k1007.jpg" alt="防虫剤塗布"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床断熱材入れ
    img src="reform/R01-07-22/k1008.jpg" alt="床断熱材入れ"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床断熱材入れ2
    img src="reform/R01-07-22/k1009.jpg" alt="床断熱材入れ2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | フローリング貼り
    img src="reform/R01-07-22/k1010.jpg" alt="フローリング貼り"
    p.text-gray
      | 

  .pagination
    li.page-item.active
      a href="#page1" 1
    li.page-item
      a href="#page2" 2
    li.page-item
      a href="#page2" &rsaquo;
    li.page-item
      a href="#page2" &raquo;

#page2.page-content

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | フローリング貼り
    img src="reform/R01-07-22/k1011.jpg" alt="フローリング貼り"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 額縁との調整
    img src="reform/R01-07-22/k1012_0.jpg" alt="額縁との調整"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床張替の養生
    img src="reform/R01-07-22/k1012.jpg" alt="床張替の養生"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 張替完了
    img src="reform/R01-07-22/k1013.jpg" alt="張替完了"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 壁下地の完成
    img src="reform/R01-07-22/k1013_0.jpg" alt="壁下地の完成"
    p.text-gray
      | 羽蟻で侵蝕された壁の補修
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床張替完成1
    img src="reform/R01-07-22/k1014.jpg" alt="床張替完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | クロス張替1
    img src="reform/R01-07-22/k1013.jpg" alt="クロス張替1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 壁下地の完成
    img src="reform/R01-07-22/k1013_0.jpg" alt="壁下地の完成"
    p.text-gray
      | 羽蟻で侵蝕された壁の補修
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | 床張替完成1
    img src="reform/R01-07-22/k1014.jpg" alt="床張替完成1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | LDKクロス張替1
    img src="reform/R01-07-22/k1002.jpg" alt="LDKクロス張替1"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | LDKクロス張替2
    img src="reform/R01-07-22/k1003.jpg" alt="LDKクロス張替2"
    p.text-gray
      | 
  figure.figure.work_figure
    figcaption.figure-caption.text-left.h4
      | LDKクロス張替3
    img src="reform/R01-07-22/k1001.jpg" alt="LDKクロス張替3"
    p.text-gray
      | 

  .pagination
    li.page-item
      a href="#page1" &laquo;
    li.page-item
      a href="#page1" &lsaquo;
    li.page-item
      a href="#page1" 1
    li.page-item.active
      a href="#page2" 2

