/** ・ｽX・ｽ・ｽ・ｽC・ｽ_・ｽ[・ｽX・ｽ^・ｽC・ｽ・ｽ **/

.bx-wrapper{
	position: relative;
	margin: 0px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img{
	max-width: 100%;
	display: block;
	border-radius: 7px;
}

.bx-wrapper{
	background: transparent;
	padding:10px 10px 10px 10px;
}

.bx-viewport{
	background: transparent;
}

.bx-wrapper .bx-viewport ul{
	padding:0px;
	margin:0px;
}

.bx-wrapper .bx-viewport ul li{
	background:none;
	padding: 0px;
	margin: 0px;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto{
	position: absolute;
	width: 100%;
	bottom: -30px;
}

.bx-wrapper .bxslider{
	margin:0px;
}

.bx-wrapper .bx-loading{
	min-height: 50px;
	background: url(bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

.bx-wrapper .bx-pager{
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item{
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a{
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev{
	left: 0px;
	background: url(controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next{
	right: 0px;
	background: url(controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover{
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover{
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a{
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled{
	display: none;
}

.bx-wrapper .bx-controls-auto{
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start{
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active{
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop{
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active{
	background-position: -86px -33px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{
	right: 0;
	width: 35px;
}

.bx-wrapper .bx-caption{
	position: absolute;
	bottom: 0;
	left: 0;
	background: #f8f8f8;
	width: 100%;
}

.bx-wrapper .bx-caption span{
	color: #484848;
	font-family: Arial;
	display: block;
	padding: 5px;
	font-size:8px;
	text-align:center;
}

/* pager */

.hpb-slider1-pager{
	border: none;
}

.hpb-slider1-pager a{
	text-decoration: none;
}

.hpb-slider1-pager a img{
	border-radius: 4px;
	opacity: 0.5;
}

.hpb-slider1-pager a.active img {
	opacity: 1;
	transition:opacity 1.2s linear; 
}