.billboard {
  grid-area:  billboard;
  margin-top: -1rem !important;
  max-width: 100vw;
  h1.catchcopy {
    font-size: 0.9rem;
    margin-top: -1rem;
  }
}

/* ##### 画面の横幅568ピクセル以上 ##### */
@media (min-width: 568px) {
  .parallax .parallax-front.position-top-left {
    width: 70%;
    h1.catchcopy {
      font-size: 1.1rem;
      height: 60%;
      width:  100%;
    }
  }
}
