/* フッター */
.page-foot {
  grid-area:  footer;
  padding:    0.75rem 0;
  // background: var(--footer-color);
  background: $fuka-midori;
  text-align: center;
  color: var(--light);
  text-align: center;
  font-size:  14px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  /* ##### 画面の横幅568ピクセル以上 ##### */
  @media (min-width: 568px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  nav {
    grid-column: 1;
    grid-row:    1;
    /* ##### 画面の横幅568ピクセル以上 ##### */
    @media (min-width: 568px) {
      grid-column: 1;
      grid-row:    1;
    }

    ul {
      list-style: none;
      text-align: left;
      padding-left: 1rem;
      li {
        display: inline-block;
      }
    }
  }


  p {
    text-align: right;
    padding-right: 1rem;
    grid-column: 1;
    grid-row:    2;
    /* ##### 画面の横幅568ピクセル以上 ##### */
    @media (min-width: 568px) {
      grid-column: 2;
      grid-row:    1;
    }
  }
  a {
    color: var(--light);
  }
}
