doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.13.0 for Windows"]
    title
      | 施工事例 - ホームメイド
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
  body#hpb-template-01-01d-01.hpb-layoutset-02
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | ホームメイドは内装クロス・外壁塗装・水回り・木部塗装補修工事・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL. 
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title
            h2
              span.ja
                | 施工手順の詳細
              span.en
                | PRODUCTS
          #hpb-main
            #service
              h3
                | S邸施工事例
              b
                font[size="3"]
                  | ◆ 現調 （Befor)
              br
              br
              img.left[src="a1.jpg" width="186" height="125" alt="現調写真撮り" align="left" style="padding-top : 8px;"]
              p
                img.left[src="a2.jpg" width="185" height="125" alt="東麺外壁"]
                img.left[src="a3.jpg" alt="南面外壁" width="185" height="125"]
              hr
              img.left[src="a4.jpg" width="185" height="125" alt=""]
              p
                br
                |  ○　外壁は黒カビが一面にひろがり、特に北側の状態がひどく、防カビの塗装を下塗りに使用し和を醸し出すために艶消し塗料を使用しました。木部デッキもかなり劣化が進んでいたので、キシラデコールを塗って木部の外観を保護することにしました。
                br
              p
                strong
                  | 外壁防水塗装工事　ベランダ庇改修工事　木製デッキ・扉塗装工事　
                  br
                  br
                  br
                  b
                    font[size="3"]
                      br
                      |  ◆ 木部デッキ　
                br
                img.left[src="a5.jpg" width="185" height="125" alt="現調写真撮り" align="left" style="padding-top : 23px;"]
              p
                img.left[src="a6.jpg" width="185" height="125" alt="木製デッキ"]
                img.left[src="a7.jpg" alt="木製の空気抜け" width="185" height="125"]
              hr
              img.left[src="a8.jpg" width="185" height="125" alt=""]
              p
                br
                |  ○ 木部のデッキ板塀なども塗装が剥げて割れや腐食が進んでいました。キシラデコールの色の濃い塗装を使用して木部を保護し、割れや腐食が目立たないようにしました。
                br
                br
                br
                br
                strong
                  | 木製デッキ痛みの状況を見る
                  br
                  br
                  br
                strong
                  b
                    font[size="3"]
                      br
                      br
                      |  ◆ 各外壁部の状態　↓
                  br
                  img.left[src="a9.jpg" width="185" height="125" alt="現調写真撮り" align="left" style="padding-top : 23px;"]
              p
                strong
                  img.left[src="a10.jpg" width="185" height="125" alt="東面外壁"]
                  img.left[src="a11.jpg" alt="東面コーキング" width="185" height="125"]
              p
                strong

              hr
              p
                strong
                  img.left[src="a12.jpg" width="185" height="125" alt=""]
              p
                strong
                  br
                | ○ 外壁の各部の状態を点検して塗装の仕方を決めます。傷んでいる箇所が苔なのか、カビなのか、傷やクラックなのかで処理の仕方が変わってきます。
                br
                br
                br
                strong
                  | 外壁の状態を細部にわたり点検する。
                strong
                  b
                    font[size="3"]
                      br
                      br
                  b
                    font[size="3"]
                      br
                      br
                      |  ◆ 完工前チェック　↓
                  br
                  img.left[src="a15.jpg" width="185" height="125" alt="現調写真撮り" align="left" style="padding-top : 23px;"]
              p
                strong
                  img.left[src="a16.jpg" width="185" height="125" alt="玄関天井"]
                  img.left[src="a17.jpg" alt="北面空気抜け" width="185" height="125"]
              p
                strong
                  |  　 
              hr
              p
                strong
                  img.left[src="a18.jpg" width="185" height="125" alt=""]
              p
                strong
                  br
                | ○ 完工前に足場に登り各場所を入念に点検チェックして、仕上がり状況を確認します。その後タッチアップによる修正や補修を行います。
                br
                br
                br
                br
                strong
                  | 細部の塗装状態のチェック
              p
                strong
                  b
                    font[size="3"]
                      br
                      br
                      |  ◆ 完工（After）　↓
                  br
                  img.left[src="a22.jpg" width="185" height="125" alt="現調写真撮り" align="left" style="padding-top : 23px;"]
              p
                strong
                  img.left[src="a20.jpg" width="185" height="125" alt="南面ベランダ庇"]
                  img.left[src="a21.jpg" alt="ベランダ塗装完成" width="185" height="125"]
              hr
              p
                strong
                  img.left[src="a19.jpg" alt="前景" width="185" height="125"]
                strong
                  br
                  br
                  br
                | ○ 足場を外してから、安心して住んで頂けるように、さらに再度確認をして完成です。
                br
                br
                br
                strong
                  a[href="ab2.jpg" target="_blank"]
                    | 1
                  a[href="ab1.jpg" target="_blank"]
                    | 2
                  a[href="ab3.jpg" target="_blank"]
                    | 3
                  a[href="ab5.jpg" target="_blank"]
                    | 4
                  |  完成写真
              p
                br
              h3
                strong
                  b
                    br
                    |  M邸外壁防水塗装工事詳細は 
                    a[href="sekoo1.html"]
                      | こちら
                |  　ビフォー ⇒ アフターは 
                a[href="sekoo3.html" target="_self"]
                  | こちら
              p
                strong

              hr
              #pagetop
                strong
                  a[href="#hpb-container" title="このページの先頭へ"]
                    | このページの先頭へ
              p
                strong

        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url('top_banner_1Ad_04.png');"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
