doctype html
html
  head
    meta[http-equiv="Content-Type" content="text/html; charset=iso-8859-1"]
    title
      | 404 Not Found
  body
    h1
      | Not Found
    p
      | The requested URL /hm/sp2/mokubut2.html was not found on this server.
