.dp_modal-win {
  position: fixed;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  z-index:  999;
}

.dp_modal-content {
  background:    #fff;
  border-radius: 10px;
  width:         278px;
  position:      absolute;
  z-index:       1000;
  top:           100px;
  left:          100px;
  font-size:     16px;
  font-weight:   normal;
}

.dp_modal-content.calendar .calendar-header,
.dp_modal-content.calendar .calendar-body {
  .sunday    { color: #aa2b34; }
  .monday    { color: #333631; }
  .tuesday   { color: #333631; }
  .wednesday { color: #333631; }
  .thursday  { color: #333631; }
  .friday    { color: #333631; }
  .saturday  { color: #1e50a2; }
  .holiday   { color: #ea5506 !important; }
}

.dp_modal-content.calendar .calendar-date .date-item.select-date,
.dp_modal-content.calendar .calendar-date .date-item.select-date:focus,
.dp_modal-content.calendar .calendar-date .date-item.select-date:hover {
  background:      #bd1e48;
  border-color:    #c22047;
  color:           white !important;
  text-decoration: none;
}
