.svg-inline--fa.fa-angle-double-up.fa-w-10 {
  color: #fff;
  font-size: 26px;
  margin-top: 10px;
  margin-left: calc((100px - 13px) / 2);
}

#page_top {
  width: 100px;
  height: 60px;
  position: fixed;
  right: 1rem;
  bottom: 60px;
  background: #028760;
  opacity: 0.6;
  border-radius: 50%;
  a {
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
    &::before {
      display: none;
      font-family: "Font Awesome 5 Solid";
      content: '\f102';
    }
    &::after {
      content: '先頭に戻る';
      font-size: 12px;
      color: #fff;
      position: absolute;
      top: 35px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
  }
}
