/*
  Theme Name: BizPage
  Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.section-header {
  h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: #18d26e;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }

  p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
  }
}

/* Section with background
--------------------------------*/
.section-bg {
  /* background: #f7f7f7; */
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  padding: 60px 0;
  #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
    li {
      cursor: pointer;
      margin: 15px 15px 15px 0;
      display: inline-block;
      padding: 10px 20px;
      font-size: 18px;
      line-height: 24px;
      color: black;
      border-radius: 4px;
      text-transform: uppercase;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
      background-image: url("../images/signboard.jpg");
      filter: grayscale(95%) sepia(5%) opacity(70%);
      background-size: 100% 100%;
      /* border: 3px double #888; */
      &:hover,
      &.filter-active {
        filter: brightness(120%);
        /* border: 3px solid rgb(125, 223, 105); */
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
    }
  }

  .portfolio-item {
    position: relative !important;
    // height: 360px;
    // overflow: hidden;
    figure {
      background: #fff;
      overflow: hidden;
      height: 240px;
      position: relative;
      border-radius: 4px 4px 0 0;
      margin: 0;
      &:hover img {
        opacity: 0.4;
        transition: 0.3s;
      }
      .link-preview,
      .link-details {
        position: absolute;
        display: inline-block;
        opacity: 0;
        line-height: 1;
        text-align: center;
        width: 36px;
        height: 36px;
        background: #fff;
        border-radius: 50%;
        transition: 0.2s linear;
        i {
          padding-top: 6px;
          font-size: 22px;
          color: #333;
        }
        &:hover {
          background: #18d26e;
          i {
            color: #fff;
          }
        }
      }
      .link-preview {
        left: calc(50% - 38px);
        top: calc(50% - 18px);
      }
      .link-details {
        right: calc(50% - 38px);
        top: calc(50% - 18px);
      }
      &:hover .link-preview {
        opacity: 1;
        left: calc(50% - 44px);
      }
      &:hover .link-details {
        opacity: 1;
        right: calc(50% - 44px);
      }
    }
  }

  .portfolio-item .portfolio-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 90px;
    border-radius: 0 0 3px 3px;
    h4 {
      font-size: 18px;
      line-height: 1px;
      font-weight: 700;
      margin-bottom: 18px;
      padding-bottom: 0;
      a {
        color: #333;
        &:hover {
          color: #18d26e;
        }
      }
    }
    p {
      padding: 0;
      margin: 0;
      color: #b8b8b8;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

.portfolio-container.thumbnails {
  .card.portfolio-item {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: calc(159px + 110px);
    background: lighten($wakakusairo, 45%);
  }
  .card-header {
    padding: 0.33rem;
    background: lighten($wakakusairo, 45%);
  }
  .card-image {
    margin: 0;
    padding: 0;
    .img-responsive {
      object-fit: cover;
    }
  }
  .card.portfolio-item:last-child {
    margin-bottom: 2.5rem;
  }
}
