.results,
.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px;

  // a.thumbnail {
  //   grid-row: auto;
  //   margin: 0 auto;
  //   img {
  //     max-width: 100%;
  //   }
  // }
}
