.card
  .card-image
    a.colorbox href="#{image}" title="#{title}"
      img.img-responsive src="#{image}" alt="#{title}"
  .card-header
    .card-title.h5
      | #{title}
  .card-body
    p
      | #{comment}
