doctype html
html lang="ja"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title "交通案内"
    meta name="description" content = "株式会社ホームメイドは、建築リフォームを専門とする会社です。木造住宅の外壁塗装・床や畳の入れ替え・内装クロス・建具補修・浴室台所などの水回り改修まで、「住む人の愛が溢れる、やって良かった嬉しいリフォーム」の心をお客様にご提案します。"

    script src="https://cdn.jsdelivr.net/npm/ie-buster@1.1.0/dist/ie-buster.min.js"
    script src="https://code.jquery.com/jquery-3.4.1.min.js"
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    link rel="stylesheet" href="assets/stylesheets/style.min.css"

  body.page
    include _header
    include _nav
    main.page-main
      include _R01-10-10
    / include _side
    #page_top
      a href="#"
    include _footer
    script src="assets/javascripts/all.min.js"
