doctype html
html lang="ja"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title "建築リフォームならホームメイド"
    meta name="description" content = "株式会社ホームメイドは、建築リフォームを専門とする会社です。木造住宅の外壁塗装・床や畳の入れ替え・内装クロス・建具補修・浴室台所などの水回り改修まで、「住む人の愛が溢れる、やって良かった嬉しいリフォーム」の心をお客様にご提案します。"

    script src="https://cdn.jsdelivr.net/npm/ie-buster@1.1.0/dist/ie-buster.min.js"
    script src="https://code.jquery.com/jquery-3.4.1.min.js"
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    link rel="stylesheet" href="assets/stylesheets/style.min.css"

    / bing
    meta name="msvalidate.01" content="844A96693AA4F6703CC6A2CB8E22DDB3"
    meta property="og:locale" content="ja_JP"
    meta property="og:type" content="website"
    meta property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください。"
    meta property="og:description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。施工前、施工後の写真をご紹介しています。検査も見積もりも無料です。"
    meta property="og:site_name" content="外壁塗装を岐阜でお考えならホームメイドにお任せください。"

    / Autoprefixer を通すと、-webkit-box-orient が消えるので、ここに記述
    css:
      .ellipsis {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }

  body.page
    include _header
    include _billboard

    include _nav
    include _index
    include _footer

    script src="lib/wow/wow.min.js"
    script src="lib/isotope/isotope.pkgd.js"
    script src="assets/javascripts/all.min.js"
