doctype html
html lang="ja"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title "施工実績"
    meta name="description" content = "株式会社ホームメイドは、建築リフォームを専門とする会社です。木造住宅の外壁塗装・床や畳の入れ替え・内装クロス・建具補修・浴室台所などの水回り改修まで、「住む人の愛が溢れる、やって良かった嬉しいリフォーム」の心をお客様にご提案します。"

    script src="https://cdn.jsdelivr.net/npm/ie-buster@1.1.0/dist/ie-buster.min.js"
    script src="https://code.jquery.com/jquery-3.4.1.min.js"
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    link rel="stylesheet" href="assets/stylesheets/style.min.css"

  body.page
    include _header
    include _nav
    main.page-main
      p.lead
        | 株式会社ホームメイドは、建築リフォームを専門とする会社です。
        br
        | 木造住宅の外壁塗装・床や畳の入れ替え・内装クロス・建具補修・浴室台所などの水回り改修まで、「住む人の愛が溢れる、やって良かった嬉しいリフォーム」の心をお客様にご提案します。

      p
        | 様々なリフォーム事例がございます。

      ul
        li 外壁防水塗装工事
        li
          | 水回り補修
          ul.ml-3
            li システムキッチン
            li バスユニット
            li 洗面所
        li 畳表替え
        li 瓦補修
        li コーキング(充填材)打ち替え
        li 金属サイディング貼り
        li 木部取替補修工事
        li 高圧洗浄
        li 板塀塗装
        li カーポート補修


    #page_top
      a href="#"
    include _footer
    script src="assets/javascripts/all.min.js"
