doctype transitional
html[lang="ja"]
  head
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    meta[http-equiv="Content-Style-Type" content="text/css"]
    meta[http-equiv="Content-Script-Type" content="text/javascript"]
    meta[name="GENERATOR" content="JustSystems Homepage Builder Version 21.0.5.0 for Windows"]
    title
      | ステンドグラスでお部屋をリフォーム-ホームメイド
    meta[name="description" content="外壁塗装・屋根塗装・木部塗装・水回りのリフォーム。通し柱・柱・土台・垂木・桁等の構造材の腐りや腐食の補修、取り替えをするなら、ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムでホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[name="robots" content="noodp"]
    meta[name="keywords" content="木部塗装,外壁塗装,屋根塗装,瓦の取替え,外壁板金工事,水回り,床張替え,ステンドグラスでリフォーム,通し柱の腐り,柱の腐り腐食,経年劣化,リフォーム,ビフォーアフター,検査、見積もり無料,（株）ホームメイド,岐阜市の城下町,雨漏り,台風,梅雨前の準備"]
    meta[property="og:locale" content="ja_JP"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="外壁塗装を岐阜でお考えならホームメイドにお任せください！"]
    meta[property="og:description" content="外壁塗装・屋根リフォーム・通し柱の腐り・柱・土台の腐り・垂木・桁等の構造材の腐食、木製扉の補修や塗り替え、取り替えをするなら、岐阜県岐阜市の株式会社 ホームメイドにお任せください。 ビフォーアフターの施行写真をリアルタイムホームページでご紹介しています。検査も見積もりも無料です。"]
    meta[property="og:site_name" content="外壁塗装を岐阜でお考えなら株式会社 ホームメイドにお任せください！"]
    link#hpbparts[rel="stylesheet" href="hpbparts.css" type="text/css"]
    link#hpbcontainer[rel="stylesheet" href="container_1Ad_2c_top.css" type="text/css"]
    link#hpbmain[rel="stylesheet" href="main_1Ad_2c.css" type="text/css"]
    link#hpbuser[rel="stylesheet" href="user.css" type="text/css"]
    script[type="text/javascript" src="jquery.min.js"]

    script[type="text/javascript" language="JavaScript"]

    script[type="text/javascript" language="JavaScript"]

    script[type="text/javascript" language="JavaScript"]

  body#hpb-template-01-01d-01.hpb-layoutset-01
    #hpb-skip
      a[href="#hpb-title"]
        | 本文へスキップ
    #hpb-container
      #hpb-header
        #hpb-headerMain
          h1
            | 株式会社 ホームメイドは 木部防水塗装・木部補修工事・一般外壁防水塗装・水回り・内装クロス・畳入替え・建具補修などの建築リフォーム工事を専門とする会社です。
        #hpb-headerLogo
          a[href="index.html"]
            | ホームメイド
        #hpb-headerExtra1
          p.tel
            span
              | TEL.
            | 058-262-5694
          p.address
            | 〒500-8029 岐阜市東材木町37-2
      #hpb-inner
        #hpb-wrapper
          #hpb-title.hpb-top-image
            h2
              | リフォームの楽しさと喜びをかたちにする。新しい発想のライフスタイルと嬉しさをご提案します
          #hpb-main
            #toppage
              p
                | ※ ホームメイドは、建築リフォームを専門とする会社です。伝統的木造住宅の木部の外壁塗装、漆喰の塗替え、床の張替えから水回りまで、どんなご要望にもお応えするリフォームのスペシャリストです。(Iphone用ページは
                a[href="sp1/index.html"]
                  | こちら
                | )
              #toppage-topics
                h3
                  | TOPICS 2019
                |  　
                font[color="#990000"]
                  b
                    | ※ ステンドグラスでこんなに変わる！
                b
                  font[color="#ff0000"]
                    | 2019/2/21 更新
                    br
                table[cellpadding="0" style="margin-top : 0px;margin-right : 0px;margin-bottom : 0px;border-width : 0px;border-style : none;border-color : white;"]
                  tbody
                    tr
                      td[align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="451" valign="middle" colspan="4" bgcolor="#40314d"]
                        font[color="#ffffff"]
                          | ※ ご注文承ります。デザインオーダー可能！ 思い出のステンドグラスをあなたのお部屋にリフォーム！
                        |  
                    tr
                      td[align="center" style="text-align : center;border-top-width : 1px;border-right-color : #cccccc;border-bottom-color : #cccccc;" valign="middle" rowspan="4" bgcolor="#ecd0fd"]
                        | バリエー
                        br
                        |  ション 
                      td[style="text-align : center;" align="center"]
                        img[src="sten1/st10.jpg" width="150" height="150" border="0"]
                      td[style="text-align : center;" align="center"]
                        |  
                        img[src="sten1/st8.jpg" width="150" height="150" border="0"]
                      td[align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        img[src="sten1/st9.jpg" width="150" height="150" border="0"]
                    tr
                      td[style="text-align : center;" align="center" width="143"]
                        img[src="sten1/st7.jpg" width="150" height="150" border="0"]
                      td[style="text-align : center;" align="center" width="165"]
                        img[src="sten1/st4.jpg" width="150" height="150" border="0"]
                      td[align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="70"]
                        img[src="sten1/st5.jpg" width="150" height="150" border="0"]
                    tr
                      td[style="text-align : center;" align="center" width="143"]
                        img[src="sten1/st1.jpg" width="150" height="150" border="0"]
                      td[style="text-align : center;" align="center" width="165"]
                        img[src="sten1/st6.jpg" width="150" height="150" border="0"]
                      td[align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="70"]
                        img[src="sten1/st11.jpg" width="150" height="150" border="0"]
                    tr
                      td[align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="143"]
                        img[src="sten1/st13.jpg" width="150" height="150" border="0"]
                      td[align="center" style="text-align : center;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="165"]
                        img[src="sten1/st19.jpg" width="122" height="150" border="0"]
                      td[align="center" style="text-align : center;border-right-width : 0px;border-right-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="70" bgcolor="#0e042d"]
                        |  
                        font[color="#ffffff"]
                          | 世界に一つだけの
                          br
                          |  ステンドグラス
                          br
                          |  あなたのお部屋に
                          br
                          |  素敵なリフォーム！
                    tr
                      td[align="center" style="text-align : center;border-bottom-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="73" rowspan="3" bgcolor="#dcfdc8"]
                        | 施工事例→  
                      td[align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="143"]
                        img[src="sten1/st16.jpg" width="149" height="240" border="0"]
                      td[align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="165"]
                        img[src="sten1/st12.jpg" width="149" height="240" border="0"]
                      td[align="center" style="text-align : center;border-right-width : 0px;border-bottom-width : 0px;border-right-style : none;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="70"]
                        img[src="sten1/st14.jpg" width="150" height="246" border="0"]
                    tr
                      td[align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="143"]
                        img[src="sten1/st17.jpg" width="149" height="240" border="0"]
                      td[align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="165"]
                        |  
                        img[src="sten1/st18.jpg" width="149" height="240" border="0"]
                      td[align="center" style="text-align : center;border-right-width : 0px;border-bottom-width : 0px;border-right-style : none;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;" width="70"]
                        img[src="sten1/st15.jpg" width="149" height="240" border="0"]
                    tr
                      td[align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        img[src="sten1/st20.jpg" width="150" height="215" border="0"]
                      td[align="center" style="text-align : center;border-bottom-width : 0px;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        |  
                        img[src="sten1/st23.jpg" width="149" height="215" border="0"]
                      td[align="center" style="text-align : center;border-right-width : 0px;border-bottom-width : 0px;border-right-style : none;border-bottom-style : none;border-right-color : #cccccc;border-bottom-color : #cccccc;"]
                        a#HPB_ROLLOVER1[href="#" name="HPB_ROLLOVER1" onmouseout="HpbImgSwap('HPB_ROLLOVER1', 'sten1/st22.jpg');" onmouseover="HpbImgSwap('HPB_ROLLOVER1', 'sten1/st21.jpg');"]
                          img[src="sten1/st22.jpg" width="150" height="215" border="0" name="HPB_ROLLOVER1"]
                    tr
                      td[align="center" style="text-align : center;border-bottom-width : 0px;border-right-color : #cccccc;border-bottom-color : #cccccc;" bgcolor="#0e042d" colspan="4" height="12"]
                        font[color="#ffffff"]
                          |  ※ 豊富なバリエーションとオリジナルデザインの手作りステンドグラスです。
                |  　　 　　　 　　　 　　　 　　　 　　　 　　　 　　　
                ul
                  li
                    font[color="#ff0000"]
                      b
                        | ↑
                      font[color="#ff0000"]
                        | 新しいお部屋のインテリア
                      | に、 ステンドグラスをデザインする愉しさをご提案します。
                    | 　　　
              #pagetop
                a[href="#hpb-container"]
                  | このページの先頭へ
        #hpb-nav
          h3.hpb-c-index
            | ナビゲーション
          ul
            li#nav-toppage
              a[href="index.html"]
                span.ja
                  | トップページ
                span.en
                  | TOP PAGE
            li#nav-concept
              a[href="concept.html"]
                span.ja
                  | 会社方針
                span.en
                  | CONCEPT
            li#nav-service
              a[href="service.html"]
                span.ja
                  | 施工事例
                span.en
                  | PRODUCTS
            li#nav-news
              a[href="news.html"]
                span.ja
                  | 新着情報・FAQ
                span.en
                  | NEWS&FAQ
            li#nav-company
              a[href="company.html"]
                span.ja
                  | 会社概要
                span.en
                  | COMPANY
            li#nav-recruit
              a[href="recruit.html"]
                span.ja
                  | 採用情報
                span.en
                  | RECRUIT
            li#nav-contact
              a[href="contact.html"]
                span.ja
                  | お問い合わせ
                span.en
                  | CONTACT US
        #hpb-aside
          h3.hpb-c-index
            | バナースペース
          #banner
            ul
              li
                a#banner-service[href="service.html"]
                  | 施工事例
              li
                a#banner-recruit[href="mokubut2.html"]
                  | 木部外壁塗装の手順
              li
                a#banner-beaf[href="sekoo3.html"]
                  | ビフォーアフター
              li
                a#banner-access[href="access.html"]
                  | アクセス
              li
                a#banner-paint[href="http://ameblo.jp/home-paint/" style="background-image : url('top_banner_1Ad_04.png');"]
                  | ブログ
          #companyinfo
            h3
              | ホームメイドで嬉しいリフォーム！
            p
              | 〒500-8029
              br
              |  岐阜市東材木町37-2
              br
              |  代表者 臼井常雄
              br
            p
              | TEL 058-262-5694
              br
              |  FAX 058-262-5689
              br
              |  携帯 090-8451-0238
      #hpb-footer
        #hpb-footerMain
          p
            | copyright©2016 Home Made Inc. all rights reserved.
        #hpb-footerExtra1
          h3.hpb-c-index
            | サブナビゲーション
          ul
            li
              a[href="privacy.html"]
                | プライバシーポリシー
            li
              a[href="law.html"]
                | 特定商取引法に関する記述
    p
      a[href="sp1/index.html"]
        | スマートフォン版
